<ion-card>

  <ion-list>
    <ion-list-header color="tertiary">
      <ion-title>
        <ion-text color="danger">Bronze</ion-text>&nbsp;Package
      </ion-title>
      <ion-img src="../../assets/img/bronze.svg" style="width: 55px;"></ion-img>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap color="dark">
        Access to all DFS data-tables
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap color="dark">
        Videos providing DFS stats analysis
        <br>
        <sub>Catagorized by topic</sub>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap color="dark">
        Access to All Past and Upcoming Livestream events
        <br>
        <sub>Receive notification of upcoming events</sub>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap color="dark">
        Exclusive DFS chat room access
        <br>
        <sub>
          Get the info you need, when you need it.
        </sub>
      </ion-label>

    </ion-item>
    <ion-item>
      <ion-label text-wrap color="dark">
        <sub>... many other upcoming tools and resources</sub>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap color="dark">Month -to- Month Subscription</ion-label>
    </ion-item>
    <ion-item color="medium" lines="none">
      <ion-label text-wrap color="secondary">$10.00 Billed Monthly</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bronze Package</ion-label>
      <ion-radio slot="start" color="warning" value="plan_FCqXwICAOJTNVw" class="submit is-success"></ion-radio>
    </ion-item>
  </ion-list>
</ion-card>
