    .soccer{
        background: linear-gradient(to bottom, rgba(53, 20, 66, 0.815) 0%, rgba(14, 68, 70, 0.801) 25%), url('../../assets/img/field-diagram.png');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
   }

       .golf{
        background: linear-gradient(to bottom, rgba(53, 20, 66, 0.815) 0%, rgba(14, 68, 70, 0.801) 25%), url('../../assets/img/field-diagram.png');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
   }

       .tennis{
        background: linear-gradient(to bottom, rgba(53, 20, 66, 0.815) 0%, rgba(14, 68, 70, 0.801) 25%), url('../../assets/img/field-diagram.png');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
   }
