<app-header></app-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
       
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>Stats</ion-title>
  </ion-toolbar>

<ion-content text-center>
  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-card  class="tennis" color="primary" padding>
          <ion-card-title>
            Tennis Stats
          </ion-card-title>
                 <ion-button extend="block" shape="round" color="warning" routerLink="tennis">
             <ion-icon color="primary"  name="tennisball"></ion-icon>Tennis
          </ion-button>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card class="golf"  color="primary" padding>
          <ion-card-title>
            Golf Stats
          </ion-card-title>
         
          <ion-button extend="block" shape="round" color="warning" routerLink="golf">
            <ion-icon color="primary" name="stats"></ion-icon>Golf
          </ion-button>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card class="soccer"  color="primary" padding>
          <ion-title>
            Soccer Stats
          </ion-title>
         
          <ion-button extend="block" shape="round" color="warning" routerLink="soccer">
            <ion-icon color="primary"   name="football"></ion-icon>Soccer
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<app-footer></app-footer>
