 h4{
   font-variant: small-caps;
   font-size: large;
   font-weight: 800;
   
 }
 
 h6{
    font-size: large;
    font-weight: 800;
}
 h2{
    font-size: xx-large;
    font-weight: 900;
 }
ion-content{
   margin: auto;
}