<app-header></app-header>

<ion-content 
padding 
fullscreen
(ionScroll)="onScroll($event)"
[scrollEvents]="true">
  
  
  <ion-grid>
    <ion-row>
      <ion-col size="auto" >

        
    <ng-container *ngIf="auth.user| async as user; else login">
        <ion-card color="primary" padding>
    <ion-card-header>
       <ion-card-title text-center>
         <ion-text color="secondary" style="text-shadow: 1px 1px black;">
          <h2>

            Rank Fantasy $ports Profile
          </h2>
          </ion-text>
</ion-card-title>
</ion-card-header>
    <ion-item lines="none" color="primary">

      <ion-thumbnail>
        
        <img [src]="user.photoURL || '../../assets/img/dummy-user.png'">
      </ion-thumbnail>
      <ion-title>
        <ion-text color="secondary">
         
         {{ user.displayName || 'User' }}
        

        </ion-text>
        </ion-title>
      </ion-item>
      
    <ion-card-content>
        
      <ion-text color="secondary">Email:</ion-text>
        <ion-chip color="dark">

          <ion-text color="warning">{{ user.email }}</ion-text>
        </ion-chip>
        <br>
        
        <hr>
  
         <ion-text color="secondary">
         RF$&trade; Subscription:
        </ion-text>
        
          
          <ion-text color="secondary">
        
        <ion-chip color="dark"> 
                <div [hidden]="!user.gold">
                  <ion-text color="gold">
                  Gold Package
                </ion-text>
                </div>   
                
                <div [hidden]="!user.silver">
                  <ion-text color="silver">
                  Silver Package
                </ion-text>
                </div>  
                
                <div [hidden]="!user.bronze">
               <ion-text color="bronze">
                  Bronze Package 
                </ion-text>
              </div>   
            </ion-chip>
          </ion-text>

          <ng-template #purchase>
          <ion-button color="danger" shape="round" strong routerLink="/pricing">
            <ion-text >
              View Pricing
            </ion-text>
          </ion-button>
        </ng-template>
          <br>
          <ion-button size="small" shape="round" color="success" routerLink="/auth/settings">
            Update Name, Email, &amp; Photo
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>
    
    <ng-template #login>
      <ion-button color="medium" routerLink="/login">
      </ion-button>
    </ng-template>
    
        
    <ion-card text-center  color="primary">
          <ion-card-header>
            <ion-card-title color="secondary">
            <strong>
              <ion-text color="secondary">
                Theme Options
              </ion-text>
            </strong>
          </ion-card-title>
        </ion-card-header>
            <ion-card-subtitle>
              <ion-text color="warning">
                <strong>
                  
                  Current Theme Colors 
                </strong>
                
              </ion-text>
            </ion-card-subtitle>
            
        <ion-button expand="full" strong size="small" color="tertiary">Accent One Color</ion-button>
        <ion-button expand="full" strong size="small" color="light">Accent Two Color</ion-button>
        <ion-button expand="full" strong size="small" color="medium">Accent Three Color</ion-button>
        <ion-button expand="full" strong size="small" color="primary">Card Background Color</ion-button>
        <ion-button expand="full" strong size="small" color="secondary">Heading/Title Color</ion-button>
        <ion-button expand="full" strong size="small" color="warning">Sub-title Color</ion-button>
        
        <hr>
        <br>
        <ion-card-subtitle>
          
          <ion-text color="warning">
            <strong>
              
              Unique Themes
            </strong>
            
          </ion-text>
        </ion-card-subtitle>
        <ion-card-content>
          
        <ion-button color="success" (click)="changeTheme('autumn')">Option 1</ion-button>
        <ion-button color="success" (click)="changeTheme('night')">Option 2</ion-button>
        <ion-button color="success" (click)="changeTheme('neon')">Option 3</ion-button>
        <ion-button color="success" (click)="changeTheme('')">Default</ion-button>
      </ion-card-content>
        <hr>
        <ion-card-subtitle>
          
          <ion-text color="warning">
            <strong>
              
              Pro Team Themes
            </strong>
            
          </ion-text>
        </ion-card-subtitle>
        <ion-card-content>
          
          <ion-button strong color="light">
            <ion-text color="danger">
              
              Coming Soon!
            </ion-text>
          </ion-button>
          
        </ion-card-content>
      </ion-card>
      <ng-container *ngIf="auth.user | async as user">
        <div *ngIf="(user.gold || user.silver || user.bronze); else buy">

          <ion-card text-center padding color="primary">
            <ion-card-header>
            <ion-card-title>
              <ion-text color="secondary">
                Account Management
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-text color="secondary">
            UserID: 
            <ion-chip>
              <ion-text color="warning">{{ user.uid }}</ion-text>
            </ion-chip>
          </ion-text>
          <br>
          <ion-button size="small" shape="round" (click)="listSubscriptions()" color="secondary">
            <ion-text color="dark">
              
              View Subscriptions
            </ion-text>
          </ion-button>
          <br>
          
          <ion-button size="small" shape="round" color="secondary">
            <ion-text color="dark">
              
              View Invoices
            </ion-text>
          </ion-button>
          <br>
          
          <ion-button  size="small" color="danger"  shape="round" (click)="auth.SignOut()" >Logout</ion-button>
          <br>
          <hr>
          <br>
          <ion-button  size="small" fill="outline" shape="round" color="danger">Cancel Subscription</ion-button>
          <br>
        </ion-card>
      </div>
      <ng-template #buy>
        <ion-card text-center color="primary" padding>
          <ion-card-header>
            <ion-card-title>
              <ion-text color="secondary">
                Account Management
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          
          <ion-button color="secondary" expand="block" routerLink="/pricing">
            View Memberships Options
          </ion-button>
        </ion-card>
      </ng-template>
    </ng-container>

        <ion-card padding text-center color="primary">
          
          
          <ion-card-title>
            <ion-text color="secondary">
              Support Request
      
              </ion-text>
              
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text color="warning">
                Request Support, Make a Feature Request, or a General Inquiry
              </ion-text>
              </ion-card-subtitle>
              <ion-card-content>
              <p>
  
                Not finding the answers you need? Open a support request, and we will get back to you ASAP!
              </p>
                
                <ion-button shape="round" color="danger" (click)="openSupportModal()">
                  <ion-icon color="light" name="help-buoy"></ion-icon>
                  <ion-text color="light">
                    Request Support 
                  </ion-text>
                </ion-button>
              </ion-card-content>
            </ion-card>
        <ion-card  text-center color="primary" padding>
          <ion-card-title>
            <ion-text color="secondary">

              More Information

            </ion-text>
          </ion-card-title>
          <pre>
            {{ subscriptionList | json }}
          </pre>
    
        </ion-card>
        
        </ion-col>
        <ion-col>
          <app-list-tables></app-list-tables>
  </ion-col>
</ion-row>
</ion-grid>





</ion-content>
<!-- <app-footer></app-footer> -->
