<app-header></app-header>


<ion-content fullscreen >
    <ion-grid>
        <ion-row>
          
      
          <ion-col size-md="4" offset-md="4">


    <ion-card  color="primary">
        <img src="../../assets/logo-md.svg">
        <ion-card-content>
          <hr>

          <ion-text color="secondary">

            <h2> <strong>Reset Password</strong></h2>
          </ion-text>
            <ion-text color="light">
        
        <p class="ion-text-center">
          1. Enter email address used to register and submit 
          <br>
           2. Check email for further instructions</p>
      </ion-text>
      
       
      <ion-card>
        
        <!-- Calling ForgotPassword from AuthService Api -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input #passwordResetEmail inputmode="email" >
          </ion-input>
        </ion-item>
      </ion-card>
   <ion-button expand="block" color="tertiary" (click)="auth.ForgotPassword(passwordResetEmail.value)"><ion-ripple-effect></ion-ripple-effect>
    <ion-label color="warning">
      Submit Password Reset
    </ion-label>
  </ion-button>

      <ion-button expand="block" color="medium" routerLink="/sign-in"><ion-ripple-effect></ion-ripple-effect>
        <ion-label color="warning">
          Back to Login
        </ion-label>
      </ion-button>


</ion-card-content>
</ion-card>
  </ion-col>


  </ion-row>
  </ion-grid>

</ion-content>
<app-footer></app-footer>
