
    <ion-card color="primary" style="max-width:500px;" >
      <img src="../../assets/logo-md.svg">
      <ion-card-header>
        <ion-card-title><ion-text color="warning">Step 1:</ion-text>&nbsp;Register -or- Sign In</ion-card-title>
        <ion-card-title>
        <ion-text color="secondary">
            <strong>
           Account Sign In
          </strong>
          </ion-text>  
        </ion-card-title>
      </ion-card-header>
            <ion-card-content>
          <ion-item color="medium">
            <ion-label color="tertiary" position="floating">Email</ion-label>
            <ion-input  #userName required color="dark" inputmode="email" ></ion-input>
          </ion-item>
          <br>
          <ion-item color="medium">
            <ion-label color="tertiary" position="floating">Password</ion-label>
            <ion-input #userPassword pattern="password" color="dark" type="password" minlength="7" maxlength="50" required>
            </ion-input>
          </ion-item>
        <hr>
        <ion-button expand="block" color="tertiary" (click)="authService.SignIn(userName.value, userPassword.value)">
          <ion-ripple-effect></ion-ripple-effect><ion-label color="light">
          Sign In</ion-label></ion-button>

        <ion-button expand="block" color="danger"  (click)="authService.GoogleAuth()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon icon-only name="logo-google"></ion-icon>
            <ion-label>
              &nbsp;Sign In
            </ion-label>
        </ion-button>
        <ion-button color="secondary" expand="block" fill="clear" routerLink="/forgot-password"><ion-ripple-effect></ion-ripple-effect>
          I Forgot My Password</ion-button>
          <ion-button color="secondary" expand="block" fill="clear" routerLink="/launch-page">
            <ion-ripple-effect></ion-ripple-effect>I need to Sign Up</ion-button>
          </ion-card-content>
        </ion-card>
