h3{
  line-height: 1;
  font-size: xx-large;
  margin-bottom: 1;
  font-variant: small-caps;
  font-weight: 900;
  text-transform: capitalize;;
}
h5{
  line-height: 1;
  font-size: large;
  margin-bottom: 1;
  font-variant: small-caps;
  font-weight: 700;
  font-stretch:semi-condensed;
  text-transform: capitalize;;
}
