<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="6" offset-xl="3">

        <ion-card color="primary">
          <ion-card-header text-center>

            <ion-card-title>
     <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">
      How To...     </ion-text>
    </ion-card-title>
            <ion-card-subtitle>
     <ion-text color="warning" style="text-shadow: 1px 1px #000000;">

      Instructions for Purchase &amp; Usage of the RF$&trade; App
    </ion-text>
    </ion-card-subtitle>
  </ion-card-header>
    <ion-text color="light" style="font-size: 1.3em; text-shadow: 1px 1px #000000;">
        
      <ol type="1">
        <li>

          Go to www.rankfantasysports.com
        </li>
        <br>
        <li>
          Click the, “7 day free trial” button.

        </li>
        <br>
        <li>
            Create an account with your email address and password.
        </li>
        <br>
        <li>
          Pick which package you want:
            <ol type="a">
              <li>
                <ion-chip style="color:darkgoldenrod;">
                Bronze package</ion-chip> $9.99 per month
              </li>
              <li>
                <ion-chip style="color:silver;">
                Silver package</ion-chip> $50 semi-annually (every 6 months)
              </li>
              <li>
                <ion-chip style="color:gold;">
                Gold package</ion-chip> $90 annually
                
              </li>
            </ol> 
          </li>
          <br>
        <li>
          Click the hamburger menu in the top left corner &amp; click the Happening Now tab to see Today’s DK Value Rankings.
        </li>
        <br>
        <li>
          Click the Tennis tab to see all Men’s &amp; Women’s tennis DK cheat sheets &amp; stat models.
        </li>
        <br>
        <li>
          Click the NFL tab for access to the football DK cheat sheets &amp; stat models.
        </li>
        <br>
        <li>
          Click the CFB tab to get access to our college football Power Rankings &amp; Score Prediction cheat sheets.
        </li>
        <br>
        <li>
          Click the PGA tab for access to all golf DK cheat sheets &amp; stat models.
        </li>
        <br>
        <li>
          Click the NBA tab for access to all basketball DK cheat sheets &amp; stat models.
        </li>
        </ol>
      </ion-text>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>

