// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.colo{
  background-color: #58646b !important;
  :hover{
    color: #ebfd47
  }
 
}
.cololo{
  background-color: #8a8a8a !important;

}
