<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="warning">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
  <ion-toolbar>
    <ion-title>FAQs</ion-title>
        Check here first for answers to your questions!
  </ion-toolbar>
 
<ion-content color="success">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          This is a card
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          This another card!
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
