// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.colo{
  background-color: #58646b !important;
  :hover{
    color: rgb(16, 196, 166);
  }
  :focus{
    color: rgb(16, 196, 166);
      // background-color: rgb(128, 131, 136)
  }
}
.cololo{
  background-color: #a5a5a5 !important;

}
