<ion-header tranlucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning"> 
      </ion-menu-button>
    </ion-buttons>
    <ion-item  button color="primary" slot="end" *ngIf="auth.afAuth.user | async as user" (click)="auth.SignOut()">
      <!-- <ion-button type="button"  -->
      <ion-icon name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'"/> 
        </ion-avatar>
          &nbsp; 
          &nbsp;
        <ion-icon color="danger" name="log-out" icon-only>
        </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content 
class="ion-padding"
fullscreen
(ionScroll)="onScroll($event)"
[scrollEvents]="true">
  
  
  
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-card-title>
              RF$&trade; Frequently Asked Questions
            </ion-card-title>
          </ion-card-header>
          
          <mat-accordion >
            <mat-expansion-panel class="colo" *ngFor="let faq of faqs">
                <mat-expansion-panel-header >
                  <mat-panel-title >
                 <ion-text color="secondary"> <p ion-text-start><strong>  {{faq.title}}</strong></p></ion-text>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <mat-panel-description>
                <ion-button (click)="copy(faq.title, faq.info)">
                 Copy
               </ion-button>
              </mat-panel-description> -->
              <ion-text color="warning"> <p ion-text-start>{{ faq.info }}  </p></ion-text>
              
            </mat-expansion-panel>
            
          </mat-accordion>
        </ion-card>
   
       </ion-col>
    </ion-row>
  </ion-grid>



<ion-fab vertical="bottom" horizontal="end" edge slot="fixed" >
    <ion-fab-button id="scrollToTop" [hidden]="!scrolledDown" color="warning" size="small" (click)="ScrollToTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>



<ion-footer translucent>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="tertiary">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="facebk" href="https://fb.me/ranktowinfantasysports">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twittr" href="https://twitter.com/rankfsports">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-toolbar color="medium">
   </ion-toolbar>
</ion-footer>
