<ion-card color="primary" class="ion-text-center">
  <ion-grid>
    <!-- Row 1 -->
    <ion-row class="align-items-stretch">
      <ion-col>
        <ion-title>
          <ion-text>
            Get the information you need to Win $ Consistently
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Row2 Column 1 -->
      <ion-col>
        <ion-text>
          $5000 + users winning daily
        </ion-text>
        <ion-button>
          <ion-icon icon-only name="currency"></ion-icon>
        </ion-button>
        <ion-text>
          Win some money
        </ion-text>
      </ion-col>
<!-- Row 2 Column 2 -->
      <ion-col>
        <ion-text>
          $15,000 + 7 day Winning
        </ion-text>
        <ion-button>
          <ion-icon icon-only name="person"></ion-icon>
        </ion-button>
        <ion-text>
          Get knowledge to compete with Anyone
        </ion-text>
      </ion-col>
<!-- Row 2 Column 3 -->
      <ion-col>
        <ion-text>
          Up to 6 sports daily
        </ion-text>
        <ion-button>
          <ion-icon icon-only name="analytics"></ion-icon>
        </ion-button>
        <ion-text>
          Cheatsheets
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
