<ion-header >

  <!-- Mobile 1st toolbar -->
  <ion-toolbar color="primary" *ngIf="mobile">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button color="silver"> </ion-menu-button>
    </ion-buttons>

    <ion-item *ngIf="authService.afAuth.user | async as user; else getStarted"
        slot="end"
        type="button"
        color="primary"
        (click)="presentPopover($event)"
        detail="false"
        lines="none"
        >
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'" />
        </ion-avatar>
      </ion-item>

    <ng-template #getStarted>
      <ion-button
      slot="end"
      *ngIf="showGetStartedButton"
      color="success"
      routerLink="/membership"
      style="margin-right:30px;position: relative; top:10px"
      >
      <ion-text color="light" class="ion-text-capitalize" style="font-weight: 700;font-variant:small-caps; align-self:center">
        Get Started
        </ion-text>
      </ion-button>
    </ng-template>
  </ion-toolbar>

<!-- Desktop 1st toolbar Version of Top Nav -->
  <ion-toolbar color="primary" *ngIf="!mobile">

    <div class="top-nav">
      <ion-text color="silver" class="ion-text-uppercase" style="font-weight: 700; padding-left:40px;">


        <a routerLink="/home" routerLinkActive="router-link-active">Home</a>
      <a routerLink="/faq" routerLinkActive="router-link-active">FAQ</a>
      <a routerLink="/testimonials" routerLinkActive="router-link-active">Testimonials</a>
      <a routerLink="/how-to" routerLinkActive="router-link-active">How-to</a>
      <a routerLink="/tables" routerLinkActive="router-link-active">Stats & Projections</a>
      </ion-text>

    </div>
    <ng-container *ngIf="authService.afAuth.user | async as user; else getStarted">
      <ion-item
        slot="end"
        type="button"
        color="primary"
        (click)="presentPopover($event)"
        detail="false"
        lines="none"
      >
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'" />
        </ion-avatar>
      </ion-item>
    </ng-container>
    <ng-template #getStarted>
      <ion-button
      slot="end"
      *ngIf="showGetStartedButton"
      color="success"
      routerLink="/membership"
      style="margin-right:30px;position: relative;"
      >
      <ion-text color="light" class="ion-text-capitalize" style="font-weight: 700;font-variant:small-caps; align-self:center">
        Get Started
        </ion-text>
      </ion-button>
    </ng-template>
  </ion-toolbar>


</ion-header>
