<ion-grid>
<ion-row >
  <ion-col class="ion-align-self-center  ion-text-center">
    <ion-text>
      <h3>
        Case Study & Testimonials
      </h3>
      <ion-text class="text">
        We asked Taylor what he was doing before and how he is liking Game Work...
      </ion-text>
      <hr />
    </ion-text>
  </ion-col>
</ion-row>
<ion-row class="ion-text-wrap">
  <ion-col
    class="ion-text-center ion-text-wrap ion-align-self-center"

    size-sm="12"
    size-md="12"
    size-lg="4"
    size-xl="4"
  >
    <img class="top" src="../../../assets/img/tyler.webp" />
  </ion-col>
  <ion-col
    class="ion-align-self-center ion-text-center ion-wrap-reverse"

    size-sm="12"
    size-md="12"

    size-lg="4"
    size-xl="4"
    >
    <img class="tyler"  src="../../../assets/img/tyler.jpg" />
  </ion-col>
  <ion-col
  class="ion-align-self-center  ion-text-wrap ion-text-center"

  size-sm="12"
  size-md="12"
  size-lg="4"
  size-xl="4"
  >
  <img class="top" src="../../../assets/img/charding.webp" />
</ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-align-self-center  ion-text-center">
    <ion-text style='padding-top:40px;'>
      <h3>
        ...And More!
      </h3>
    </ion-text>
  </ion-col>
</ion-row>
<ion-row class="ion-text-wrap">
  <ion-col
    class="ion-align-self-center  ion-text-wrap ion-text-center"

    size-sm="12"
    size-md="12"

    size-lg="4"
    size-xl="4"
  >
    <img class="bottom" src="../../../assets/img/pat.png" />
  </ion-col>
  <ion-col
    class="ion-text-center  ion-text-wrap ion-align-self-center"

    size-sm="12"
    size-md="12"

    size-lg="4"
    size-xl="4"
  >
    <img class="bottom"  src="../../../assets/img/adrian.png" />
  </ion-col>
  <ion-col
    class="ion-text-center  ion-text-wrap ion-align-self-center"

    size-sm="12"
    size-md="12"
      size-lg="4"
    size-xl="4"
  >
    <img class="bottom"  src="../../../assets/img/nate.png" />
  </ion-col>
</ion-row>
</ion-grid>
