.top{
    width:70%;
    padding-bottom: 30px;
}
.bottom{
    width:80%;
    padding-bottom: 30px;
}

h5{
    line-height: 1;
    font-size: x-large;
    font-variant: small-caps;
    font-weight: 900;
    font-stretch:condensed;
}

h6{
    font-size: large;
    margin-bottom: 40px;
    font-weight: 800;
    font-stretch:semi-condensed;
  }
  .endo{
    margin: 40px;
  }
