<ion-row class="ion-align-items-center">
  <ion-col class="endorse ion-text-wrap">
    <ion-text>
      <h5>
        Case Study & Testimonials
      </h5>
      <h6>
        We Asked Taylor What He Was Doing Before And How He Is Liking RFS...
      </h6>
    </ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col
    class="ion-text-center"
    
    size-sm="12"
    size-md="4"
    size-lg="4"
    size-xl="4"
  >
    <img class="top" src="../../../assets/img/tyler.webp" />
  </ion-col>
  <ion-col
    class="ion-text-center"
    
    size-sm="12"
    size-md="4"
    size-lg="4"
    size-xl="4"
  >
    <img class="top" src="../../../assets/img/tyler.jpg" />
  </ion-col>
  <ion-col
    class="ion-text-center"
    
    size-sm="12"
    size-md="4"
    size-lg="4"
    size-xl="4"
  >
    <img class="top" src="../../../assets/img/charding.webp" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="endorse ion-text-wrap">
    <ion-text>
      <h5>
        And More!
      </h5>
    </ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col
    class="ion-text-center"
    
    size-sm="12"
    size-md="4"
    size-lg="4"
    size-xl="4"
  >
    <img class="bottom" src="../../../assets/img/pat.png" />
  </ion-col>
  <ion-col
    class="ion-text-center"
    
    size-sm="12"
    size-md="4"
    size-lg="4"
    size-xl="4"
  >
    <img class="bottom" src="../../../assets/img/adrian.png" />
  </ion-col>
  <ion-col
    class="ion-text-center"
    
    size-sm="12"
    size-md="4"
    size-lg="4"
    size-xl="4"
  >
    <img class="bottom" src="../../../assets/img/nate.png" />
  </ion-col>
</ion-row>
