.top{
    width:70%;
    padding-bottom: 30px;
}
.bottom{
    width:80%;
    padding-bottom: 30px;
}

h5{
    font-size: x-large;
    font-variant: small-caps;
    font-weight: 700;
    font-stretch:condensed;
}

h3{
    font-size: x-large;
    margin-bottom: 40px;
    font-weight: 900;
  }


