<ion-row class="ion-text-center ion-justify-content-center">
  <ion-col class="ion-align-self-center">
    <ion-text>
      <h3>
        Case Study & Testimonials
      </h3>
      <h5>
        We Asked Taylor What He Was Doing Before And How He Is Liking RFS...
      </h5>
    </ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col
    class="ion-text-center ion-align-self-cente"

    size-sm="12"
    size-md="10"
    size-lg="4"
    size-xl="4"
  >
    <img src="../../../assets/img/tyler.webp" />
  </ion-col>
  <ion-col
    class="ion-align-self-center ion-text-center ion-wrap-reverse"

    size-sm="12"
    size-md="10"

    size-lg="4"
    size-xl="4"
    >
    <img  src="../../../assets/img/tyler.jpg" />
  </ion-col>
  <ion-col
  class="ion-align-self-center ion-text-center"

  size-sm="12"
  size-md="10"
  size-lg="4"
  size-xl="4"
  >
  <img style="size:80%;" src="../../../assets/img/charding.webp" />
</ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-align-self-center endorse ion-text-wrap">
    <ion-text>
      <h3>
        And More!
      </h3>
    </ion-text>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col
    class="ion-align-self-center ion-text-center bottom"

    size-sm="12"
    size-md="10"

    size-lg="4"
    size-xl="4"
  >
    <img src="../../../assets/img/pat.png" />
  </ion-col>
  <ion-col
    class="ion-text-center ion-align-self-center bottom"

    size-sm="12"
    size-md="10"

    size-lg="4"
    size-xl="4"
  >
    <img  src="../../../assets/img/adrian.png" />
  </ion-col>
  <ion-col
    class="ion-text-center ion-align-self-center bottom"

    size-sm="12"
    size-md="10"
      size-lg="4"
    size-xl="4"
  >
    <img  src="../../../assets/img/nate.png" />
  </ion-col>
</ion-row>
