<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning">
      </ion-menu-button>
    </ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-grid>
        <ion-row>
          <ion-col>
      
          </ion-col>
      
          <ion-col>
    <ion-card color="primary" *ngIf="authService.userData as user">
        <img src="../../assets/logo-md.svg">
        <ion-card-content>
          <hr>

      <ion-text color="light" >

          <h2>Thank You for Registering</h2>
          <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p>Please check your email and click on the link to verfiy your email address.</p>
      </ion-text>
      
       
       <!-- <ion-card> -->
        
        <!-- Calling ForgotPassword from AuthService Api -->
        <!-- <ion-item> -->
          <!-- <ion-label position="floating">Email</ion-label> -->
          <!-- <ion-input #passwordResetEmail inputmode="email" > -->
          <!-- </ion-input> -->
        <!-- </ion-item> -->
      <!-- </ion-card> -->
   <ion-button color="warning" (click)="authService.SendVerificationMail()">Resend</ion-button>
   
  </ion-card-content>
</ion-card>
<ion-button color="success" routerLink="/sign-in">Back to Sign In </ion-button>
</ion-col>
<ion-col>

  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
<ion-footer translucent="true">
    <ion-fab vertical="bottom" horizontal="end" slot="float">
        <ion-fab-button color="secondary">
          <ion-icon name="rocket"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top" >
                <ion-fab-button color="success" href="https://fb.me/ranktowinfantasysports"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
                <ion-fab-button color="medium" href="https://twitter.com/rankfsports"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
                <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
              </ion-fab-list>
          </ion-fab>

            <ion-toolbar color="medium">
              <ion-buttons>
                <ion-button color="success"  href="mailto://support@rankfantasysports.com>">

                  <ion-text ion-text-center>
                    Support Request
                  </ion-text>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>

          </ion-footer>