img {
  height: 100px;
  width: 100px;
  display: -webkit-inline-box;
  display: inline-block;
}

h5, h2{
color: var(--ion-color-medium);
font-weight: 800;
}
.top {
  font-size: x-large  ;

}

.iconrow {
  border-top: thick solid silver;
  padding-top: 30px;
  padding-bottom: 40px;
}