<ion-card color="medium">
  <ion-grid>
    <ion-row class="ion-text-center" size="10">
      <ion-col class="button" routerLink="/NFL">
        <!-- <img class="nfl" src="../../assets/img/gold.svg"/> -->
        <ion-icon name="american-football" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          NFL
        </ion-text>
      </ion-col>
      <ion-col class="button" routerLink="/CFB">
        <!-- <img class="nfl"  src="../../assets/img/gold.svg"/> -->
        <ion-icon name="american-football" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          CFB
        </ion-text>
      </ion-col>
      <ion-col class="button" routerLink="/NBA">
        <!-- <img class="nba"  src="../../assets/img/gold.svg"/> -->
        <ion-icon name="basketball" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          NBA
        </ion-text>
      </ion-col>
      <ion-col class="button" routerLink="/CBB">
        <!-- <img class="cbb"  src="../../assets/img/gold.svg"/> -->
        <ion-icon name="basketball" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          CBB
        </ion-text>
      </ion-col>
      <ion-col class="button" routerLink="/PGA">
        <!-- <img class="PGA"  src="../../assets/img/gold.svg"/> -->
        <ion-icon name="radio-button-off" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          PGA
        </ion-text>
      </ion-col>
      <ion-col class="button" routerLink="/ATP">
        <!-- <img class="ATP"  src="../../assets/img/gold.svg"> -->
        <ion-icon name="tennisball" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          ATP
        </ion-text>
      </ion-col>
      <ion-col class="button" routerLink="/WTA">
        <!-- <img class="WTA"  src="../../assets/img/gold.svg"/> -->
        <ion-icon name="tennisball" size="large" color="dark"></ion-icon>
        <br />
        <ion-text color="primary">
          WTA
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
