<div class="iconrow">
  <!-- <ion-grid> -->
    <ion-row class="ion-text-center">
      <ion-col
        class="ion-text-wrap ion-align-items-stretch ion-text-center ion-padding"
      >
          <ion-text class="top ">
            <h2>
              Helping You Win Is Our Business
            </h2>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-text-wrap">
      <ion-col
        size-xl="3"
        offset-xl="1.5"
        size-lg="3"
        offset-lg="1.5"
        size-md="3"
        offset-md="1.5"
        size-sm="12"
        class="ion-text-wrap ion-align-items-stretch ion-text-center ion-padding"
      >
        <img src="../../../assets/img/football-19-128.png" />

        <h5>
          <ion-text color="primary">
            DraftKings Sports & Data
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            NFL, NBA (March Madness), CFB, GOLF & TENNIS
          </ion-text>
        </h6>
      </ion-col>
      <ion-col
        size-xl="3"
        size-lg="3"
        size-md="3"
        size-sm="12"
        class="ion-text-wrap ion-text-center ion-padding"
      >
        <img src="../../../assets/img/dashboard-128.webp" />

        <h5>
          <ion-text color="primary">
            Advanced Stats
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            Tournament Rankings, all DK relevant stats, power rankings,
            Moneyline and Bracketology
          </ion-text>
        </h6>
      </ion-col>
      <ion-col
        size-xl="3"
        size-lg="3"
        size-md="3"
        size-sm="12"
        class="ion-text-wrap ion-text-center ion-padding"
      >
        <img src="../../../assets/img/brains.webp" />

        <h5>
          <ion-text color="primary">
            Custom Picks and Projections
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            Value Rankings, cheat sheets, and Hand-picked data to give you the
            edge without wasting time
          </ion-text>
        </h6>
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-text-center ion-align-items-stretch ion-text-wrap"
      size="10"
    >
      <ion-col
        size-xl="4"
        offset-xl="2"
        size-lg="4"
        offset-lg="2"
        size-md="12"
        size-sm="12"
        class="ion-text-wrap ion-text-center ion-padding"
      >
        <img src="../../../assets/img/price-tag-5-128.webp" />

        <h5>
          <ion-text color="primary">
            Industry Best Pricing
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            We offer the best price for sports advice on the web!
          </ion-text>
        </h6>
      </ion-col>
      <ion-col
        size-xl="4"
        size-lg="4"
        size-md="12"
        size-sm="12"
        class="ion-text-wrap ion-text-center ion-padding"
      >
        <img src="../../../assets/img/world.webp" />

        <h5>
          <ion-text color="primary">
            Weekly and Season-long
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            Whether your playing a one-off contest or are in a season-long
            league, we've got you covered
          </ion-text>
        </h6>
      </ion-col>
    </ion-row>
  <!-- </ion-grid> -->
</div>
