<app-header></app-header>
<ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      
      </ion-back-button>
    </ion-buttons>
    <ion-title>X-Stats</ion-title>
  </ion-toolbar>

<ion-content text-center>
  <ion-card>

    <div id="widgetBox"><div id="free-livescore-widget-box" style="-webkit-overflow-scrolling:touch !important; overflow-y:auto !important;"><iframe id="free-livescore-iframe"></iframe></div><div id="xscoresLink" style="background-color:rgb(49, 40, 51);height:40px;width:100%;"><a id="a-xscores-link" target="_blank" href="https://www.xscores.com" style="color:rgb(121, 24, 69);text-align:center;display:block;font-size:13px;font-weight:normal;font-family:'Oswald', sans-serif;padding-top:12px;text-decoration:none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Get your Free Livescore service at XScores.com</a></div></div><script id="widgethandler" type="application/javascript" src="https://widgets.xscores.com/widget.min.js" data-webuid="639f8b740849667702a66aa2b12c6a2a" data-height="100%" data-width="970" data-type="1"></script>
  </ion-card>
  </ion-content>
  <app-footer></app-footer>
  