<app-header></app-header>
<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">
        <ion-card text-center color="primary">
          <ion-img src="../../../assets/logo.jpg"></ion-img>
            <ion-card-header>
            <ion-card-title  text-center>
              <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">
                <strong>
                  Account Login
                </strong>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
                  <form #formRef="ngForm">
                        <ion-item color="medium">
                          <ion-label color="warning"  position="floating">Email</ion-label>
                          <ion-input style="width: 95%;" autofocus clearInput autocomplete="username" color="dark" type="text" ngModel email name="email" #email="ngModel" required >
                          </ion-input>
                       
                        </ion-item>
                        <ion-note class="shadow" *ngIf="email.invalid && email.dirty" color="danger" text-wrap>
                            Enter a Valid Email Address
                          </ion-note>
                        <ion-item color="medium">
                          <ion-label color="warning" position="floating">Password</ion-label>
                          <ion-input 
                            style="width: 89%;"
                            autocomplete="current-password"
                            [type]="hide ? 'password' : 'text'" 
                            name="password" 
                            required 
                            minlength="8" 
                            #password="ngModel" 
                            ngModel 
                            password 
                            title="Hint: 8+ Characters | 1 or More Upper, Lower & Number">
                          </ion-input>
                            <ion-button  color="medium" shape="round" item-end (click)="hide = !hide" *ngIf="hide" style="position: absolute; right: 5px; bottom: 5px; background: transparent;">
                              <ion-icon size="large"  color="tertiary" name="eye"></ion-icon></ion-button>
                            <ion-button color="medium" shape="round" item-end (click)="hide = !hide" *ngIf="!hide" style="position: absolute; right: 5px; bottom: 5px; background: transparent;">
                              <ion-icon size="large" color="tertiary" name="eye-off"></ion-icon></ion-button>
                        </ion-item>
                        <ion-note class="shadow"  *ngIf="password.invalid && password.dirty" color="danger" text-wrap>
                          Hint: 8+ Characters | 1 or More Upper, Lower & Number
                        </ion-note>
                      <ion-button 
                      type="submit" 
                       color="success"
                      expand="full" 
                     (tsSubmitIfValid)="auth.SignIn(formRef)"><ion-ripple-effect></ion-ripple-effect>
                      <ion-text class="shadow"> <strong>Login</strong></ion-text>
                    </ion-button>
                    <ion-button color="danger" type="button" (click)="auth.GoogleAuth()" expand="full">Login with&nbsp; <ion-icon name="logo-google"></ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button color="twittr" type="button" (click)="auth.TwitterAuth()" expand="full">Login with&nbsp; <ion-icon name="logo-twitter"></ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button color="facebk"  type="button" (click)="auth.FacebookAuth()" expand="full">Login with&nbsp; <ion-icon name="logo-facebook"></ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                  </form>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="6">
                            <ion-button strong shape="round" routerLink="/auth/forgot-password" color="warning" fill="clear">
                              <ion-text  color="warning"><strong>Reset<br>Password</strong></ion-text>
                              <ion-ripple-effect></ion-ripple-effect>
                            </ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button strong shape="round" routerLink="/auth/register" color="warning" fill="clear">
                              <ion-text  color="warning"><strong>I Need <br> to Signup</strong></ion-text>
                              <ion-ripple-effect></ion-ripple-effect>
                            </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card>
                </ion-col>
              </ion-row>
  </ion-grid>
</ion-content>

