<app-header [titleId]="titleId"></app-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-text-center ion-padding ion-text-wrap tech">
      <ion-col
      class=" ion-align-self-center"
      
      size-sm="12"
        size-md="6"
        offset-md="3"
        size-lg="4"
        offset-lg="4"
        size-xl="4"
        offset-xl="4"
      >
      <ion-card color="primary" class="ion-padding" style="border: 3px solid white; border-radius: 10px;">

      <app-login-element></app-login-element>
</ion-card>