<app-header [titleId]="titleId"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding"
        size-sm="6"
        offset-sm="3"
        size-md="4"
        offset-md="4"
        size-lg="3"
        offset-lg="4.5"
        size-xl="3"
        offset-xl="4.5"
      >
        <ion-card class="ion-text-center ion-padding ion-text-wrap" color="light">
          <ion-img src="../../assets/img/logo.jpg"></ion-img>
         
          <form
          [formGroup]="loginForm"
          (ngSubmit)="Login()"
          style="border-top:1px solid var(--ion-color-dark);"
        >
        <hr />
          <ion-card-title>
            <ion-text
              style="font-size: large; font-weight: 900; font-variant: small-caps;"
            >
             Log In to Rank Fantasy Sports
            </ion-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-text color="primary">
              Before using your <strong>Pro Plan</strong>, you need to login to Rank Fantasy Sports
          </ion-text>
          </ion-card-subtitle>

        

          <ion-item color="light">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              debounce="700"
              style="width: 95%;"
              type="email"
              inputmode="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-card color="dark">
            <div
              *ngIf="
                  loginForm.controls['email'].invalid &&
                  (loginForm.controls['email'].dirty ||
                    loginForm.controls['email'].touched)
                "
              class="alert alert-danger"
            >
              <div
                *ngIf="loginForm.controls['email'].errors.required"
              >
                <ion-text color="danger" class="inputError">
                  Email is required.
                </ion-text>
              </div>
              <div *ngIf="loginForm.controls['email'].errors.email">
                <ion-text color="danger" class="inputError">
                  Email is not Valid.
                </ion-text>
              </div>
            </div>
          </ion-card>

          <ion-item color="light">
            <ion-label position="floating">Password</ion-label>
            <ion-input
              debounce="1200"
              id="password"
              style="width: 89%;"
              [type]="hide ? 'password' : 'text'"
              inputmode="text"
              formControlName="password"
            ></ion-input>
            <ion-button
              item-end
              (click)="hide = !hide"
              *ngIf="hide"
              style="position: absolute; right: 1px; bottom: 15px; background: transparent;"
            >
              <ion-icon name="eye" size="medium" color="white">
              </ion-icon>
            </ion-button>
            <ion-button
              item-end
              (click)="hide = !hide"
              *ngIf="!hide"
              style="position: absolute; right: 1px; bottom: 15px; background: transparent;"
            >
              <ion-icon name="eye-off" size="medium" color="white">
              </ion-icon>
            </ion-button>
          </ion-item>
          <ion-card color="dark">
            <div
              *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || 
                      loginForm.controls['password'].touched)"
              class="alert alert-danger"
            >
              <div
                *ngIf="loginForm.controls['password'].errors.required"
              >
                <ion-text color="danger" class="inputError">
                  Password is required.
                </ion-text>
              </div>
              <div
                *ngIf="loginForm.controls['password'].hasError('minlength')"
              >
                <ion-text color="danger" class="inputError">
                  Password must be at least 8 characters long.
                </ion-text>
              </div>
              <div
                *ngIf="loginForm.controls['password'].errors.maxlength"
              >
                <ion-text color="danger" class="inputError">
                  Password must be less than 25 characters long.
                </ion-text>
              </div>
              <div
                *ngIf="loginForm.controls['password'].errors.pattern"
              >
                <ion-text color="danger" class="inputError">
                  Password must contain 1 uppercase, 1 lowercase and 1
                  digit.
                </ion-text>
              </div>
            </div>
          </ion-card>

          <ion-button
            class="loginbutton"
            color="danger"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            <ion-icon
              slot="start"
              color="white"
              name="arrow-round-forward"
              slot="start"
            ></ion-icon>
            <ion-text class="ion-text-wrap" color="white">
              Email Log In
            </ion-text>
          </ion-button>
          <br />
          
          <ion-button
            class="loginbutton"
            type="button"
            (click)="auth.FacebookAuth()"
            color="primary"
          >
            <ion-text>
              Facebook Log In
            </ion-text>
            <ion-icon
              slot="start"
              color="white"
              name="logo-facebook"
            ></ion-icon>
          </ion-button>
          <br />
          <ion-button
            class="loginbutton"
            type="button"
            (click)="auth.GoogleAuth()"
            color="primary"
          >
            <ion-text>
              Google Log In
            </ion-text>
            <ion-icon slot="start" color="white" name="logo-google"></ion-icon>
          </ion-button>
          <br />
          <ion-button
            class="loginbutton"
            type="button"
            (click)="auth.TwitterAuth()"
            color="primary"
          >
            <ion-text>
              Twitter Log In
            </ion-text>
            <ion-icon slot="start" color="white" name="logo-twitter"></ion-icon>
          </ion-button>
       
          <hr />
          <div style="border-top:1px solid var(--ion-color-medium);">
            <hr />
            <ion-text color="primary"
              >Don't have an account?</ion-text
            >
            <a routerLink="/purchase">
              <ion-text color="facebk">
                Sign Up
              </ion-text>
            </a>
          </div>
        </form>




          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
