<app-header></app-header>
<ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">
        <ion-card color="primary">
          <ion-img src="../../../assets/logo-md.svg"></ion-img>
          
          <ion-card-content>
          <ion-card-title  text-center>
            <ion-text color="warning">Sign In</ion-text>
          </ion-card-title>
                  <form #login="ngForm" (ngSubmit)="onSubmit(login)">
            
                      <ion-card>
                        <ion-item color="medium">
                          <ion-label  position="floating">Email</ion-label>
                          <ion-input color="dark" type="email" ngModel clearInput email name="email" required></ion-input>
                        </ion-item>
                      </ion-card>
                      <!-- <ion-label *ngIf="emailCtrl.invalid && emailCtrl.touched" lines="none" text-wrap >
                        <sub>Enter a valid email address</sub>
                      </ion-label> -->
                      <ion-card>
                        <ion-item color="medium">
                          <ion-label  position="floating">Password</ion-label>
                          <ion-input color="dark" type="password"  name="password" required minlength="6" ngModel type="password" password>
                          </ion-input>
                        </ion-item>
                      </ion-card>
                      <!-- <ion-label *ngIf="passwordCtrl.invalid && passwordCtrl.touched" lines="none" text-wrap>
                        <sub>Not secure, use 6 or more characters</sub>
                      </ion-label> -->
                      <ion-button routerLink="register" size="small" color="warning" fill="clear" expand="block" >
                        <ion-label  color="warning"> Switch to Sign Up</ion-label>
                        <ion-ripple-effect></ion-ripple-effect>
                      </ion-button>
                      <ion-button routerLink="forgot-password" size="small" color="danger" fill="clear" expand="block" >
                        <ion-label  color="warning">Forgot Password</ion-label>
                        <ion-ripple-effect></ion-ripple-effect>
                      </ion-button>
                        <ion-button 
                        type="submit" 
                        class="sign-btn" 
                        expand="block" 
                        [disabled]="login.invalid"><ion-ripple-effect></ion-ripple-effect>
                        <ion-label>Sign In</ion-label>
                      </ion-button>
                    </form>

                  
                    <hr>                  
                    <ion-button class="g-btn" type="button" (click)="auth.GoogleAuth()" expand="block"> <ion-icon name="logo-google"></ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button class="t-btn" type="button" (click)="auth.TwitterAuth()" expand="block"><ion-icon name="logo-twitter"></ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button class="f-btn" type="button" (click)="auth.FacebookAuth()" expand="block"><ion-icon name="logo-facebook"></ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    
                  </ion-card-content>
                </ion-card>
              </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
