<!-- Third Row Payments -->
<ion-row>
  <ion-col size-md="6" offset-md="3">
    <ion-card class="payCard" color="success" *ngIf="this.planChosen === true">
      <ion-card padding color="primary">
        <ion-card *ngIf="this.planId">
          <ion-card-title>
            
            <ion-text text-wrap>You are purchasing:</ion-text>
          </ion-card-title>
          <br>
          <ion-button shape="round" size="large" expand="block" fill="outline" color="success">
            <ion-label color="warning">
              {{ planId }}&nbsp;Membership 
              <br>
              {{ price }}
            </ion-label> 
          </ion-button>
          
          <hr>
        </ion-card>
              <h4>
              <ion-text color="warning">Step 3:</ion-text>&nbsp;Add A Payment Source
            </h4>
    <!-- <ion-spinner *ngIf="this.loading === true" color="secondary" name="circles"></ion-spinner> -->
    <hr>
    <form (submit)="handleForm($event)">
      <!-- <div class="form-row"> -->
        
        <ion-card color="success">
          <br>
          <div id="card-element" #cardElement >
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <br>
        </ion-card>
      <!-- </div> -->
      <ion-button [disabled]="load === true" type="submit" color="tertiary" shape="round" strong="true">
        <ion-label color="warning">Start Subscription&nbsp;&nbsp;<ion-icon slot="end" color="dark" name="jet"></ion-icon>
         
        </ion-label>
      </ion-button>
    </form>
    <hr>
    <ion-card color="primary">
        <!-- <pre *ngIf="confirmation" style="max-width: 400px;">
            {{ confirmation | json }}
          </pre> -->
        </ion-card>
        <hr>
      </ion-card>
    </ion-card>
  </ion-col>
  </ion-row>
