<app-header [titleId]= "titleId"></app-header>

<ion-content>
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              CFB
            </ion-card-title>
          </ion-card-header>
          <ion-item color="medium" routerLink="/categories/cfb/score-predictions">
            <ion-icon size="large" slot="start" color="leather" name="american-football"></ion-icon>
            <ion-label class="ion-text-wrap">CFB Score Predictions</ion-label>
          </ion-item>
          <ion-item color="medium" routerLink="/categories/cfb/power-rankings">
            <ion-icon size="large" slot="start" color="leather" name="american-football"></ion-icon>
            <ion-label class="ion-text-wrap">CFB Power Rankings</ion-label>
          </ion-item>

        </ion-card>
</ion-content>
<app-footer></app-footer>
