
      <ion-card  color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-label color="secondary">
            <ion-text color="light">RF$™</ion-text>  Pro Subscription
            </ion-label>
            </ion-card-title>  

          </ion-card-header>
            
              <ion-text text-wrap color="light"><h6>
                The Pro Subscription includes:
              </h6>
              </ion-text>
          

            <ion-item color="medium">
              <ion-label text-wrap color="dark">
                Access to all DFS data-tables 
                </ion-label>  
              </ion-item>
              <ion-item color="medium">
                <ion-label text-wrap color="dark">
                  Video playlists providing DFS stats analysis
                </ion-label>
              </ion-item>
              <ion-item color="medium">
                <ion-label text-wrap color="dark">
                  Past and future livestream events
                </ion-label>
              </ion-item>
              <ion-item color="medium">
              <ion-label text-wrap color="dark">
                Exclusive DFS chat room access 
                <br> 
               <sub>
                 Get the info you need, when you need it...
                </sub>
              </ion-label>

            </ion-item>
              <ion-item color="medium">
                <ion-label text-wrap color="dark">
                  And many other upcoming tools and resources 
                </ion-label>
              </ion-item>
            <ion-item color="medium">
              <ion-label text-wrap color="dark">

                <strong>One (1) user per account</strong>
              </ion-label>
              </ion-item>
            <ion-card color="success">
              <ion-card-header>
                <ion-card-title>
                  <ion-label>
                    Credit | Debit Accepted
                  </ion-label>
                </ion-card-title>
              </ion-card-header>
              <ion-card>
                
                <ion-item>
                  <ion-label color="success" position="floating" >*Promo Code</ion-label>
                  <ion-input minlength="7" maxlength="7" name="coupon" type="text" clearInput></ion-input>
                </ion-item>
              </ion-card>
              
              <ion-card color="light" padding>
                
                <form #f="ngForm" (ngSubmit)="handleForm($event)" id="payment-form" method="post" action="/charge">
                  <div class="form-row">

                    <div id="card-element" #cardElement>
                    <!-- A Stripe Element will be inserted here. -->
                    </div>
                            
                    <!-- Used to display Element errors. -->
                    <div class="has-text-danger" id="card-errors" role="alert">{{cardErrors}}</div>
                  </div>
                  <hr>

                <ion-button type="submit" class="button is-success" color="secondary">Subscribe for ${{ amount / 100 }}</ion-button>
                </form>
                <ion-spinner color="secondary" *ngIf="isLoading">Loading....</ion-spinner>

                <sub text-wrap color="dark">
                  We value the security of your information. <br>None of your payment information is stored on our servers
                </sub> 
              </ion-card>
                          
            </ion-card>

            <ion-card  color="medium">
              <pre *ngIf="confirmation" style="max-width: 500px;">{{ confirmation | json }}</pre>
            </ion-card>
  
