<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="SignOut()">
          <ion-icon name="log-out" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Admin Area</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
      <ion-item button *ngFor="let ticket of tickets | async" (click)="openTicket(ticket.id)">
        <ion-icon name="radio-button-off" color="light" *ngIf="ticket.status == 0" slot="start"></ion-icon>
        <ion-icon name="done-all" color="success" *ngIf="ticket.status == 1" slot="start"></ion-icon>
  
        <ion-label>
          <h2>{{ ticket.title }}</h2>
          <p>{{ ticket.desc }}</p>
        </ion-label>
        <ion-note color="light" slot="end">{{ ticket.created_at.seconds*1000 | date: 'MMM d' }}</ion-note>
  
      </ion-item>
    </ion-list>
  
  </ion-content>
  