<ion-content color="primary">
  <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-card color="primary">
            
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Type of Request</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Feature Request</ion-label>
                  <ion-radio slot="start" value="feature" checked></ion-radio>
                </ion-item>
                
                <ion-item>
                  <ion-label>Support Request</ion-label>
                <ion-radio slot="start" value="support"></ion-radio>
              </ion-item>
            </ion-radio-group>
          
            
              <ion-item>
                <ion-label >{{ user?.displayName }} 
                  <br>
                  {{ user?.email }}
                </ion-label>
              </ion-item>

        <select [ngModel]="active?.type"
                name="type"
                required
                class="form-control">
          <option value="null">Type of Request</option>
          <option value="support">Support Request</option>
          <option value="feature">Feature Request</option>
          <option value="other">Something Else</option>
        </select>

        <select [ngModel]="active?.os"
                name="os"
                required
                class="form-control">
          <option value="null">Select OS</option>
          <option value="browser">PC or Other Browser</option>
          <option value="ios">ios</option>
          <option value="android">android</option>
          <option value="others">others</option>
        </select>

           <input type="model"
               [ngModel]="active?.model"
               name="model"
               class="form-control"
               placeholder="HTC VC-23 ">

              <ion-item>
                <ion-input name="issue" type="text" placeholder="Button not working'" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Description</ion-label>
                  <ion-textarea></ion-textarea>
               
                <ion-input name="details" type="text" ></ion-input>
              </ion-item>
            </ion-list>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Submit Request</ion-button>
            <ion-button (click)="this.cancelModal()" size="large" type="submit" expand="block">Cancel</ion-button>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>




<form novalidate
            (submit)="save(f)"
            #f="ngForm"
            class="card-body">
  
        <input type="text"
               [ngModel]="active?.label"
               name="label"
               required
               class="form-control bg-dark text-white m-1"
               placeholder="Phone model *"
               #labelInput>
        <input type="number"
               [ngModel]="active?.price"
               name="price"
               class="form-control bg-dark text-white m-1"
               placeholder="Price *">
  
               <select [ngModel]="active?.os"
                name="os"
                required
                class="form-control bg-dark text-white m-1">
          <option value="null">Select OS</option>
          <option value="browser">PC or Other Browser</option>
          <option value="ios">ios</option>
          <option value="android">android</option>
          <option value="others">others</option>
        </select>
        <form novalidate
                    (submit)="save(f)"
                    #f="ngForm"
                    class="card-body">
          
                <input type="text"
                       [ngModel]="active?.label"
                       name="label"
                       required
                       class="form-control bg-dark text-white m-1"
                       placeholder="Phone model *"
                       #labelInput>
  
        <span class="m-1">Rate:</span>
        <div class="btn-group m-1" data-toggle="buttons">
          <label class="btn btn-secondary"
                 *ngFor="let val of [1,2,3,4,5]"
                 [ngClass]="{'btn-warning': active?.rate === val}">
            <input type="radio"
                   required
                   name="rate"
                   checked [value]="val"
                   [(ngModel)]="active.rate"> {{val}}
          </label>
        </div>
  
  
        <textarea
            [ngModel]="active?.desc"
            name="desc"
            class="form-control bg-dark text-white m-1"
            placeholder="description (not required)"></textarea>
  
        <div class="btn-group btn-group-sm m-1">
          <button class="btn btn-warning"
                  type="submit"
                  [disabled]="f.invalid">
            {{active?.id ? 'SAVE' : 'ADD'}}
          </button>
  
          <button
              class="btn btn-light"
              type="button"
              *ngIf="active?.id"
              (click)="reset()">
            ADD NEW
          </button>
        </div>
      </form>
    </div>
      
    <!--Devices List -->
    <div *ngFor="let d of devices"
      class="list-group-item list-group-item-action"
      [ngClass]="{'bg-warning text-dark': d.id === active?.id}"
      (click)="setActiveHandler(d)">
  
      <!--os icon-->
       <i class="fa"
        [ngClass]="{
            'fa-android': d.type === 'android', 
            'fa-apple'  : d.type === 'ios',
            'fa-tablet'  : d.type === 'others'
        }"
      ></i>
  
      <!--label-->
      <i class="fa fa-in"></i>
      <span>{{d?.label}}</span>
  
      <!--rate-->
      <!--missing-->
      
      <div class="pull-right">
        <!--price -->
        <strong *ngIf="d.price"
                [style.color]="d.price > 500 ? 'red' : null">
          € {{d.price | number: '1.2-2'}}
        </strong>
  
        <!--trash icon-->
        <i class="fa fa-trash icon"
           (click)="delete(d)"></i>
      </div>
    </div>
