<app-header [titleId]="titleId"></app-header>

<ion-content
  class="ion-padding"
  fullscreen
  (ionScroll)="onScroll($event)"
  [scrollEvents]="true"
>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" size-lg="6" offset-lg="3">
        <ion-card class="ion-text-start" color="primary">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-text color="secondary">
                RF$&trade; FAQs
              </ion-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text>
                Responses to our frequently asked questions
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <mat-accordion>
            <mat-expansion-panel class="cololo" *ngFor="let faq of faqs">
              <mat-expansion-panel-header
                class="ion-text-start colo"
                collapsedHeight="70px"
                expandedHeight="70px"
              >
                <mat-panel-title>
                  <ion-text color="white">{{faq.title}}</ion-text>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ion-text class="ion-wrap">
                <p>{{ faq.info }}</p>
              </ion-text>
            </mat-expansion-panel>
          </mat-accordion>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button
      id="scrollToTop"
      [hidden]="!scrolledDown"
      size="small"
      (click)="ScrollToTop()"
    >
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer></app-footer>
