<app-header [titleId]="titleId"></app-header>
<ion-content class="ion-text-center" fullscreen>
  <ion-grid>
    <!-- Row 1 Discount Available -->
    <ion-row>
      <ion-col size-md="12">
        <ion-card style="box-shadow: inset 3px 3px 8px #2bff00;" color="tertiary">
          <ion-card style="box-shadow: 5px 5px 6px #2900df, inset 0 0 20px #00fff2;" class="ion-padding" color="medium">
            <ion-text color="deepo" style="font-size: 25px; text-shadow: 1px 1px 38px #0038d3, 1px 1px 18px #0039d4">
              <strong>
                Free for a week!
              </strong>
            </ion-text>
            <hr />
            <ion-text color="warning" style="font-size: 16pt; ">
              <sup>*</sup>Signup with any PRO Package today and get 7 days to
              try it out.
            </ion-text>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Second Row Instrction banner -->
    <ion-row class="ion-align-items-stretch">
      <ion-col size-md="12">
        <ion-card color="primary">
          <h4>
            <ion-text color="warning">Step 1:</ion-text>&nbsp;
            <ion-text color="secondary">
              Choose Your Package
            </ion-text>
          </h4>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-grid>
            <ion-row class="ion-align-items-stretch">
              <!-- Column 1 Row 3 Gold Plan -->
              <ion-col size-xs="12" offset-xs="0" size-lg="4" offset-lg="0">
                <ion-card color="light">
                  <ion-list class="golden" lines="none">
                    <ion-list-header color="tertiary">
                      <ion-title>
                        <ion-text color="warning"> Gold<br />Package </ion-text>
                      </ion-title>
                      <img src="../../assets/img/gold.svg" style="width: 45px;" />
                    </ion-list-header>
                    <ion-item color="primary">
                      <strong>
                        <ion-text color="success" class="ion-text-wrap">
                          $90.00
                        </ion-text>
                        <ion-text class="ion-text-wrap">
                          &nbsp;Annually
                        </ion-text>
                      </strong>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text color="warning" class="ion-text-wrap">
                        <sup>
                          <s>
                            Regular Price $119.88
                          </s>
                        </sup>
                        <br />
                        <ion-text color="white">
                          You Save
                        </ion-text>
                        <ion-text class="ion-text-wrap" color="success">
                          <strong>
                            $29.88
                          </strong>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="primary">
                      <ion-text class="ion-text-wrap">Includes Everything in Bronze Package</ion-text>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text class="ion-text-wrap">One (1) Year Subscription</ion-text>
                    </ion-item>
                    <ion-item color="primary">
                      <ion-text class="ion-text-wrap">
                        12 Months at
                        <strong>
                          <ion-text color="success" class="ion-text-wrap">
                            $7.50
                          </ion-text>
                        </strong>
                        per Month
                      </ion-text>
                    </ion-item>
                  </ion-list>
                  <ion-button *ngIf="!isClickedGold; else gold" strong expand="block" color="danger"
                    (click)="clickedGold()">
                    <ion-icon name="medal" color="gold"></ion-icon>&nbsp;&nbsp;
                    <ion-text color="gold">Select Gold</ion-text>
                  </ion-button>
                  <ng-template #gold>
                    <ion-button *ngIf="this.auth.afAuth.auth.currentUser" strong expand="block" color="warning">
                      <ion-icon name="medal" color="primary"></ion-icon>&nbsp;&nbsp;
                      <ion-text style="text-shadow: .1em .1em .15em rgb(218, 105, 0);;">Gold Selected</ion-text>
                    </ion-button>
                    <ion-button *ngIf="!this.auth.afAuth.auth.currentUser" strong expand="block" color="warning"
                      (click)="presentModal()">
                      <ion-icon name="medal" color="primary"></ion-icon>&nbsp;&nbsp;
                      <ion-text style="text-shadow: .1em .1em .15em rgb(218, 105, 0);;">Gold Selected</ion-text>
                    </ion-button>
                  </ng-template>
                </ion-card>
              </ion-col>

              <!-- Column 2 Row 3 Silver Plan -->
              <ion-col size-xs="12" offset-xs="0" size-lg="4" offset-lg="0">
                <ion-card color="light" class="ion-text-wrap">
                  <ion-list lines="none">
                    <ion-list-header color="tertiary">
                      <ion-title>
                        <ion-text color="silver">
                          Silver<br />Package
                        </ion-text>
                      </ion-title>
                      <ion-img src="../../assets/img/silver.svg" style="width: 45px;"></ion-img>
                    </ion-list-header>
                    <ion-item color="primary">
                      <strong>
                        <ion-text color="success" class="ion-text-wrap">
                          $50.00
                        </ion-text>
                        <ion-text class="ion-text-wrap">
                          &nbsp;Bi-annually
                        </ion-text>
                      </strong>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text color="warning">
                        <sup>
                          <del>
                            Regular Price $59.94
                          </del>
                        </sup>
                        <br />
                        <ion-text color="white">
                          You Save
                        </ion-text>
                        <ion-text color="success">
                          <strong>
                            $9.94
                          </strong>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="primary">
                      <ion-text class="ion-text-wrap">Includes Everything in Bronze Package</ion-text>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text class="ion-text-wrap">Six (6) Month Subscription</ion-text>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text class="ion-text-wrap">
                        6 Months at
                        <strong>
                          <ion-text color="success" class="ion-text-wrap">
                            $8.33
                          </ion-text>
                        </strong>
                        per Month
                      </ion-text>
                    </ion-item>
                  </ion-list>
                  <ion-button *ngIf="!isClickedSilver; else silver" strong expand="block" color="danger"
                    (click)="clickedSilver()">
                    <ion-icon name="medal" color="silver"></ion-icon>&nbsp;&nbsp;
                    <ion-text color="silver" class="ion-text-wrap">Select Silver</ion-text>
                  </ion-button>
                  <ng-template #silver>
                    <ion-button *ngIf="this.auth.afAuth.auth.currentUser" strong expand="block" color="warning">
                      <ion-icon name="medal" color="primary"></ion-icon>&nbsp;&nbsp;
                      <ion-text style="text-shadow: .1em .1em .15em rgb(218, 105, 0);;">Silver Selected</ion-text>
                    </ion-button>
                    <ion-button *ngIf="!this.auth.afAuth.auth.currentUser" strong expand="block" color="warning"
                      (click)="presentModal()">
                      <ion-icon name="medal" color="primary"></ion-icon>&nbsp;&nbsp;
                      <ion-text style="text-shadow: .1em .1em .15em rgb(218, 105, 0);">Silver Selected</ion-text>
                    </ion-button>
                  </ng-template>
                </ion-card>
              </ion-col>

              <!-- Column 3 Row 3 Bronze Package -->
              <ion-col size-xs="12" offset-xs="0" size-lg="4" offset-lg="0">
                <ion-card color="light" class="ion-text-wrap">
                  <ion-list lines="none">
                    <ion-list-header color="tertiary">
                      <ion-title>
                        <ion-text color="bronze">
                          Bronze<br />Package
                        </ion-text>
                      </ion-title>
                      <img src="../../assets/img/bronze.svg" style="width: 45px;" />
                    </ion-list-header>
                    <ion-item color="primary">
                      <ion-text color="success">
                        <strong>
                          $9.99 <ion-text color="white">Monthly</ion-text>
                        </strong>
                        <br />
                        <ion-text color="warning">
                          <sup>Month -to- Month Subscription</sup>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text class="ion-text-wrap">
                        All RF$&trade; DFS Data-tables
                        <br />
                        <ion-text color="warning">
                          <sup>Updated weekly</sup>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="primary">
                      <ion-text class="ion-text-wrap">
                        DFS Stats Analysis Videos
                        <br />
                        <ion-text color="warning">
                          <sup>Receive notification of new videos</sup>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text class="ion-text-wrap">
                        Livestream Events
                        <br />
                        <ion-text color="warning">
                          <sup>Receive notification of upcoming events</sup>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="primary">
                      <ion-text class="ion-text-wrap">
                        RF$&trade; Hosted DFS Chat Room
                        <br />
                        <ion-text color="warning">
                          <sup>
                            Get the info you need, when you need it
                          </sup>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                    <ion-item color="medium">
                      <ion-text class="ion-text-wrap">
                        Other DFS Tools & Resources
                        <br />
                        <ion-text color="warning">
                          <sup>New features released each month</sup>
                        </ion-text>
                      </ion-text>
                    </ion-item>
                  </ion-list>
                  <ion-button *ngIf="!isClickedBronze; else bronze" strong expand="block" color="danger"
                    (click)="clickedBronze()">
                    <ion-icon name="medal" color="bronze"></ion-icon>&nbsp;&nbsp;
                    <ion-text color="bronze">Select Bronze</ion-text>
                  </ion-button>
                  <ng-template #bronze>
                    <ion-button *ngIf="!this.auth.afAuth.auth.currentUser" strong expand="block" color="warning"
                      (click)="presentModal()">
                      <ion-icon name="medal" color="primary"></ion-icon>&nbsp;&nbsp;
                      <ion-text style="text-shadow: .1em .1em .15em rgb(218, 105, 0);;">Bronze Selected</ion-text>
                    </ion-button>
                    <ion-button *ngIf="this.auth.afAuth.auth.currentUser" strong expand="block" color="warning">
                      <ion-icon name="medal" color="primary"></ion-icon>&nbsp;&nbsp;
                      <ion-text style="text-shadow: .1em .1em .15em rgb(218, 105, 0);">Bronze Selected</ion-text>
                    </ion-button>
                  </ng-template>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Column 3 Row 3 Bronze Plan -->
        </ion-row>
      </ion-grid>
      <!-- </ion-card> -->
      <!-- </ion-col> -->
    </ion-row>
    <!-- Fourth Row Payment -->
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card color="facebk" #target style="box-shadow: inset 2px 2px 3px 3px rgb(203, 214, 224);">
          <ion-card class="ion-padding" color="primary" style="box-shadow: 3px 3px 2px 2px rgb(128, 202, 199);">
            <h4>
              <ion-text color="warning">Step 3:</ion-text>
              <ion-text color="secondary">
                &nbsp;Enter Your Card Details
              </ion-text>
            </h4>
            <hr />
            <ion-card *ngIf="planId">
              <ion-card-title>
                <ion-text class="ion-text-wrap">You are purchasing:</ion-text>
              </ion-card-title>
              <br />
              <ion-button shape="round" size="large" expand="block" fill="outline" color="success">
                <ion-text color="warning">
                  {{ planId }}&nbsp;Package
                  <br />
                  {{ price }}
                </ion-text>
              </ion-button>
              <hr />
            </ion-card>
            <ion-text color="deepo">
              <h5>Credit & Debit Accepted</h5>
            </ion-text>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img class="creditCard" src="../../../assets/img/visa.svg" style="height:40px; float:right;" />
                </ion-col>
                <ion-col>
                  <img class="creditCard" src="../../../assets/img/discover.svg" style="height:40px;" />
                </ion-col>
                <ion-col>
                  <img class="creditCard" src="../../../assets/img/amex.svg" style="height:40px;" t />
                </ion-col>
                <ion-col>
                  <img class="creditCard" src="../../../assets/img/mastercard.svg" style="height:47px;" />
                </ion-col>
              </ion-row>
            </ion-grid>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="form-row">
                <div id="card-element" #cardElement>
                  <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display Element errors. -->
                <ion-text color="danger">
                  <h4 class="ion-text-wrap ion-text-center ion-text-xl-capitalize">
                    <strong>{{ cardErrors }}</strong>
                  </h4>
                </ion-text>
              </div>
              <hr />
              <ion-button [disabled]="!planChosen" type="submit" expand="block" color="facebk">
                <ion-text color="warning">Start Subscription&nbsp;&nbsp;
                  <ion-icon slot="end" color="primary" name="jet"></ion-icon>
                </ion-text>
              </ion-button>
            </form>
            <hr />
            <img src="../../assets/img/stripe.svg" style="height: 2em; width: 8em; float: right;" />
            <br />
            <br />
            <ion-text style="float: right;">
              <sup>
                &nbsp;*See terms below&nbsp;
              </sup>
            </ion-text>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Fifth Row Testimonials -->
    <ion-card color="primary">
      <h4>
        <ion-text color="deepo">
          Helping You Win Is Our Business
        </ion-text>
        &nbsp;
      </h4>
    </ion-card>
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" offset-xs="0" size-lg="4" offset-lg="2">
            <!-- Enter Video 1 Here -->
            <ion-card class="ion-text-center" class="resp-container" color="primary">
              <iframe class="resp-iframe" [src]="trustedVideoUrl2" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" offset-xs="0" size-lg="4" offset-lg="0">
            <!-- Enter Video 2 Here -->
            <ion-card class="ion-text-center" class="resp-container" color="primary">
              <iframe class="resp-iframe" [src]="trustedVideoUrl" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" class="ion-padding">
          <ion-text class="ion-text-start">
            <p style="text-shadow: none">
              <sup>
                * Credit or Debit card required for verification. During the One
                Week (7 day) trial period, card will not be charged. On eighth
                8<sup>th</sup> day after subscription start date, card will be
                processed.
                <strong>
                  Trial valid once per card holder/ member.
                </strong>
                <hr />
                <strong>
                  One (1) user per account.
                </strong>
                Subscriptions are associated with the email address you used at
                the time of purchase. To ensure access to your account, sign in
                with the same email address each time. All payments are handled
                by&nbsp;<a href="https://www.stripe.com">
                  <ion-text color="deepo"> Stripe</ion-text>
                </a>. The RF$ site is served using Secure Socket Layer (SSL)
                encryption, and our servers submit secure tokenized versions of
                your payment information. The complete card details are never
                visible to anyone at Rank Fantasy Sports, nor are the complete
                card details stored on our servers. Pro Membership Packages are
                subscriptions which are billed automatically, on or about the
                same date each billing cycle varying only on accounts which have
                a start date that does not occur every month (e.g. 31st day of a
                month). You may cancel your subscription at anytime. Once a
                cancellation request has been submitted, your account will be
                terminated immediately, and no further payments will be
                processed. For more details, please read our<ion-button fill="clear" size="small"
                  (click)="showModalTerms()">
                  <ion-text color="deepo">Terms</ion-text>
                </ion-button>. The security of your information is our priority. Please read
                our<ion-button fill="clear" size="small" (click)="showModalPrivacy()">
                  <ion-text color="deepo">Privacy</ion-text>
                </ion-button>for more details.
              </sup>
            </p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card> </ion-card>
</ion-content>