<ion-item-divider></ion-item-divider>
  
<div class="cta">

  <ion-grid>
    <ion-row class="ion-justify-content-center" >
      <ion-col
      size-xl="4"
      offset-xl="2"
      size-lg="4"
      offset-lg="2"
      size-md="12"
      size-sm="12"
      class="ion-text-wrap ion-align-self-center ion-text-center"
      >
      <div class="easy" >
      
            <ion-text color="dark">
              <h4>
                Signing Up As Easy As 1, 2, 3...
              </h4>
            </ion-text>
          <ol>
            <li>
              
              <h5>
              Click the "Start My 7 Day Trial" Button Below
            </h5>
          </li>
          <li>
            
              <h5>
                Register Your Account Info
            </h5>
          </li>
          <li>
            
            <h5>
              Plug in your Credit Card Details 
            </h5>
          </li>
        </ol>
      
        
        <ion-button fill="solid" color="danger" size="medium" routerLink="/purchase">
          <ion-text color="white">
            Start My 7 Day Trial
          </ion-text>
          
        </ion-button>
      </div>
      </ion-col>
      <ion-col
      size-xl="4"
      size-lg="4"
      size-md="12"
      size-sm="12"
      class="ion-text-center ion-text-wrap"
      >
      <div>
        
        <img src="../../../assets/img/phones.webp" />
        </ div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>


<ion-item-divider></ion-item-divider>