<fieldset>

  <form #paymentForm="ngForm" (ngSubmit)="pmt.attachSource()" class="checkout">
    <div class="form-row">
      <label for="card-info">Pay with Credit or Debit Card</label>

      <div id="card-element" #cardElement></div>
      <div id="card-errors" class="help is-danger" role="alert" *ngIf="formError">{{ formError }}</div>
    </div>
<button type="submit" class="button is-info" [disabled]="!formComplete || loading" [class.is-loading]="loading">


  Save Card

</button>

<div *ngIf="result?.id" class="notification is-success">
  Attached payment source {{ result.id }} -- {{ card.brand }} ending in {{ card.last4 }}
</div>

<!-- If error, show the user the raw error msg from Stripe -->
<div *ngIf="card?.error" class="notification is-danger">
  {{ card.error?.message }}
</div>
      </form>
      </fieldset>
