<ion-card color="primary" class="ion-text-center">
  <ion-grid>
    <!-- Row 1 -->
    <ion-row class="ion-align-items-stretch">
      <ion-col>
        <ion-title>
          <ion-text color="white" class="ion-text-wrap">
            <p>
              Get the information you need to Win $ Consistently
            </p>
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-stretch">
      <!-- Row2 Column 1 -->
      <ion-col
        class="ion-align-self-stretch ion-text-center ion-text-capitalize"
      >
        <ion-card class="ion-padding" color="dark">
          <ion-text color="white">
            Access to DFS Cheatsheets: NFL, CFB, NBA, CBB, Golf & Tennis
          </ion-text>
          <hr />
          <ion-button routerLink="/purchase">
            <ion-icon icon-only size="large" name="cash"></ion-icon>
          </ion-button>
          <hr />
          <ion-text color="white">
            Access to season long NFL fantasy projections
          </ion-text>
        </ion-card>
      </ion-col>
      <!-- Row 2 Column 2 -->
      <ion-col
        class="ion-align-self-center ion-text-center ion-text-capitalize"
      >
        <ion-card class="ion-padding" color="dark">
          <ion-text color="white">
            Access to NFL & CFB Score Projections
          </ion-text>
          <hr />
          <ion-button routerLink="/purchase">
            <ion-icon icon-only size="large" name="person"></ion-icon>
          </ion-button>
          <hr />
          <ion-text color="white">
            Access to weekly NFL fantasy projections
          </ion-text>
        </ion-card>
      </ion-col>
      <!-- Row 2 Column 3 -->
      <ion-col
        class="ion-align-self-center ion-text-center ion-text-capitalize"
      >
        <ion-card class="ion-padding" color="dark">
          <ion-text color="white">
            Access to golf DFS stats per round and tournament
          </ion-text>
          <hr />
          <ion-button routerLink="/purchase">
            <ion-icon icon-only size="large" name="analytics"></ion-icon>
          </ion-button>
          <hr />
          <ion-text color="white">
            Access to men's & women's DFS stats and tournaments stat archives
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
