
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
          <ion-card color="primary">
            <ion-card-header class="ion-text-center">
                  <ion-card-title>
                    <ion-text color="secondary">
                      User Settings
                    </ion-text>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <ion-text color="warning">
                      Edit your Name, Email & Photo
                    </ion-text>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-list lines="none" *ngIf="user">
                    <ion-item >
                    <ion-label position="floating">
                      <ion-text color="secondary">
                        Display Name
                      </ion-text>
                    </ion-label>
                    <ion-input  color="warning" [(ngModel)]="user.displayName"></ion-input>
                    <br>
                  </ion-item>
                  <ion-note >Update name then Submit</ion-note>
                  <br>

                  <ion-button size="small" (click)="updateUser()" color="warning" shape="round">Submit Name</ion-button>

                  <ion-item>
                    <ion-label position="floating">
                      <ion-text color="secondary">
                        Email
                      </ion-text>
                    </ion-label>
                    <ion-input color="warning" [(ngModel)]="user.email"></ion-input>
                    
                  </ion-item>
                  <ion-note >Update email then submit</ion-note>
                  <br>
                  <ion-button size="small" (click)="updateEmail()" color="warning" shape="round">Submit Email</ion-button>

                </ion-list>

                  <ion-list>
                    <ion-list-header>
                      <ion-title>
                        <ion-text color="secondary">
                          Link Your Social Media Accounts
                        </ion-text>
                      </ion-title>
                      <h5>
                        <ion-text color="warning">
                         You can use any linked account to login 
                        </ion-text>
                      </h5>
                    </ion-list-header>
                  <ion-item>
                    <ion-button color="danger" size="small" shape="round" (click)=linkGoogle()>
                      Link Your Google Account
                    </ion-button>
                  </ion-item>
                  <ion-item>
                    <ion-button color="twittr" size="small" shape="round" (click)=linkTwitter()>
                      Link Your Twitter Account
                    </ion-button>
                  </ion-item>
                  <ion-item>
                    <ion-button color="facebk" size="small" shape="round" (click)=linkFacebook()>
                      Link Your Facebook Account
                    </ion-button>
                  </ion-item>
                  <!-- <ion-item>
                    <ion-button color="msoft" size="small" shape="round" (click)=linkMicrosoft()>
                      Link Your Microsoft Account
                    </ion-button>Work In Progress
                  </ion-item> -->
                </ion-list>
                <ion-button (click)="closeModal()">
                  <ion-text>
                    Close
                  </ion-text>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-content>
