<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card color="light">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-text color="primary">
                User Settings
              </ion-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text>
                Edit your Name, Email & Photo
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none" *ngIf="user">
              <ion-item>
                <ion-label position="floating">
                  <ion-text color="primary">
                    Display Name
                  </ion-text>
                </ion-label>
                <ion-input [(ngModel)]="user.displayName"></ion-input>
                <br />
              </ion-item>
              <ion-note>
                Update name then Submit
              </ion-note>
              <br />
              <ion-button size="small" (click)="updateUser()">
                Submit Name
              </ion-button>
              <ion-item>
                <ion-label position="floating">
                  <ion-text color="primary">
                    Email
                  </ion-text>
                </ion-label>
                <ion-input [(ngModel)]="user.email"></ion-input>
              </ion-item>
              <ion-note>
                Update email then submit
              </ion-note>
              <br />
              <ion-button size="small" (click)="updateEmail()">
                Submit Email
              </ion-button>
            </ion-list>
            <ion-list>
              <ion-list-header>
                <ion-title>
                  <ion-text color="primary">
                    Link Your Social Media Accounts
                  </ion-text>
                </ion-title>
                <h5>
                  <ion-text>
                    You can use any linked account to login
                  </ion-text>
                </h5>
              </ion-list-header>
              <ion-item>
                <ion-button size="small" (click)="linkGoogle()">
                  Link Your Google Account
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-button size="small" (click)="linkTwitter()">
                  Link Your Twitter Account
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-button size="small" (click)="linkFacebook()">
                  Link Your Facebook Account
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-button (click)="closeModal()">
              <ion-text>
                Close
              </ion-text>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
