.hero{
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  width: 100wh;
  height: 100vh;
  display: flex;
}

.landingImg{
  height:100%;
  width: 240px
}

.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.center-landing{
  font-variant: small-caps;
  font-weight: 800;
  font-stretch:semi-condensed;
}

h1, h3{
  line-height: 1;
}

h1{
  font-size: 3em;
  margin-bottom: 0;
  text-align: center;
}

h3{
  margin-bottom: 40px;
  font-size: 1.5em;
}

