
.hero{
  background: rgba(0, 0, 0, 0.6) url(../../../assets/img/fans.png);
  height: 60vh;
  width: 100vw;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.cta {
  position: relative;
  color:white;
  top: 35%;
  text-align: center;
}

.cta-button{
  margin-top: 2.5vh;
}


h1{
  font-size: xx-large;
  text-transform: uppercase;;
}




