     <ion-grid class="ion-no-padding ">
        <ion-row>

      <ion-col  class="hero heading ion-align-items-center ion-no-padding ion-text-center">



        <div style="overflow:auto; float:right;padding-right:20px; padding-top:20px;">
            <ion-button fill="clear" size="small" (click)="openModal()">
              <ion-text color="white">
                Log In
              </ion-text>
            </ion-button>
        </div>
        <div class="cta">
<ion-text>
    <h1>
    Get our Pro Package
    <strong>
      One Week free
  </strong>
  </h1>

  <h2>
    Hand Picked Data - DFS Expert Curation - Win First!
  </h2>
</ion-text>
        <ion-button
          fill="solid"
          color="danger"
          size="large"
          routerLink="/membership"
        >
          <ion-text>
            <ion-text style="font-size: large; ">
              >> Start My 7 Day Trial
            </ion-text>
            <br />
            <ion-text style="font-size: small;">
              No Risk - Win Before You Pay
            </ion-text>
          </ion-text>
        </ion-button>
      </div>

      </ion-col>
    </ion-row>
  </ion-grid>
