<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col  class="hero ion-align-items-center ion-no-padding">
<!-- Brand Icon- Top Left-->
    <div style="position:absolute; top:26px; left:30px; cursor:pointer; z-index: 99;" routerLink="/home">
      <img src="../../assets/img/icon-192x192.png" style="width:60px;height:60px">
    </div>

<!-- User Login Button/User Image with Popover- top right -->
    <div *ngIf="auth.afAuth.user | async as user; else login">
      <a (click)="presentPopover($event)" style="position: absolute; top:30px; z-index:99; right:30px; cursor:pointer;">
        <ion-avatar >
        <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'"  style="width:60px;height:60px"/>
        </ion-avatar>
      </a>
    </div>
        <ng-template #login >
          <ion-button color="light" fill="clear" size="large" (click)="openModal()" style="position: absolute;  z-index: 99; right:30px; top:30px;">
            <ion-text>
              Log In
            </ion-text>
          </ion-button>
        </ng-template>


        <div class="cta">
<ion-text>
    <h1>
    Get our Pro Package
    <strong>
      One Week free
  </strong>
  </h1>

  <h2>
    Hand Picked Data - DFS Expert Curation - Win First!
  </h2>
</ion-text>
    <div class="cta-button">

      <ion-button
      fill="solid"
      color="danger"
          size="large"
          routerLink="/membership"
          >
          <ion-text>
            <ion-text style="font-size: large; ">
              >> Start My 7 Day Trial
            </ion-text>
            <br />
            <ion-text style="font-size: small;">
              No Risk - Win Before You Pay
            </ion-text>
          </ion-text>
        </ion-button>
        </div>
      </div>

      </ion-col>
    </ion-row>
  </ion-grid>
