
      
      <ion-grid class="ion-no-padding ">
        <ion-row>


      <ion-col  class="hero ion-align-items-center ion-no-padding ion-text-center">
        <div class="cta">
          <ion-text color="white">

            <h1>
              Get our Pro Package
              <strong>
                One Week free
              </strong>
            </h1>

            <h2>
              Hand Picked Data - DFS Expert Curation - Win First!
            </h2>
          </ion-text>
          </div>
        <ion-button
          fill="solid"
          color="danger"
          size="large"
          routerLink="/purchase"
        >
          <ion-text color="white" style="font-stretch: condensed;">
            <ion-text style="font-size: large; ">
              >> Start My 7 Day Trial
            </ion-text>
            <br />
            <ion-text style="font-size: small;">
              No Risk - Win Before You Pay
            </ion-text>
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
