
div.top-nav {
  overflow: auto;
  white-space: nowrap;
  font-weight: 700;
  font-size: large;
  font-variant:small-caps;
  margin-left: 10px;
  // position: absolute;
}

div.top-nav a {
  display: inline-block;
  color: var(--ion-color-white);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: 700;
}

div.top-nav a:hover {
  background-color: var(--ion-color-light);
  color: var(--ion-color-silver);
}
