<ion-header >
  <ion-toolbar color="medium">
    <!-- <ion-buttons slot="start">
    <ion-menu-button  color="silver">
    </ion-menu-button>
    </ion-buttons>
      <ion-text color="secondary" class="ion-text-wrap">
        {{ titleId }}
      </ion-text>
    <ng-container *ngIf="auth.afAuth.user | async as user; else getStarted">
        <ion-item type="button" color="dark" (click)="presentPopover($event)" detail="false" lines="none">
          <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
          <ion-avatar>
            <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'" />
          </ion-avatar>
        </ion-item>
      </ng-container>
    <ng-template #getStarted>
      <ion-button slot="end" color="tertiary" *ngIf="isHomePage" routerLink="/purchase">
        <ion-text color="warning">
          Get Started
        </ion-text>
      </ion-button>
    </ng-template> -->
  </ion-toolbar>
</ion-header>
