
div.top-nav {
  overflow: auto;
  white-space: nowrap;
  margin-left: 60px;
  // position: absolute;
}

div.top-nav a {
  display: inline-block;
  color: var(--ion-color-white);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.top-nav a:hover {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-white);
}
