  <ion-list> <ion-header color="medium">
    <ion-title>
      Golf
    </ion-title>
  </ion-header>

    <ion-item color="light" routerLink="/tables/pga-stats">
      <ion-icon
      size="large"
      slot="start"
      name="radio-button-off"
      name="radio-button-off"
      ></ion-icon>
      <ion-label class="ion-text-wrap">Golf Stats and Rankings</ion-label>
    </ion-item>
    <ion-item color="light" routerLink="/tables/pga-this-week">
      <ion-icon size="large" slot="start" name="radio-button-off"></ion-icon>
      <ion-label class="ion-text-wrap">Golf This Week</ion-label>
    </ion-item>
    </ion-list>
