<ion-card>

  <ion-list>
    <ion-list-header color="tertiary">
      <ion-title>
        <ion-text color="light">Silver</ion-text>&nbsp;Package
      </ion-title>
      <ion-img src="../../assets/img/silver.svg" style="width: 55px;"></ion-img>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap color="dark">Includes everything in Bronze Package</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap color="dark">Six (6) Month Subscription</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap color="dark">$50.00 Billed Bi-annually</ion-label>
    </ion-item>
    <ion-item color="medium" lines="none">
      <ion-label text-wrap color="secondary">$10 Savings</ion-label>
    </ion-item>
  <ion-item>
    <ion-label>Silver Package</ion-label>
    <ion-radio slot="start" color="warning" value="plan_FCqY9lBJ46mNp2" class="submit is-success"></ion-radio>
  </ion-item>  </ion-list>


</ion-card>
