<ion-card>
  <ion-card-header color="light">
      <ion-card-title>
        CFB
      </ion-card-title>
    </ion-card-header>
    <ion-item color="light" routerLink="/list/score-predictions">
      <ion-icon size="large" slot="start"  name="american-football"></ion-icon>
      <ion-label class="ion-text-wrap">CFB Score Predictions</ion-label>
    </ion-item>
    <ion-item color="light" routerLink="/list/power-rankings">
      <ion-icon size="large" slot="start"  name="american-football"></ion-icon>
      <ion-label class="ion-text-wrap">CFB Power Rankings</ion-label>
    </ion-item>
</ion-card>
