

    <ion-list> <ion-header color="medium">
      <ion-title>
        CFB
      </ion-title>
    </ion-header>
    <ion-item  routerLink="/list/score-predictions">
      <ion-icon size="large" slot="start" name="american-football"></ion-icon>
      <ion-label class="ion-text-wrap">CFB Score Predictions</ion-label>
    </ion-item>
    <ion-item  routerLink="/list/power-rankings">
      <ion-icon size="large" slot="start" name="american-football"></ion-icon>
      <ion-label class="ion-text-wrap">CFB Power Rankings</ion-label>
    </ion-item>
    </ion-list>







