<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">
        <ion-card text-center color="primary">
          <ion-img src="../../../assets/logo.jpg"></ion-img> 
          <ion-card-header>

            <ion-card-title>
              <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">
                <strong>
                  Free Trial Account Registration
                </strong>
              </ion-text>
            </ion-card-title>
            <!-- <ion-card-subtitle>
              <ion-text color="warning">
                Email verification is used
            </ion-text>
          </ion-card-subtitle> -->
        </ion-card-header>
          <form #formRef="ngForm" >
                <ion-item color="medium">
                  <ion-label  color="warning" position="floating">Email</ion-label>
                  <ion-input style="width: 91%;" autofocus autocomplete="username"  type="text" ngModel clearInput email #email="ngModel" name="email" required title="Enter a valid email address"></ion-input>
                </ion-item>
                <ion-note class="shadow" *ngIf="email.invalid && email.dirty" text-wrap color="danger">
                  Enter a Valid Email Address
                </ion-note>
            
                <ion-item color="medium">
                  <ion-label color="warning" position="floating">Password</ion-label>
                  <ion-input 
                    style="width: 89%;"
                   
                    [type]="hide ? 'password' : 'text'" 
                    title="Hint: 8+ Characters | 1 or More Upper, Lower & Number" 
                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"  
                    name="password" 
                    #password="ngModel" 
                    autocomplete="new-password"
                    required 
                    minlength="8" 
                    maxlength="200" 
                    ngModel 
                    password ><ion-icon (click)="hide = !hide" slot="end"></ion-icon>
                  </ion-input>
                   <ion-button color="medium" shape="round" item-end (click)="hide = !hide" *ngIf="hide" style="position: absolute; right: 5px; bottom: 5px; background: transparent;">
                    <ion-icon color="tertiary" name="eye" size="large"></ion-icon></ion-button>
                  <ion-button color="medium" shape="round" item-end (click)="hide = !hide" *ngIf="!hide" style="position: absolute; right: 5px; bottom: 5px; background: transparent;">
                    <ion-icon color="tertiary" name="eye-off" size="large"></ion-icon>
                  </ion-button>
                </ion-item>
                <ion-note class="shadow"*ngIf="password.invalid && password.dirty" text-wrap color="danger">
                  Hint: 8+ Characters | 1 or More Upper, Lower & Number
                </ion-note>
                 
              <ion-button strong type="submit" color="success" expand="full" (tsSubmitIfValid)="auth.FreeSignUp(formRef)">
                <ion-text class="shadow"><strong>Register</strong></ion-text><ion-ripple-effect></ion-ripple-effect>
              </ion-button>
            </form>
                        
            <ion-button color="danger" type="button" (click)="auth.GoogleAuth()" expand="full"><ion-text>Register with&nbsp;</ion-text><ion-icon name="logo-google"> </ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            <ion-button color="twittr" type="button" (click)="auth.TwitterAuth()" expand="full"><ion-text>Register with&nbsp;</ion-text><ion-icon name="logo-twitter">  </ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            <ion-button color="facebk" type="button" (click)="auth.FacebookAuth()" expand="full"><ion-text>Register with&nbsp;</ion-text><ion-icon name="logo-facebook"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            <ion-grid text-center>
              <ion-row >
                
                <ion-col>
                  <ion-button strong shape="round" routerLink="/auth/login" color="warning" fill="clear" >
                    <ion-text color="warning"><strong>I Have<br> an Account</strong></ion-text>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

