<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-buttons collapse="true" slot="start"> -->
      <ion-menu-button slot="start" color="deepo">
      </ion-menu-button>
    <!-- </ion-buttons> -->
    <ion-title>
      <ion-text color="secondary" class="ion-text-wrap">
        {{ titleId }}
      </ion-text>
    </ion-title>
    <ion-buttons  slot="end">

    <ng-container  *ngIf="auth.afAuth.user | async as user; else cta">
      <ion-item button color="dark" (click)="presentPopover($event)" detail="false" lines="none">
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'" />
        </ion-avatar>
      </ion-item>
    </ng-container>
  </ion-buttons>


    <ng-template #cta>

      <ion-button slot="end" color="tertiary" *ngIf="isHomePage" routerLink="/purchase">
        <!-- <ion-icon slot="start" color="warning" name="jet"></ion-icon> -->
        <ion-text color="warning">
          Get Started
        </ion-text>
      </ion-button>
    </ng-template>

  </ion-toolbar>
</ion-header>
