<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-back-button
      defaultHref="/home"
      text="Back"
      type="button"
      color="silver"
      slot="start"
      icon="arrow-round-back"
    >
    </ion-back-button>
  </ion-buttons>
  <ion-title>NFL Weekly Fantasy Projections</ion-title>
</ion-toolbar>

<ion-content fullscreen>
  <ion-card class="resp-container">
    <iframe
      class="resp-iframe"
      frameborder="3"
      scrolling="no"
      src="https://onedrive.live.com/embed?resid=E6DAB4F84D6D7119%211200&authkey=%21APCCALBQBbuerXY&em=2&AllowTyping=True&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"
    ></iframe>
  </ion-card>
</ion-content>
<app-footer></app-footer>
