  <ion-list> <ion-header color="medium">
    <ion-title>
      Happening Now
    </ion-title>
  </ion-header>
  <ion-item  routerLink="/list/today-val">
    <ion-icon size="large" slot="start" name="stats"></ion-icon>
    <ion-label class="ion-text-wrap">Today's Value Rankings</ion-label>
  </ion-item>
  <!-- <ion-item  routerLink="/dk-acct">
    <ion-icon size="large" slot="start" color="success" name="stats"></ion-icon>
    <ion-label class="ion-text-wrap">Draft Kings Accounting</ion-label>
  </ion-item> -->
  </ion-list>
