
<ion-card class="ion-padding" color="primary">
  <ion-card-header color="primary">
    <ion-card-title>
      Happening Now
    </ion-card-title>
  </ion-card-header>
  <ion-item color="light" routerLink="/tables/today-val">
    <ion-icon size="large" slot="start" name="stats"></ion-icon>
    <ion-label class="ion-text-wrap">Today's Value Rankings</ion-label>
  </ion-item>
  <!-- <ion-item color="light" routerLink="tables/dk-acct">
    <ion-icon size="large" slot="start" color="primary" name="stats"></ion-icon>
    <ion-label class="ion-text-wrap">Draft Kings Accounting</ion-label>
  </ion-item> -->
</ion-card>
