    <ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning">
      </ion-menu-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>
<ion-content fullscreen >
  <ion-grid> 
    <ion-row>
      <ion-col size-md="4">
        <ion-card color="primary" *ngIf="auth.afAuth.user | async as user; else login">
          <ion-img src="../../assets/logo-md.svg"></ion-img>
          <ion-card-header>
            <ion-card-title>User Profile</ion-card-title>
          </ion-card-header>
            <ion-card-content>
              <ion-item color="medium">
                <ion-thumbnail slot="start">
                  <img [src]="user.photoURL || '/assets/dummy-user.png'">     
                </ion-thumbnail>
                <ion-label>
                  <p>Welcome: {{ user.displayName }}</p>
                  <p>Email:{{ user.email }}</p>
                  <p>Firebase UID: {{ user.uid }}</p>
                  <p>Stripe ID: {{ user?.stripeCustomerId }} || 'provisioning'</p>
               </ion-label>
              </ion-item>
              <ion-button color="danger" expand="block"  (click)="auth.SignOut()">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label color="dark">Logout</ion-label>
                <ion-icon slot="icon-only" name="exit"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card color="primary">
          <!-- <div *ngIf="getSubscriptions() | async as subscriptions"></div>
          
            <div *ngIf="subscriptionssubscriptions[planId]"></div>
              <div *ngSwitchCase="'active'">
                <p>You are subscribed to this plan</p>
                <ion-button [class.is-loading]="loading" class="button is-danger" (click)="cancelSubscription()">Cancel Plan?</ion-button>
              </div> -->
          </ion-card>
        </ion-col>
    
     <ion-col size-md="8">
      

          <subscription-page></subscription-page>
       
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer translucent="true">
  <ion-fab vertical="bottom" horizontal="end" slot="float">
    <ion-fab-button color="secondary">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" >
      <ion-fab-button color="success" href="https://fb.me/ranktowinfantasysports"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button color="medium" href="https://twitter.com/rankfsports"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-toolbar color="medium">
    <ion-buttons>
      <ion-button color="success"  href="mailto://support@rankfantasysports.com>">
        <ion-ripple-effect></ion-ripple-effect>
        Support Request
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- User NOT logged in -->
<ng-template #login>
 
          <app-sign-up></app-sign-up>
      
</ng-template>
