<ion-card color="dark">
<!-- <ion-card-header>
    <ion-card-title>
      <ion-text color="secondary">
        <h4>The Sports We Currently Analyze</h4>
      </ion-text>
    </ion-card-title>
  </ion-card-header> -->
<ion-grid>
  <ion-row class="main-timeline10 ion-align-items-stretch">
    <ion-col size-xl="2.4" size-lg="2.4" size-md="2.4" size-sm="9.6" size="9.6">
      <ion-card>
        <div class="timeline-inner">
          <div class="year"></div>
          <div class="timeline-content">
            <div class="post">Happening Now</div>
            <p class="description">
              Today's Value Rankings
            </p>
          </div>
          <div class="timeline-icon">
            <ion-icon name="football"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2.4" size-lg="2.4" size-md="2.4" size-sm="9.6" size="9.6">
      <ion-card>
        <div class="timeline-inner">
          <div class="year"></div>
          <div class="timeline-content">
            <div class="post">NFL & CFB Football</div>
            <p class="description">
              NFL Game Score Projections
              NFL Weekly Fantasy Projections
              NFL Preseason Project
            </p>
          </div>
          <div class="timeline-icon">
            <ion-icon name="football"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2.4" size-lg="2.4" size-md="2.4" size-sm="9.6" size="9.6">
      <ion-card>
        <div class="timeline-inner">
          <div class="year"></div>
          <div class="timeline-content">
            <div class="post">ATP & WTA Tennis</div>
            <p class="description">
              Tennis Ratings and DraftKings Stats
              Tennis Tournament Stat Archives
            </p>
          </div>
          <div class="timeline-icon">
            <ion-icon name="football"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2.4" size-lg="2.4" size-md="2.4" size-sm="9.6" size="9.6">
      <ion-card>
        <div class="timeline-inner">
          <div class="year"></div>
          <div class="timeline-content">
            <div class="post">PGA Golf</div>
            <p class="description">
              Golf Stats and Rankings
              Golf This Week
            </p>
          </div>
          <div class="timeline-icon">
            <ion-icon name="football"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2.4" size-lg="2.4" size-md="2.4" size-sm="9.6" size="9.6">
      <ion-card>
        <div class="timeline-inner">
          <div class="year"></div>
          <div class="timeline-content">
            <div class="post">NBA Basketball</div>
            <p class="description">
              NBA Draft Kings
              NBA Playoff- Team Power Rankings
              NBA Playoff Game Predictions
            </p>
          </div>
          <div class="timeline-icon">
            <ion-icon name="football"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>