<!-- <app-header></app-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title> 
      Page Not Found
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="4" offset-lg="4">
          <ion-card>
            <ion-card-title>
              <ion-item text-center>
                <h1>
                  <strong>
                    ERROR: 404 Page Not Found
                  </strong>
                </h1>
              </ion-item>
            </ion-card-title>
              <ion-text color="warning">
                <h3>
                  OOPS! Well, not every play can be a Touchdown!
                </h3>
              </ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
 
</ion-content>
<app-footer></app-footer>
