<app-header></app-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
        
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      <h1>404 Page Not Found</h1>
      
    </ion-title>
  </ion-toolbar>

<ion-content fullscreen>
    
    <ion-title>
      OOPS! Well, not every play can be a Touchdown!
    </ion-title>
  
</ion-content>

<app-footer></app-footer>
