  <ion-card>
  <ion-card-header color="primary">
    <ion-card-title>
      Happening Now
    </ion-card-title>
  </ion-card-header>
  <ion-item color="medium" routerLink="/list/today-val">
    <ion-icon size="large" slot="start" color="success" name="stats"></ion-icon>
    <ion-label class="ion-text-wrap">Today's Value Rankings</ion-label>
  </ion-item>
  <!-- <ion-item color="medium" routerLink="/dk-acct">
    <ion-icon size="large" slot="start" color="success" name="stats"></ion-icon>
    <ion-label class="ion-text-wrap">Draft Kings Accounting</ion-label>
  </ion-item> -->
</ion-card>
