<ion-grid>
  <ion-row class="ion-align-items-stretch">
    <ion-col
      size-sm="2"
      class="ion-align-self-start ion-text-center ion-text-wrap ion-text-capitalize"
    >
      <ion-text>
        <p>
          Access to DFS Cheatsheets
          <br />
          NFL, CFB, NBA, CBB, Golf, Tennis
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch">
    <ion-col
      size-sm="2"
      class="ion-align-self-end ion-text-center ion-text-wrap ion-text-capitalize"
    >
      <ion-text>
        <p>
          Access to NFL & CFB Score Projections
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch">
    <ion-col
      size-sm="2"
      class="ion-align-self-start ion-text-center ion-text-wrap ion-text-capitalize"
    >
      <ion-text>
        <p>
          Access to season long NFL fantasy projections
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch">
    <ion-col
      size-sm="2"
      class="ion-align-self-end ion-text-center ion-text-wrap ion-text-capitalize"
    >
      <ion-text>
        <p>
          Access to weekly NFL fantasy projections
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch">
    <ion-col
      size-sm="2"
      class="ion-align-self-start ion-text-center ion-text-wrap ion-text-capitalize"
    >
      <ion-text>
        <p>
          Access to golf DFS stats per round and tournament
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-stretch">
    <ion-col
      size-sm="2"
      class="ion-align-self-end ion-text-center ion-text-wrap ion-text-capitalize"
    >
      <ion-text>
        <p>
          Access to men's & women's DFS stats and tournaments stat archives
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
