<app-header [titleId]= "titleId"></app-header>

<ion-content>
  <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              PGA
            </ion-card-title>
          </ion-card-header>
          <ion-item color="medium" routerLink="pga-stats">
            <ion-icon size="large" slot="start" color="white" name="radio-button-off" name="radio-button-off"></ion-icon>
            <ion-text class="ion-text-wrap">Golf Stats and Rankings</ion-text>
          </ion-item>
          <ion-item color="medium" routerLink="pga-this-week">
            <ion-icon size="large" slot="start" color="white" name="radio-button-off"></ion-icon>
            <ion-text class="ion-text-wrap">Golf This Week</ion-text>
          </ion-item>
        </ion-card>
</ion-content>
<app-footer></app-footer>
