
<ion-fab style="top:0px;right:0px" vertical="top" horizontal="end" slot="fixed">
  <!-- <ion-fab-button color="light" size="small" > -->
    <ion-icon name="close-sharp" size="large" (click)="dismiss()"></ion-icon>
  <!-- </ion-fab-button> -->
</ion-fab>

  <ion-header color="light" class="ion-text-center ">
    <ion-title class="ion-text-uppercase " >
      Pricing
    </ion-title>

    <ion-text class="ion-text-uppercase ion-text-center" color="dark">
      After your complimentary trial
    </ion-text>
    <br>
    <ion-button size="large" color="dark" routerLink="/membership" >
      <ion-text class="ion-text-no-wrap ion-text-capitalize"  style="font-weight: 900;">

        $9.99
        <sub>per month</sub>

      </ion-text>
    </ion-button>

  </ion-header>
  <div class="ion-text-center ion-padding-horizontal">


      <ion-list>
        <ion-item-group class="ion-text-start">
          <ion-text color="secondary" style="font-weight: 800;">
            Features:
          </ion-text>
          <ion-item lines="inset">
            <ion-text>
              <p>
                Season Long Projections & Picks
              </p>
            </ion-text>
          </ion-item>

          <ion-item lines="inset">
            <ion-text>
              <p>
                Game Work Aggregated information
              </p>
            </ion-text>
          </ion-item>

          <ion-item lines="inset">
            <ion-text>
              <p>
                Advanced Game Work Stats
              </p>
            </ion-text>
          </ion-item>

          <ion-item lines="inset">
            <ion-text>
              <p>
                Hand Curated data
              </p>
            </ion-text>
          </ion-item>

          <ion-item lines="inset">
            <ion-text>
              <p>
                Data Dashboard
              </p>
            </ion-text>
          </ion-item>

          <ion-item lines="none" >
            <ion-text>
              <p>
                Billed monthly, no set up fee
              </p>
            </ion-text>
          </ion-item>
        </ion-item-group>
      </ion-list>
      <ion-button
      size="large"
      class="ion-text-wrap ion-text-center"
      fill="solid"
      color="danger"
      (click)="gotoPurchase()"
      >
      <ion-text class="ion-text-wrap ion-text-capitalize" style="font-variant: small-caps;">
        Start 7 Day Trial
      </ion-text>
    </ion-button>



</div>
