<ion-content style="border:3px solid var(--ion-color-white);" color="light" class="ion-align-items-center ion-padding ion-text-center ion-text-wrap"
>


   
      <ion-list>
     
        
        <ion-list-header>
          <ion-title>
            <ion-text class="ion-text-capitalize" color="medium">
              <h3>
                Price after your complimentary trial
              </h3>
            </ion-text>
            <ion-text>
              <h2>
                $9.99<sub class="ion-text-capitalize">
                  /month
                </sub>
              </h2>
            </ion-text>
          </ion-title>
        </ion-list-header>
        <ion-item-group>
          <ion-text class="ion-text-capitalize ion-text-start" color="medium">
            <h3>
            Features:
            </h3>
          </ion-text>
        </ion-item-group>
          <ion-item>
            <ion-text>
              <p>
                Season Long Projections & Picks
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-text>
              <p>
                RFS Aggregated information
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-text>
              <p>
                Advanced RFS Stats
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-text>
              <p>
                Hand Curated data
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-text>
              <p>
                Data Dashboard
              </p>
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-text>
              <p>
                Billed monthly, no set up fee
              </p>
            </ion-text>
          </ion-item>
        </ion-list>
      <!-- </ion-card> -->
      
      <ion-button
        size="large"
        class="ion-text-wrap"
        fill="solid"
        color="danger"
        (click)="gotoPurchase()"
      >
        <ion-text class="ion-text-wrap ion-text-capitalize">
          Claim Your 7 Free days
        </ion-text>
      </ion-button>
      <ion-button
        size="large"
        fill="outline"
        color="primary"
        (click)="dismiss()"
      >
        <ion-text>
        Close
        </ion-text>
      </ion-button>
      
</ion-content>
