<ion-content style="border:4px solid var(--ion-color-white)" color="light" class="ion-align-items-center ion-text-center ion-text-wrap"
>

    <!-- <ion-fab horizontal="end" vertical="top" slot="fixed" style="top:-8px;right:-8px;">
        <ion-fab-button size="small" (click)="dismiss()" color="dark"> -->
  
    <!-- </ion-fab-button>
          </ion-fab> -->

      <ion-text class="ion-text-capitalize">
        <h4>
          Features & Pricing after your complimentary trial
          <!-- FEATURES & PRICING AFTER YOUR COMPLIMENTARY TRIAL -->
        </h4>
      </ion-text>
      <ion-text>
        <h2>
          $9.99/<sub>
            mo.

          </sub>
        </h2>
      </ion-text>
      <ion-card color="white">
        <ul>
          <li>
            <ion-text>
              <p >
                Billed monthly, no set up fee.
              </p >
            </ion-text>
          </li>

          <li>
            <ion-text>
              <p>
                RFS Aggregated information
              </p>
            </ion-text>
          </li>

          <li>
            <ion-text>
              <p>
                Advanced RFS Stats
              </p>
            </ion-text>
          </li>

          <li>
            <ion-text>
              <p>
                Hand Curated Data
              </p>
            </ion-text>
          </li>

          <li>
            <ion-text>
              <p>
                Data Dashboard
              </p>
            </ion-text>
          </li>

          <li>
            <ion-text>
              <p>
                Season Long Projections and Picks
              </p>
            </ion-text>
          </li>
        </ul>
      </ion-card>

      <ion-button
        size="large"
        fill="solid"
        color="danger"
        (click)="gotoPurchase()"
      >
        <ion-text class="ion-text-wrap">
          Claim This For 7 days FREE
        </ion-text>
      </ion-button>
      <ion-button
        size="large"
        fill="solid"
        color="primary"
        (click)="dismiss()"
      >
        <ion-text class="ion-text-wrap">
    
        Close
        </ion-text>
      </ion-button>
      <hr>
      <br>
</ion-content>
