h4 {
  font-size: large;
  font-variant: all-small-caps;
  font-weight: 800;
}

p {
  color: var(--ion-color-medium);
  font-variant:small-caps;
}
h2 {
  font-variant-numeric: tabular-nums;;
  font-size: xx-large;
  font-weight: 900;
}

ion-item {
  // border: medium solid var(--ion-color-white);
  // border-radius: 10px;
  // font-size: larger;
  // font-weight: 700;
  text-transform: capitalize;
}
sub{
  font-variant: small-caps;
  font-weight: 600;
  font-stretch: condensed;

}
ion-list{
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 3px solid black;
}
