
ion-item-group{
  font-weight: 800;
  font-size: large;
  font-variant: small-caps;
  color: var(--ion-color-dark);
  padding-left:5%;

}

p {
  font-weight: 700;
  color: var(--ion-color-medium);
  font-variant:small-caps;
}
h3 {
  font-size: x-large;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: 900;
}
.aboveprice {
  font-size: large;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: 800;
}

ion-item {
  // border: medium solid var(--ion-color-white);
  // border-radius: 10px;
  // font-size: larger;
  // font-weight: 700;
  padding-left:5%;
  text-transform: capitalize;
}

sub{
  font-variant: small-caps;
  font-weight: 700;
}
ion-list{
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid black;
  font-variant: small-caps;
}
