h4 {
  font-size: large;
  font-variant: all-small-caps;
  font-weight: 800;
}

p {
  color: var(--ion-color-medium);
  font-variant:small-caps;
}
h2 {
  font-variant-numeric: tabular-nums;;
  font-size: xx-large;
  font-weight: 900;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  border: medium solid var(--ion-color-light);
}
sub{
  font-variant: small-caps;
}
