<app-header></app-header>
<ion-content class="bg-img" padding>
  <ion-grid>
    <ion-row >
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">
        <form #authenticate="ngForm" (ngSubmit)="onSubmit(authenticate)">
        <ion-card color="primary">
          <ion-img src="../../../assets/logo-md.svg"></ion-img>
          
          <ion-card-title  text-center>
            <ion-text color="warning">{{ this.isLogin ? 'Sign In' : 'Sign Up' }}</ion-text>
          </ion-card-title>
          <ion-card>
            <ion-item [hidden]="isLogin" >
              <ion-label color="light" position="floating">Full Name</ion-label>
              <ion-input [autofocus]="!isLogin" pattern="[A-Z][a-z]*.[a-z]*\s[A-Z][a-z]*.[a-z]*" clear-input autocapitalize ngModel minlength="6" type="text" required name="name" #nameCtrl="ngModel"></ion-input>
                </ion-item>
              </ion-card>
              <!-- <ion-label [hidden]="isLogin"  *ngIf="nameCtrl.invalid && nameCtrl.touched" lines="none"> 
                <sub>Enter Your First & Last Name</sub>
                      </ion-label> -->
                      <ion-card>
                        <ion-item>
                          <ion-label color="light" position="floating">Email</ion-label>
                          <ion-input [autofocus]="isLogin" type="email" ngModel clear-input email name="emailt" required #emailCtrl="ngModel"></ion-input>
                        </ion-item>
                      </ion-card>
                      <!-- <ion-label *ngIf="emailCtrl.invalid && emailCtrl.touched" lines="none" text-wrap >
                        <sub>Enter a valid email address</sub>
                      </ion-label> -->
                      <ion-card>
                        <ion-item>
                          <ion-label color="light" position="floating">Password</ion-label>
                          <ion-input type="password"  name="password" required minlength="6" ngModel type="password" password #passwordCtrl="ngModel">
                          </ion-input>
                        </ion-item>
                      </ion-card>
                      <!-- <ion-label *ngIf="passwordCtrl.invalid && passwordCtrl.touched" lines="none" text-wrap>
                        <sub>Not secure, use 6 or more characters</sub>
                      </ion-label> -->
                      <ion-button type="button" size="small" color="warning" fill="clear" expand="block" (click)="onSwitchAuthMode()">
                        <ion-label strong color="warning"> Switch to {{ this.isLogin ? 'Sign Up' : 'Sign In' }} </ion-label>
                        <ion-ripple-effect></ion-ripple-effect>
                      </ion-button>
                    <ion-card-content>
                      <ion-button 
                      *ngIf="this.isLogin" 
                      type="submit" 
                      color="secondary" 
                      expand="block" 
                      [disabled]="emailCtrl.invalid|| passwordCtrl.invalid">
                      <ion-label strong color="primary">Sign In</ion-label><ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button *ngIf="!this.isLogin" type="submit" color="secondary" expand="block" [disabled]="authenticate.form.invalid">
                      <ion-label strong color="primary">Sign Up</ion-label><ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <hr>                  
                    <ion-button class="g-btn" type="button" (click)="auth.googleLogin()" expand="block"> <ion-icon name="logo-google">Login</ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button class="t-btn" type="button" (click)="auth.twitterLogin()" expand="block"><ion-icon name="logo-twitter">Login</ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    <ion-button class="f-btn" type="button" (click)="auth.facebookLogin()" expand="block"><ion-icon name="logo-facebook">Login</ion-icon>
                      <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                    
                  </ion-card-content>
                  </ion-card>
                </form>
              </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
