
  <ion-toolbar text-center>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/list/categories" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Soccer</ion-title>
  </ion-toolbar>

<ion-content>

    <ion-card disabled>
      <ion-card-header color="primary">
        <ion-card-title>
          FIFA
        </ion-card-title>
      </ion-card-header>
      <ion-item color="medium" >
        <ion-icon size="large" slot="start" color="dark" name="football"></ion-icon>
        <ion-text class="ion-text-wrap">Today's Value Rankings Embed Code</ion-text>
      </ion-item>
      <ion-item color="medium" >
        <ion-icon size="large" slot="start" color="dark" name="football"></ion-icon>
        <ion-text class="ion-text-wrap">DK Accounting Embed Code</ion-text>
      </ion-item>
    </ion-card>
</ion-content>
<ion-footer translucent>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="tertiary">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="facebk" href="https://fb.me/ranktowinfantasysports">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twittr" href="https://twitter.com/rankfsports">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-toolbar color="medium">
   </ion-toolbar>
</ion-footer>
