<app-header></app-header>

<ion-content class="ion-padding" fullscreen >
  <ion-grid>
<!-- First Row Login -->
    <ion-row>
       <ion-col size-md="6" offset-md="3">
        <ion-card class="main-card">
          <ion-img src="../../assets/logo.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>
                <ion-text color="secondary" style="font-size:1.2em; text-shadow: 1px 1px #000000;">
                  RF<ion-text color="secondary" style="text-shadow: 1px 1px #000000;">$</ion-text>&trade;
                  Pro Subscriptions
                </ion-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                The info you need, When you need it, That Simple!
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
 
      </ion-col>
    </ion-row>

<!-- Second Row Memberships -->
<ion-row class="ion-align-items-stretch">
  <ion-col size-md="12">
    <!-- <ion-card  color="primary"> -->
      <ion-grid >
        <ion-row>
          <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col size-md="3" offset-md="3">
            <ion-card class="ion-text-center"  >
              
              <ion-list >
                <ion-list-header color="tertiary">
                  <ion-title>
                    <ion-text style="color: chartreuse; text-shadow: 1px 1px #000000;">
                      Details
                    </ion-text>
                  </ion-title>
                </ion-list-header>
                <ion-item lines="none">
                  <ion-text class="ion-text-wrap" style="color:whitesmoke;text-shadow: 1px 1px #000000;">
                      Access to all DFS data-tables
                      <br>
                   <ion-text color="warning" style="text-shadow: 1px 1px #000000;"> <sub>
                   New Material released regularly</sub>
                    </ion-text></ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text class="ion-text-wrap" style="color:whitesmoke;text-shadow: 1px 1px #000000;">
                    DFS actionable breakdown videos
                    <br>
                    <ion-text color="warning" style="text-shadow: 1px 1px #000000;">  <sub>
                   Growing list of topics</sub>
                  </ion-text></ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text class="ion-text-wrap" style="color:whitesmoke;text-shadow: 1px 1px #000000;">
                    New & existing livestream events
                    <br>
                     <ion-text color="warning" style="text-shadow: 1px 1px #000000;"> <sub>
                    Receive notification of upcoming events</sub>
                  </ion-text></ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text class="ion-text-wrap" style="color:whitesmoke;text-shadow: 1px 1px #000000;">
                    Exclusive DFS chat rooms
                    <br>
                    <ion-text color="warning" style="text-shadow: 1px 1px #000000;"> 
                    <sub>
                     Coming Soon
                    </sub>
                    </ion-text>
                  </ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text class="ion-text-wrap" style="color:whitesmoke;text-shadow: 1px 1px #000000;">
                     Ancillary stats, tools & other resources                   
                     <br>
                      <ion-text color="warning"> 
                    <sub>
                     One stop for everything you need to win
                    </sub>
                    </ion-text>
                  </ion-text>
                </ion-item>
                <br>
             
              </ion-list>
            </ion-card>
          </ion-col>
          <ion-col size-md="3">
            <ion-card class="ion-text-center" >
              <ion-list>
                <ion-list-header color="tertiary">
                  <ion-title>
                    <ion-text style="color:chartreuse;text-shadow: 1px 1px #000000;">
                      
                        Pro Packages                      
                      </ion-text>
                    </ion-title>
                  </ion-list-header>
                  <ion-item lines="none">
                    <ion-button color="gold">
                        <strong>  Gold Package </strong>
                      </ion-button>&nbsp;
                        <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                          <ion-chip color="dark">
                            <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                                $90 Annually
                          </ion-text>
                        </ion-chip>
                        </ion-text>
                </ion-item >
                <ion-item lines="none">
                  <ion-button color="silver">
                   <strong> Silver Package</strong>
                  </ion-button>&nbsp;
                  <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                    <ion-chip color="dark">
                      <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                        $50 Semi-Annually
                     </ion-text>
                   </ion-chip>
                  </ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-button color="bronze">
                  <strong>  Bronze Package</strong>
                 </ion-button>&nbsp;
                  <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                    <ion-chip color="dark">
                    <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                        $9.99 Monthly
                    </ion-text>
                  </ion-chip>
                  </ion-text>
                </ion-item>
              </ion-list>
              <hr>
              
                <ng-container *ngIf="auth.afAuth.user | async as user; else goToRegister" >
                  <ion-button shape="round" strong="true"
                  expand="block" color="secondary" routerLink="/purchase">
                  <ion-icon name="rocket" color="danger"></ion-icon>&nbsp;&nbsp;
                  <ion-text color="primary" style="text-shadow: 1px 1px #000000;">
                    <strong>
                      Get Started
                    </strong>
                  </ion-text>
                </ion-button>
              </ng-container> 
              
              <ng-template #goToRegister>
                <ion-button shape="round" strong="true"
                expand="block" color="secondary" routerLink="/register">
                <ion-icon name="rocket" color="danger"></ion-icon>&nbsp;&nbsp;
                <ion-text color="primary" >
                  <strong>
                    Get Started
                  </strong>
                </ion-text>
              </ion-button>
              <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                    <p class="ion-text-center">
                    You will be taken to a registration page first, followed by the page where you can purchase a Pro Package.
                  </p>
              </ion-text>
                </ng-template>

            </ion-card>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-card color="success">
                <ion-card class="ion-text-center" color="primary">
                  <ion-card-title>
                    <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">
                      <h1>
                        Free trial for a week, with signup!
                      </h1>
                   </ion-text>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <ion-text color="warning" style="text-shadow: 1px 1px #000000;">
                   <h3>
                     Signup with any Pro membership today and get 7 days to try it out.
                   </h3>
                    </ion-text>
                  </ion-card-subtitle>
                </ion-card>
              </ion-card>
           </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
        <!-- </ion-card> -->
      </ion-col>
    </ion-row>
           
    </ion-grid>
  </ion-content>


