<app-header></app-header>

<ion-content text-center fullscreen >
  <ion-grid>
<!-- First Row Login -->
    <ion-row>
       <ion-col size-md="6" offset-md="3">
        <ion-card class="main-card" color="primary">
          <ion-img src="../../assets/logo.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>
                <ion-text color="secondary" style="font-size:1.2em;">
                  RF<ion-text color="secondary">$</ion-text>&trade;
                  Pro Subscriptions
                </ion-text>
            </ion-card-title>
            <ion-card-subtitle>The info you need, When you need it, that Simple!</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
 
      </ion-col>
    </ion-row>

<!-- Second Row Memberships -->
<ion-row class="ion-align-items-stretch">
  <ion-col size-md="12">
    <!-- <ion-card  color="primary"> -->
      <ion-grid >
        <ion-row>
          <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6">
            <ion-card text-center>
              
              <ion-list>
                <ion-list-header color="tertiary">
                  <ion-title>
                    <ion-text style="color:chartreuse">
                      Details
                    </ion-text>
                  </ion-title>
                </ion-list-header>
                <ion-item>
                  <ion-text text-wrap style="color:lavender">
                      Access to all DFS data-tables
                      <br>
                      <sub class="warning">
                   New Material released regularly</sub>
                    </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text text-wrap style="color:lavender">
                    DFS actionable breakdown videos
                    <br>
                    <sub class="warning">
                   Growing list of topics</sub>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text text-wrap style="color:lavender">
                    New & existing livestream events
                    <br>
                    <sub class="warning">
                    Receive notification of upcoming events</sub>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text text-wrap style="color:lavender">
                    Exclusive DFS chat rooms
                    <br>
                    <sub class="warning">
                     
                    </sub>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text text-wrap style="color:lavender">
                     Ancillary stats, tools & other resources                   
                     <br>
                  </ion-text>
                </ion-item>
             
              </ion-list>
            </ion-card>
          </ion-col>
          <ion-col size-md="6">
            <ion-card text-center color="primary">
              <ion-list>
                <ion-list-header color="tertiary">
                  <ion-title>
                    <ion-text style="color:chartreuse;">
                      
                        Plans                      
                    </ion-text>
                  </ion-title>
                </ion-list-header>
                <ion-item>
                 <ion-text style="color:gold;">
                <strong>  Gold Plan </strong></ion-text>&nbsp;<ion-text color="warning">$90 Annually
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text style="color:silver;">
                   <strong> Silver Plan</strong></ion-text>&nbsp;<ion-text color="warning">$50 Semi-Annually
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text style="color:darkgoldenrod;">
                  <strong>  Bronze Plan</strong> </ion-text>&nbsp;<ion-text color="warning">$9.99 Monthly
                  </ion-text>
                </ion-item>
              </ion-list>
                 <ion-button  shape="round" strong="true"
                  expand="block" class="bright" routerLink="/launchpage">
                  <ion-icon name="rocket" color="danger"></ion-icon>&nbsp;&nbsp;
                  <ion-text color="primary">
                    <strong>
                      Purchase a Membership
                    </strong>
                  </ion-text>
                </ion-button>
            </ion-card>
              <ion-card color="light">
                <ion-card padding color="tertiary">
                  <ion-card-title>
                    <ion-text color="secondary">
                      <h1>
                        Free trial for a week, with signup!
                      </h1>
                   </ion-text>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <ion-text color="warning">
                   <h3>
                     Signup with any Pro membership today and get 7 days to try it out.
                   </h3>
                    </ion-text>
                  </ion-card-subtitle>
                </ion-card>
              </ion-card>
           </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
        <!-- </ion-card> -->
      </ion-col>
    </ion-row>
           
    </ion-grid>
  </ion-content>

<app-footer></app-footer>
