<app-header [titleId]= "titleId"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
          <ion-card color="primary">
            <ion-card-header class="ion-text-center">
                  <ion-card-title>
                    <ion-text color="secondary">
                      User Settings
                    </ion-text>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <ion-text color="warning">
                      Edit your Name, Email & Photo
                    </ion-text>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

                        <ion-item lines="none">
                    <ion-label position="floating">
                      <ion-text color="secondary">
                        Full Name
                      </ion-text>
                    </ion-label>
                    <ion-input type="text" [disabled]="!edit" formControlName="displayName" color="warning"></ion-input>
            
                  </ion-item>
                  
                  <ion-item>
                    <ion-label position="floating">
                      <ion-text color="secondary">
                        Email
                      </ion-text>
                    </ion-label>
                    <input color="warning" type="text" formControlName="email">
                  </ion-item>
                  <ion-item>
                    <ion-button color="warning" shape="round" size="small" >Take Photo</ion-button>
                     Work In Progress
                  </ion-item>
                </form>
                <ion-button color="danger" size="small" *ngIf="edit" shape="round" type="submit">Submit</ion-button>
                <ion-button color="warning" size="small" *ngIf="!edit" (click)="edit = !edit" shape="round" type="button">Edit</ion-button>
                  <ion-item>
                    <ion-button color="danger" size="small" shape="round" (click)=auth.linkGoogle()>
                      Link Your Google Account
                    </ion-button> Work In Progress
                  </ion-item>
                  <ion-item>
                    <ion-button color="twittr" size="small" shape="round" (click)=auth.linkTwitter()>
                      Link Your Twitter Account
                    </ion-button>Work In Progress
                  </ion-item>
                  <ion-item>
                    <ion-button color="facebk" size="small" shape="round" (click)=auth.linkFacebook()>
                      Link Your Facebook Account
                    </ion-button>Work In Progress
                  </ion-item>
                  <ion-item>
                    <ion-button color="msoft" size="small" shape="round" (click)=auth.linkMicrosoft()>
                      Link Your Microsoft Account
                    </ion-button>Work In Progress
                  </ion-item>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
<app-footer></app-footer>
