// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

// Root Color Schemes and Variables
:root {
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #1f1f1f;
  --ion-color-step-100: #2b2b2b;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #424242;
  --ion-color-step-250: #4e4e4e;
  --ion-color-step-300: #5a5a5a;
  --ion-color-step-350: #666666;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #959595;
  --ion-color-step-600: #a1a1a1;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dcdcdc;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-color-primary: #363c4b;
  --ion-color-primary-rgb: 54,60,75;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #303542;
  --ion-color-primary-tint: #4a505d;

  --ion-color-secondary: #5ead00;
  --ion-color-secondary-rgb: 94,173,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #539800;
  --ion-color-secondary-tint: #6eb51a;

  --ion-color-tertiary: #6c4184;
  --ion-color-tertiary-rgb: 108,65,132;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5f3974;
  --ion-color-tertiary-tint: #7b5490;

  --ion-color-success: #27a910;
  --ion-color-success-rgb: 39,169,16;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #22950e;
  --ion-color-success-tint: #3db228;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #e21212;
  --ion-color-danger-rgb: 226,18,18;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c71010;
  --ion-color-danger-tint: #e52a2a;

  --ion-color-dark: #212734;
  --ion-color-dark-rgb: 33,39,52;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1d222e;
  --ion-color-dark-tint: #373d48;

  --ion-color-medium: #9ba0a6;
  --ion-color-medium-rgb: 155,160,166;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #888d92;
  --ion-color-medium-tint: #a5aaaf;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-msoft: #7FBA00;
  --ion-color-msoft-rgb: 127,186,0;
  --ion-color-msoft-contrast: #000000;
  --ion-color-msoft-contrast-rgb: 0,0,0;
  --ion-color-msoft-shade: #70a400;
  --ion-color-msoft-tint: #8cc11a;

  --ion-color-facebk: #4267B2;
  --ion-color-facebk-rgb: 66,103,178;
  --ion-color-facebk-contrast: #ffffff;
  --ion-color-facebk-contrast-rgb: 255,255,255;
  --ion-color-facebk-shade: #3a5b9d;
  --ion-color-facebk-tint: #5576ba;

  --ion-color-twittr: #1DA1F2;
  --ion-color-twittr-rgb: 29,161,242;
  --ion-color-twittr-contrast: #000000;
  --ion-color-twittr-contrast-rgb: 0,0,0;
  --ion-color-twittr-shade: #1a8ed5;
  --ion-color-twittr-tint: #34aaf3;

  --ion-color-leather: #94592e;
  --ion-color-leather-rgb: 148,89,46;
  --ion-color-leather-contrast: #ffffff;
  --ion-color-leather-contrast-rgb: 255,255,255;
  --ion-color-leather-shade: #824e28;
  --ion-color-leather-tint: #9f6a43;

  --ion-color-gold: #ecdf7a;
  --ion-color-gold-rgb: 236,223,122;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0,0,0;
  --ion-color-gold-shade: #d0c46b;
  --ion-color-gold-tint: #eee287;

  --ion-color-silver: #b5b5bd;
  --ion-color-silver-rgb: 181,181,189;
  --ion-color-silver-contrast: #000000;
  --ion-color-silver-contrast-rgb: 0,0,0;
  --ion-color-silver-shade: #9f9fa6;
  --ion-color-silver-tint: #bcbcc4;

  --ion-color-bronze: #cd7f32;
  --ion-color-bronze-rgb: 205,127,50;
  --ion-color-bronze-contrast: #000000;
  --ion-color-bronze-contrast-rgb: 0,0,0;
  --ion-color-bronze-shade: #b4702c;
  --ion-color-bronze-tint: #d28c47;

  --ion-color-valid: #91b086;
  --ion-color-valid-rgb: 145,176,134;
  --ion-color-valid-contrast: #000000;
  --ion-color-valid-contrast-rgb: 0,0,0;
  --ion-color-valid-shade: #809b76;
  --ion-color-valid-tint: #9cb892;

  --ion-color-invalid: #e2a8a7;
  --ion-color-invalid-rgb: 226,168,167;
  --ion-color-invalid-contrast: #000000;
  --ion-color-invalid-contrast-rgb: 0,0,0;
  --ion-color-invalid-shade: #c79493;
  --ion-color-invalid-tint: #e5b1b0;

  --ion-color-deepo: #ff3d00;
  --ion-color-deepo-rgb: 255,61,0;
  --ion-color-deepo-contrast: #ffffff;
  --ion-color-deepo-contrast-rgb: 255,255,255;
  --ion-color-deepo-shade: #e03600;
  --ion-color-deepo-tint: #ff501a;

  --ion-color-white: #f3fdfe;
  --ion-color-white-rgb: 243,253,254;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #d6dfe0;
  --ion-color-white-tint: #f4fdfe;

  --ion-color-instagram: #9537BC;
  --ion-color-instagram-rgb: 149,55,188;
  --ion-color-instagram-contrast: #ffffff;
  --ion-color-instagram-contrast-rgb: 255,255,255;
  --ion-color-instagram-shade: #8330a5;
  --ion-color-instagram-tint: #a04bc3;
}

$customColors: ('msoft', 'facebk', 'twittr', 'leather', 'gold', 'silver', 'bronze', 'valid', 'invalid', 'deepo', 'white', 'instagram');
@each $color in $customColors {
  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color}) !important;
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
    --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
    --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}

//   keep the label color on focus:
.item-has-focus ion-label.ion-color {
  color: var(--ion-color-base) !important;
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}



/*
 * Dark Theme
 * ----------------------------------------------------------------------------
 */

 .dark-theme {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80,200,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106,100,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}
