// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

// Root Color Schemes and Variables
:root {
  ion-content{
    --background: var(--ion-color-light);
  }
  // --ion-background-color: #00000;
  // --ion-background-color-rgb: 255, 255, 255;


  --ion-color-primary: #464f51;
  --ion-color-primary-rgb: 70, 79, 81;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3e4647;
  --ion-color-primary-tint: #596162;

  --ion-color-secondary: #64dd17;
  --ion-color-secondary-rgb: 100, 221, 23;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #58c214;
  --ion-color-secondary-tint: #74e02e;

  --ion-color-tertiary: #3f005c;
  --ion-color-tertiary-rgb: 63, 0, 92;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #370051;
  --ion-color-tertiary-tint: #521a6c;

  --ion-color-success: #3fb60c;
  --ion-color-success-rgb: 63, 182, 12;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #37a00b;
  --ion-color-success-tint: #52bd24;

  --ion-color-warning: #e6d82b;
  --ion-color-warning-rgb: 230, 216, 43;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #cabe26;
  --ion-color-warning-tint: #e9dc40;

  --ion-color-danger: #d50000;
  --ion-color-danger-rgb: 213, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bb0000;
  --ion-color-danger-tint: #d91a1a;

  --ion-color-dark: #202020;
  --ion-color-dark-rgb: 32, 32, 32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1c1c1c;
  --ion-color-dark-tint: #363636;

  --ion-color-medium: #5c5c5c;
  --ion-color-medium-rgb: 92, 92, 92;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #515151;
  --ion-color-medium-tint: #6c6c6c;

  --ion-color-light: #a1a1a1;
  --ion-color-light-rgb: 161, 161, 161;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #8e8e8e;
  --ion-color-light-tint: #aaaaaa;

  --ion-color-facebk: #5984f4;
  --ion-color-facebk-rgb: 89,132,244;
  --ion-color-facebk-contrast: #000000;
  --ion-color-facebk-contrast-rgb: 0,0,0;
  --ion-color-facebk-shade: #4e74d7;
  --ion-color-facebk-tint: #6a90f5;

  --ion-color-silver: #b5b5bd;
  --ion-color-silver-rgb: 181, 181, 189;
  --ion-color-silver-contrast: #000000;
  --ion-color-silver-contrast-rgb: 0, 0, 0;
  --ion-color-silver-shade: #9f9fa6;
  --ion-color-silver-tint: #bcbcc4;

  --ion-color-white: #eeeeee;
  --ion-color-white-rgb: 238,238,238;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #d1d1d1;
  --ion-color-white-tint: #f0f0f0;



  $customColors: ('facebk', 'silver', 'white');
  @each $color in $customColors {
    .ion-color-#{$color} {
      --ion-color-base: var(--ion-color-#{$color}) !important;
      --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
      --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
      --ion-color-contrast-rgb: var(
        --ion-color-#{$color}-contrast-rgb
        ) !important;
        --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
        --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
      }
    }
    //   keep the label color on focus:
    .item-has-focus ion-label.ion-color {
      color: var(--ion-color-base) !important;
    }

    /* Optional CSS, this is added for the flashing that happens when toggling between themes */
    ion-item {
  --transition: none;
}
}



/*
* Dark Colors
* -------------------------------------------
*/

:root {
  .dark-theme {


    --ion-color-primary: #424242;
    --ion-color-primary-rgb: 66, 66, 66;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a3a3a;
    --ion-color-primary-tint: #555555;

    --ion-color-secondary: #64dd17;
    --ion-color-secondary-rgb: 100, 221, 23;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #58c214;
    --ion-color-secondary-tint: #74e02e;

    --ion-color-tertiary: #3f005c;
    --ion-color-tertiary-rgb: 63, 0, 92;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #370051;
    --ion-color-tertiary-tint: #521a6c;

    --ion-color-success: #1aa660;
    --ion-color-success-rgb: 26,166,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #179254;
    --ion-color-success-tint: #31af70;

    --ion-color-warning: #e6d82b;
    --ion-color-warning-rgb: 230, 216, 43;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #cabe26;
    --ion-color-warning-tint: #e9dc40;

    --ion-color-danger: #d50000;
    --ion-color-danger-rgb: 213, 0, 0;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #bb0000;
    --ion-color-danger-tint: #d91a1a;

    --ion-color-light: #121212;
    --ion-color-light-rgb: 18, 18, 18;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #101010;
    --ion-color-light-tint: #2a2a2a;

    --ion-color-medium: #212121;
    --ion-color-medium-rgb: 33, 33, 33;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #1d1d1d;
    --ion-color-medium-tint: #373737;

    --ion-color-dark: #303030;
    --ion-color-dark-rgb: 48, 48, 48;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #2a2a2a;
    --ion-color-dark-tint: #454545;


    --ion-color-facebk: #2261ac;
    --ion-color-facebk-rgb: 34,97,172;
    --ion-color-facebk-contrast: #ffffff;
    --ion-color-facebk-contrast-rgb: 255,255,255;
    --ion-color-facebk-shade: #1e5597;
    --ion-color-facebk-tint: #3871b4;

    --ion-color-silver: #212121;
    --ion-color-silver-rgb: 33, 33, 33;
    --ion-color-silver-contrast: #ffffff;
    --ion-color-silver-contrast-rgb: 255, 255, 255;
    --ion-color-silver-shade: #1d1d1d;
    --ion-color-silver-tint: #373737;

    --ion-color-white: #f3fdfe;
    --ion-color-white-rgb: 243, 253, 254;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0, 0, 0;
    --ion-color-white-shade: #d6dfe0;
    --ion-color-white-tint: #f4fdfe;
  }
}


// Wizard

// color definitions

$aw-colors: (
  '_': (
    'default': (
      'border-color-default': #e1e4dc,
      'background-color-default': null,
      'symbol-color-default': #ffffff,
      'border-color-hover': #91ff00,
      'background-color-hover': #d6ffa1,
      'symbol-color-hover': #d6ffa1,
    ),
    'current': (
      'border-color-default': #cccccc,
      'background-color-default': #b8acfc,
      'symbol-color-default': #ffffff,
      'border-color-hover': #0004ff,
      'background-color-hover': #6946ca,
      'symbol-color-hover': #a9a0f5,
    )
  )
);

// big definitions
$wz-big-dot-width: 30px !default;
$wz-big-dot-height: 30px !default;



@import './node_modules/angular-archwizard/archwizard';
