// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

// Root Color Schemes and Variables
:root {
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #1f1f1f;
  --ion-color-step-100: #2b2b2b;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #424242;
  --ion-color-step-250: #4e4e4e;
  --ion-color-step-300: #5a5a5a;
  --ion-color-step-350: #666666;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #959595;
  --ion-color-step-600: #a1a1a1;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dcdcdc;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-color-primary: #464f51;
  --ion-color-primary-rgb: 70,79,81;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3e4647;
  --ion-color-primary-tint: #596162;

  --ion-color-secondary: #64dd17;
  --ion-color-secondary-rgb: 100,221,23;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #58c214;
  --ion-color-secondary-tint: #74e02e;


  --ion-color-tertiary: #3f005c;
  --ion-color-tertiary-rgb: 63,0,92;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #370051;
  --ion-color-tertiary-tint: #521a6c;

  --ion-color-success: #3fb60c;
  --ion-color-success-rgb: 63,182,12;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #37a00b;
  --ion-color-success-tint: #52bd24;

  --ion-color-warning: #e6d82b;
  --ion-color-warning-rgb: 230,216,43;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #cabe26;
  --ion-color-warning-tint: #e9dc40;

  --ion-color-danger: #d50000;
  --ion-color-danger-rgb: 213,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bb0000;
  --ion-color-danger-tint: #d91a1a;

  --ion-color-dark: #353537;
  --ion-color-dark-rgb: 53,53,55;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #2f2f30;
  --ion-color-dark-tint: #49494b;

  --ion-color-medium: #585858;
  --ion-color-medium-rgb: 88,88,88;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #4d4d4d;
  --ion-color-medium-tint: #696969;

  --ion-color-light: #a1a1a1;
  --ion-color-light-rgb: 161,161,161;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #8e8e8e;
  --ion-color-light-tint: #aaaaaa;

  --ion-color-msoft: #7FBA00;
  --ion-color-msoft-rgb: 127,186,0;
  --ion-color-msoft-contrast: #000000;
  --ion-color-msoft-contrast-rgb: 0,0,0;
  --ion-color-msoft-shade: #70a400;
  --ion-color-msoft-tint: #8cc11a;

  --ion-color-facebk: #4267B2;
  --ion-color-facebk-rgb: 66,103,178;
  --ion-color-facebk-contrast: #ffffff;
  --ion-color-facebk-contrast-rgb: 255,255,255;
  --ion-color-facebk-shade: #3a5b9d;
  --ion-color-facebk-tint: #5576ba;

  --ion-color-twittr: #1DA1F2;
  --ion-color-twittr-rgb: 29,161,242;
  --ion-color-twittr-contrast: #000000;
  --ion-color-twittr-contrast-rgb: 0,0,0;
  --ion-color-twittr-shade: #1a8ed5;
  --ion-color-twittr-tint: #34aaf3;

  --ion-color-leather: #94592e;
  --ion-color-leather-rgb: 148,89,46;
  --ion-color-leather-contrast: #ffffff;
  --ion-color-leather-contrast-rgb: 255,255,255;
  --ion-color-leather-shade: #824e28;
  --ion-color-leather-tint: #9f6a43;

  --ion-color-gold: #ecdf7a;
  --ion-color-gold-rgb: 236,223,122;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0,0,0;
  --ion-color-gold-shade: #d0c46b;
  --ion-color-gold-tint: #eee287;

  --ion-color-silver: #b5b5bd;
  --ion-color-silver-rgb: 181,181,189;
  --ion-color-silver-contrast: #000000;
  --ion-color-silver-contrast-rgb: 0,0,0;
  --ion-color-silver-shade: #9f9fa6;
  --ion-color-silver-tint: #bcbcc4;

  --ion-color-bronze: #cd7f32;
  --ion-color-bronze-rgb: 205,127,50;
  --ion-color-bronze-contrast: #000000;
  --ion-color-bronze-contrast-rgb: 0,0,0;
  --ion-color-bronze-shade: #b4702c;
  --ion-color-bronze-tint: #d28c47;

  --ion-color-valid: #91b086;
  --ion-color-valid-rgb: 145,176,134;
  --ion-color-valid-contrast: #000000;
  --ion-color-valid-contrast-rgb: 0,0,0;
  --ion-color-valid-shade: #809b76;
  --ion-color-valid-tint: #9cb892;

  --ion-color-invalid: #e2a8a7;
  --ion-color-invalid-rgb: 226,168,167;
  --ion-color-invalid-contrast: #000000;
  --ion-color-invalid-contrast-rgb: 0,0,0;
  --ion-color-invalid-shade: #c79493;
  --ion-color-invalid-tint: #e5b1b0;

  --ion-color-deepo: #ff3d00;
  --ion-color-deepo-rgb: 255,61,0;
  --ion-color-deepo-contrast: #ffffff;
  --ion-color-deepo-contrast-rgb: 255,255,255;
  --ion-color-deepo-shade: #e03600;
  --ion-color-deepo-tint: #ff501a;

  --ion-color-white: #f3fdfe;
  --ion-color-white-rgb: 243,253,254;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #d6dfe0;
  --ion-color-white-tint: #f4fdfe;
}

$customColors: ('msoft', 'facebk', 'twittr', 'leather', 'gold', 'silver', 'bronze', 'valid', 'invalid', 'deepo', 'white');
@each $color in $customColors {
  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color}) !important;
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
    --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
    --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}
//   keep the label color on focus:
.item-has-focus ion-label.ion-color {
  color: var(--ion-color-base) !important;
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}
