
<div class="container text-center">

  <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

  <mat-table [dataSource]="dataSource" class="my-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

     <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- uid Column -->
    <ng-container matColumnDef="uid">
      <mat-header-cell *matHeaderCellDef> ID# </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.uid}} </mat-cell>
    </ng-container>

    <!-- displayName Column -->
    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- photoURL Column -->
    <ng-container matColumnDef="photoURL">
      <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.photoURL}} </mat-cell>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>

    <!-- Permissions Column -->
    <ng-container matColumnDef="permissions">
      <mat-header-cell *matHeaderCellDef> Permissions </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.permissions}} </mat-cell>
    </ng-container>

    <!-- Plan Column -->
    <ng-container matColumnDef="plan">
      <mat-header-cell *matHeaderCellDef> Plan </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.plan}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
