<!-- <ion-split-pane> -->
<ion-menu type="reveal">
  <ion-header tranlucent>
    <ion-menu-toggle auto-hide="false">
      <ion-toolbar color="primary">
        <img src="../assets/logo-md.svg" height="50rem" slot="start" />
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-header>

  <ion-content fullscreen>
    <ion-menu-toggle auto-hide="false">
      <ion-list>
        <ion-item-group>
          <ion-item routerLink="/home">
            <ion-icon class="iconify" slot="start" name="home"></ion-icon>
            <ion-label color="dark">Home</ion-label><ion-ripple-effect></ion-ripple-effect>
          </ion-item>

          <ion-item
            (click)="this.auth.SignOut()"
            *ngIf="auth.afAuth.user | async as user; else login">
            <ion-icon class="iconify" slot="start" name="log-out"></ion-icon>
            <ion-label color="dark">Logout</ion-label><ion-ripple-effect></ion-ripple-effect>
          </ion-item>
          <ng-template #login> 
            <ion-item routerLink="/sign-in">
              <ion-icon class="iconify" slot="start" name="log-in"></ion-icon>
              <ion-label color="dark">Sign In/ Sign Up</ion-label><ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </ng-template>
            <ion-item
              routerLink="/profile"
              *ngIf="auth.afAuth.user | async as user">
              <ion-icon class="iconify" slot="start" name="contact"></ion-icon>
              <ion-label color="dark">Profile</ion-label><ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          
          <ion-item routerLink="/launch-page">
            <ion-icon class="iconify" slot="start" name="logo-usd"></ion-icon>
            <ion-label color="dark">Pricing</ion-label><ion-ripple-effect></ion-ripple-effect>
          </ion-item>
          <ion-item routerLink="/tweeter">
            <ion-icon class="iconify" slot="start" name="logo-twitter"></ion-icon>
            <ion-label color="dark">Tweets</ion-label><ion-ripple-effect></ion-ripple-effect>
          </ion-item>
          <ion-item routerLink="/faq">
            <ion-icon class="iconify" slot="start" name="help"></ion-icon>
            <ion-label color="dark">Questions</ion-label><ion-ripple-effect></ion-ripple-effect>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-list-header color="primary">
            <ion-label>DFS Toolbox</ion-label>
          </ion-list-header>

          <ion-item routerLink="/list">
            <ion-icon class="iconify" slot="start" name="stats"></ion-icon>
            <ion-label color="dark">Data-tables</ion-label>
          </ion-item>

          <ion-item disabled>
            <ion-icon slot="start" name="trending-up"></ion-icon>
            <ion-label color="dark">Line-up Optimizers</ion-label>
          </ion-item>

          <ion-item disabled>
            <ion-icon slot="start" name="chatboxes"></ion-icon>
            <ion-label color="dark">Chat</ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-list-header color="primary">
            <ion-label>RF💲 University </ion-label>
          </ion-list-header>

          <ion-item disabled>
            <ion-icon slot="start" name="book"></ion-icon>
            <ion-label color="dark">Courseware</ion-label>
          </ion-item>

       </ion-item-group>
      </ion-list>
      <ion-note><sup>*</sup>Greyed menu items are coming soon!</ion-note>
    </ion-menu-toggle>
  </ion-content>

  <ion-footer translucent>
    <ion-button
      fill="clear"
      size="small"
      href="https://privacy-policy.rankfantasysports.com"
      color="primary"
    >
      Privacy Policy</ion-button
    >
    <ion-button
      fill="clear"
      size="small"
      href="https://terms.rankfantasysports.com"
      color="primary"
    >
      Terms & Conditions</ion-button
    >
    <ion-menu-toggle auto-hide="false">
      <ion-toolbar class="menuToolbar">
        <ion-text color="primary">
          <sub> Made with</sub>&nbsp;<ion-icon
            color="dark"
            name="logo-nodejs"
          ></ion-icon
          >&nbsp;<sub>and 🚀 by</sub>
        </ion-text>
        <ion-text color="tertiary"
          ><sub><strong>&nbsp;RF<ion-text color="secondary">$</ion-text>&nbsp;</strong>©2019</sub>
        </ion-text>
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<!-- </ion-split-pane> -->
