  <ion-menu side="start" type="reveal">
  <ion-header tranlucent>
    <ion-menu-toggle auto-hide="false">
      <ion-toolbar color="primary">
        <img src="../assets/logo.jpg" height="50rem" slot="start" />
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-header>

  <ion-content >
    <ion-menu-toggle auto-hide="false">
      <ion-list>

        <ion-item-group>
          <ion-item routerLink="/home">
            <ion-icon color="tertiary" class="iconify" slot="start" name="home"></ion-icon>
            <ion-text color="light">Home</ion-text><ion-ripple-effect></ion-ripple-effect>
          </ion-item>

          <ion-item
          routerLink="/auth/profile"
          *ngIf="auth.afAuth.user | async as user">
              <ion-icon color="tertiary" class="iconify" slot="start" name="contact"></ion-icon>
              <ion-text color="light">Profile</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>

            <ion-item *ngIf= "auth.afAuth.user | async as user; else freetrialregister" routerLink="/launchpage">
              <ion-icon color="success" class="iconify" slot="start" name="medal"></ion-icon>
              <ion-text color="success">Free-Trial</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>
            <ng-template #freetrialregister>
              <ion-item  routerLink="/free-trial">
                <ion-icon color="success" class="iconify" slot="start" name="medal"></ion-icon>
                <ion-text color="success">Free-Trial</ion-text><ion-ripple-effect></ion-ripple-effect>
              </ion-item>
            </ng-template>
            
            <ion-item routerLink="/pricing">
              <ion-icon color="tertiary" class="iconify" slot="start" name="logo-usd"></ion-icon>
              <ion-text color="light">Pricing</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>

            <ion-item routerLink="/how-to">
              <ion-icon color="tertiary"class="iconify" slot="start" name="star"></ion-icon>
              <ion-text color="light">How To Use RF$&trade;</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>
            <ion-item routerLink="/credibility">
              <ion-icon color="tertiary"class="iconify" slot="start" name="trophy"></ion-icon>
              <ion-text color="light">DK Credibility</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>


            <ion-item  routerLink="/faq">
              <ion-icon color="tertiary" class="iconify" slot="start" name="help"></ion-icon>
              <ion-text color="light">FAQs</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>

            <ion-item
            (click)="auth.SignOut()"
            *ngIf="auth.afAuth.user | async as user; else login">
            <ion-icon color="danger" class="iconify" slot="start" name="log-out"></ion-icon>
            <ion-text color="danger">Logout</ion-text><ion-ripple-effect></ion-ripple-effect>
            </ion-item>

            <ng-template #login> 
              <!-- <ion-item routerLink="/auth/register">
                <ion-icon color="secondary" class="iconify" slot="start" name="log-in"></ion-icon>
                <ion-text color="success">Get Started</ion-text><ion-ripple-effect></ion-ripple-effect>
              </ion-item> -->
              <ion-item routerLink="/auth/login">
                <ion-icon color="secondary" class="iconify" slot="start" name="log-in"></ion-icon>
                <ion-text color="success">Login</ion-text><ion-ripple-effect></ion-ripple-effect>
              </ion-item>
            </ng-template>

          </ion-item-group>
          <ion-item-group>

          <ion-list-header color="primary" routerLink="/list/categories">
            <ion-text><strong>RF$ Data Tables </strong></ion-text>
            <ion-button size="small" color="tertiary">All Categories</ion-button>
          </ion-list-header>
          <ion-ripple-effect></ion-ripple-effect>
          
          <ion-item routerLink="/list/now">
            <ion-icon color="secondary"class="iconify" slot="start" name="stats"></ion-icon>
            <ion-text color="light">Happening Now</ion-text>
          </ion-item>
          <ion-item routerLink="/list/tennis">
            <ion-icon color="warning"class="iconify" slot="start" name="tennisball"></ion-icon>
            <ion-text color="light">Tennis</ion-text>
          </ion-item>

          <ion-item routerLink="/list/nfl">
            <ion-icon color="leather" slot="start" name="american-football"></ion-icon>
            <ion-text color="light">NFL</ion-text>
          </ion-item>
          <ion-item routerLink="/list/cfb">
            <ion-icon color="leather" slot="start" name="american-football"></ion-icon>
            <ion-text color="light">CFB</ion-text>
          </ion-item>

          <ion-item routerLink="/list/pga">
            <ion-icon style="color: snow;" name="radio-button-off" class="iconify" slot="start"></ion-icon>
            <ion-text color="light">PGA</ion-text>
          </ion-item>

          <ion-item routerLink="/list/nba">
            <ion-icon style="color:darkorange;" class="iconify" slot="start" name="basketball"></ion-icon>
            <ion-text color="light">NBA</ion-text>
          </ion-item>

          <ion-item disabled routerLink="/list/fifa">
            <ion-icon color="medium" slot="start" name="football"></ion-icon>
            <ion-text color="light">FIFA</ion-text>
          </ion-item>

          <ion-item disabled routerLink="/list/mlb">
            <ion-icon color="medium" class="iconify" slot="start" name="baseball"></ion-icon>
            <ion-text color="light">MLB</ion-text>
          </ion-item>
          
        </ion-item-group>
        <ion-item-group>
          <ion-list-header color="primary">
            <ion-text><strong>DFS Toolbox</strong></ion-text>
          </ion-list-header>

        <ion-item routerLink="/tweets">
          <ion-icon style="color:#55acee;" slot="start" name="logo-twitter"></ion-icon>
          <ion-text color="light">Tweets</ion-text><ion-ripple-effect></ion-ripple-effect>
        </ion-item>


       
          
          <ion-item disabled>
            <ion-icon color="secondary"slot="start" name="trending-up"></ion-icon>
            <ion-text color="light">Line-up Optimizers</ion-text>
          </ion-item>
          
          <ion-item disabled routerLink="/xstats">
            <ion-icon color="secondary"class="iconify" slot="start" name="stats"></ion-icon>
            <ion-text color="light">XStats</ion-text>
          </ion-item>
          <!-- <ion-item routerLink="/stats">
            <ion-icon color="secondary"class="iconify" slot="start" name="stats"></ion-icon>
            <ion-text color="light">Stats, Standings, Scores, Schedules +</ion-text>
          </ion-item> -->
        </ion-item-group>
        <ion-item-group>
          <ion-list-header color="primary">
            <ion-text>RF$ University </ion-text>
          </ion-list-header>
          
          <ion-item disabled>
            <ion-icon color="secondary"slot="start" name="book"></ion-icon>
            <ion-text color="light">Courseware</ion-text>
          </ion-item>
          
        </ion-item-group>
      </ion-list>
      <ion-note><sup>*</sup>Greyed menu items are coming soon!</ion-note>
    </ion-menu-toggle>
  </ion-content>

  <ion-footer text-center >
   <app-privacy></app-privacy>
   
    <app-terms></app-terms>
    <ion-menu-toggle auto-hide="false">
      <ion-toolbar color="primary">
        <ion-text color="light">
          <sub> Made with</sub>&nbsp;<ion-icon style="color:aqua;" name="logo-ionic"></ion-icon>
            &nbsp;
          <sub>and</sub>
          &nbsp;
          <ion-icon name="logo-angular" color="danger"></ion-icon>
            &nbsp;
          <sub>by</sub>
          </ion-text>
          <ion-text color="light">
          <sub>
            <strong>
              &nbsp;
              RF
              <ion-text color="secondary">$</ion-text>
              &trade;&nbsp;
            </strong>
            &copy;2019
          </sub>
        </ion-text>
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<!-- <div [@routeAnimation]="getAnimationData(routerOutlet)">
  </div> -->

  
  
  
  
  
  
  
