<app-header></app-header>

  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>NFL</ion-title>
  </ion-toolbar>

<ion-content>
       <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              NFL
            </ion-card-title>
          </ion-card-header>
          <ion-item color="medium" routerLink="/nfl-pre">
            <ion-icon size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
            <ion-label text-wrap>NFL Preseason Project</ion-label>
          </ion-item>
          
        </ion-card>
</ion-content>
<app-footer></app-footer>
