
<ion-content fullscreen >
    <ion-grid>
        <ion-row>
          <ion-col>
      
          </ion-col>
      
          <ion-col>
    <ion-card text-center color="primary" *ngIf="auth.afAuth.user | async as user">
        <img src="../../assets/logo-md.svg">
        <ion-card-content>
          <hr>

      <ion-text color="light" >

          <h2>Thank You for Registering</h2>
          <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p>Please check your email and click on the link to verfiy your email address.</p>
      </ion-text>
      
      <ion-button color="warning" (click)="auth.SendVerificationMail()">Resend</ion-button>
    </ion-card-content>
  </ion-card>
   
<ion-button color="success" routerLink="/login" expand="block">
  <ion-ripple-effect></ion-ripple-effect>Goto Login Page</ion-button>
</ion-col>
<ion-col>

  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
