<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning">
      </ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>

      <ion-col size-md="6" offset-md="3">
          <ion-card  color="primary">
            <img src="../../assets/logo-md.svg">
            <ion-card-content>
              <ion-text color="secondary">
                <h2><strong>Account Sign Up</strong></h2>        
                </ion-text>
            <ion-card>
              <ion-item color="medium">
                <ion-label color="dark" position="floating">Full Name</ion-label>
                  <ion-input id="displayName" autocapitalize="on" autofocus="true" autocomplete="on" required type="text" minlength="3" maxlength="30" inputmode="latin-name" >
                    </ion-input>
              </ion-item>
            </ion-card>

            <ion-card>
              <ion-item color="medium">
                <ion-label color="dark" position="floating">Email</ion-label>
                  <ion-input  #userEmail required type="email" autocomplete="on" inputmode="email" >
                    </ion-input>
              </ion-item>
            </ion-card>

            <ion-card>
              <ion-item color="medium">
                <ion-label color="dark" position="floating">Password</ion-label>
                  <ion-input #userPwd type="password" inputmode="verbatim" minlength="7" maxlength="50" required>
                    </ion-input>
              </ion-item>
            </ion-card>
              <ion-button color="success" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</ion-button>
              <ion-button color="danger"  (click)="authService.GoogleAuth()">Google Sign Up</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card color="primary">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text color="light">
              Have an account?
              </ion-text>
              <br>
              <ion-button color="tertiary" routerLink="/launch-page">Sign In</ion-button>
            </ion-col>
            <ion-col>
              <ion-text color="light">
                Forgot Password?
              </ion-text>
              <br>
              <ion-button color="warning" routerLink="/forgot-password">Reset</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>

     </ion-row>
  </ion-grid>
</ion-content>
<ion-footer translucent="true">
  <ion-fab vertical="bottom" horizontal="end" slot="float">
      <ion-fab-button color="secondary">
        <ion-icon name="rocket"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top" >
              <ion-fab-button color="success" href="https://fb.me/ranktowinfantasysports"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
              <ion-fab-button color="medium" href="https://twitter.com/rankfsports"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
              <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
          </ion-fab-list>
  </ion-fab>

  <ion-toolbar color="medium">
    <ion-buttons>
      <ion-button color="success"  href="mailto://support@rankfantasysports.com>">

        <ion-text ion-text-center>
          Support Request
        </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>