<app-header></app-header>

  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Golf</ion-title>
  </ion-toolbar>

<ion-content>
  <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              PGA
            </ion-card-title>
          </ion-card-header>
          <ion-item color="medium" routerLink="/pga-stats">
            <ion-icon size="large" slot="start" style="color: white;" name="radio-button-off" name="radio-button-off"></ion-icon>
            <ion-label text-wrap>Golf Stats and Rankings</ion-label>
          </ion-item>
          <ion-item color="medium" routerLink="/pga-this-week">
            <ion-icon size="large" slot="start" style="color:white;" name="radio-button-off"></ion-icon>
            <ion-label text-wrap>Golf This Week</ion-label>
          </ion-item>
        </ion-card>
</ion-content>
<app-footer></app-footer>
