<form #passReset="ngForm" (ngSubmit)="onSubmit(passReset)">
  <ion-header class="ion-text-center ion-padding-vertical ion-margin-vertical">
  <ion-title>
    <ion-text
      style="font-size: x-large; font-weight: 800; font-variant: small-caps;" class="ion-text-capitalize"
    >
        Password Reset
    </ion-text>
  </ion-title>
</ion-header>
<div class="ion-padding-vertical ion-margin-vertical ion-text-center">

  <ion-text>
    Enter the email address you normally log in with, and press Reset Password. Then, check your email for a link with instructions to create a password.
  </ion-text>

  <ion-card color="silver">
    <ion-item color="silver">
      <ion-label position="floating">Email</ion-label>
      <ion-input
      clearInput="true"
      autofocus="true"
      ngModel
      #emailCtrl="ngModel"
      email
      type="email"
      name="email"
      required="true"
      >
    </ion-input>
  </ion-item>
  <div
  class="ion-text-wrap"
  *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
  >
  <ion-text color="danger">
    Enter a valid email address
  </ion-text>
</div>
<hr />
</ion-card>

<ion-button
expand="block"

type="submit"
[disabled]="passReset.invalid"
>
<ion-ripple-effect></ion-ripple-effect>
<ion-text>
  Reset Password
</ion-text>
</ion-button>

<ion-button

type="button"
expand="block"
fill="clear"
(click)="changeLoginMode()"
>
<ion-ripple-effect></ion-ripple-effect>
<ion-text>
  Back to Login
</ion-text>
</ion-button>
</div>
</form>
