<form #passReset="ngForm" (ngSubmit)="onSubmit(passReset)">
  <hr />
  <ion-card-title>
    <ion-text
      style="font-size: x-large; font-weight: 800; font-variant: small-caps;" class="ion-text-capitalize"
    >
        Password Reset
    </ion-text>
  </ion-card-title>
  <hr />
  <ion-text  class="ion-text-capitalize" style="font-variant: small-caps;">
    Enter the email address you normally log in with, and press Submit. Then, check your email for a link with instructions to create a password.
  </ion-text>
  <hr />
  <ion-card color="silver">
    <ion-item color="light">
      <ion-label position="floating">Email</ion-label>
      <ion-input
      clearInput
      autofocus
      ngModel
      #emailCtrl="ngModel"
      email
      type="email"
      name="email"
      required
      >
    </ion-input>
  </ion-item>
  <div
  class="ion-text-wrap"
  *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
  >
  <ion-text color="danger">
    Enter a valid email address
  </ion-text>
</div>
<hr />
</ion-card>

  <ion-button
    expand="block"
    strong
    type="submit"
    [disabled]="passReset.invalid"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-text>
      Reset Password
    </ion-text>
  </ion-button>

  <ion-button
  strong
  type="button"
  expand="block"
  fill="clear"
  (click)="changeLoginMode()"
  >
  <ion-ripple-effect></ion-ripple-effect>
  <ion-text>
    Back to Login
  </ion-text>
</ion-button>
</form>
