  <ion-toolbar text-center color="primary">
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/list/categories" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>National Football League</ion-title>
  </ion-toolbar>

<ion-content>
       <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>
              NFL
            </ion-card-title>
          </ion-card-header>
          <ion-item color="medium" routerLink="/list/nfl-pre">
            <ion-icon color="leather" size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
            <ion-text text-wrap>NFL Preseason Project</ion-text>
          </ion-item>
           <ion-item color="medium" routerLink="/list/nfl-week">
            <ion-icon color="leather" size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
            <ion-label text-wrap>NFL Weekly Fantasy Projections</ion-label>
          </ion-item>
           <ion-item color="medium" routerLink="/list/nfl-score">
            <ion-icon color="leather" size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
            <ion-label text-wrap>NFL Game Score Projections</ion-label>
          </ion-item>
        </ion-card>
</ion-content>
<app-footer></app-footer>
