<app-header></app-header>

  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Golf This Week</ion-title>
  </ion-toolbar>

<ion-content fullscreen  padding >
  <iframe
  class="resp-iframe"
    frameborder="3"
    scrolling="no"
    src="https://onedrive.live.com/embed?resid=E6DAB4F84D6D7119%211148&authkey=%21AIcYMFHDDHt8rT0&em=2&wdAllowInteractivity=True&wdInConfigurator=True">
  </iframe>


</ion-content>

<app-footer></app-footer>
