<app-header></app-header>


<ion-content fullscreen  padding >
<iframe 
  width="100%" 
  height="100%" 
  frameborder="0" 
  scrolling="no" 
  src="https://onedrive.live.com/embed?resid=E6DAB4F84D6D7119%21742&authkey=%21AOdPHKqsNlRDpvc&em=2&AllowTyping=True&Item='Game%201s'!A1%3AF36&wdInConfigurator=True">
  </iframe>

  
  <!--
    <div id="myExcelDiv" style="width: 402px; height: 346px"></div>
    <script type="text/javascript" src="https://r.office.microsoft.com/r/rlidExcelWLJS?v=1&kip=1"></script>
    <script type="text/javascript">
        /*
        * This code uses the Microsoft Office Excel JavaScript object model to programmatically insert the
        * Excel Web App into a div with id=myExcelDiv. The full API is documented at
        * https://msdn.microsoft.com/en-us/library/hh315812.aspx. There you can find out how to programmatically get
        * values from your Excel file and how to use the rest of the object model.
        */

        // Use this file token to reference Book1.xlsx in the Excel APIs
        var fileToken = "e6dab4f84d6d7119";
        var ewa = null;

        // Run the Excel load handler on page load.
        if (window.attachEvent)
        {
            window.attachEvent("onload", loadEwaOnPageLoad);
        } else
        {
            window.addEventListener("DOMContentLoaded", loadEwaOnPageLoad, true);
        }

        function loadEwaOnPageLoad()
        {
            var props = {
                uiOptions: {
                    showGridlines: true,
                    showRowColumnHeaders: false,
                    showParametersTaskPane: true
                },
                interactivityOptions: {
                    allowTypingAndFormulaEntry: false,
                    allowParameterModification: false,
                    allowSorting: true,
                    allowFiltering: true,
                    allowPivotTableInteractivity: false
                }
            };
            // Embed workbook using loadEwaAsync
            Ewa.EwaControl.loadEwaAsync(fileToken, "myExcelDiv", props, onEwaLoaded);
        }

        function onEwaLoaded(asyncResult)
        {
            if (asyncResult.getSucceeded())
            {
                // Use the AsyncResult.getEwaControl() method to get a reference to the EwaControl object
                ewa = asyncResult.getEwaControl();
                ewa.add_activeCellChanged(cellChanged);
            }
            else
            {
                alert("Async operation failed!");
            }
            // ...
        }

        // Handle the active cell changed event.
        function cellChanged(rangeArgs)
        {
            // Use the RangeEventArgs object to get information about the range.
            var sheetName = rangeArgs.getRange().getSheet().getName();
            var col = rangeArgs.getRange().getColumn();
            var row = rangeArgs.getRange().getRow();
            var value = rangeArgs.getFormattedValues();
            alert("The active cell is located at row " + (row + 1) + " and column " + (col + 1) + " with value '" + value + "'.");
            // ...
        }
    </script> -->
</ion-content>
<app-footer></app-footer>
