
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>
      NFL
    </ion-card-title>
  </ion-card-header>
  <ion-item color="light" routerLink="/list/nfl-pre">
    <ion-icon  size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
    <ion-label class="ion-text-wrap">NFL Preseason Project</ion-label>
  </ion-item>
  <ion-item color="light" routerLink="/list/nfl-week">
    <ion-icon  size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
    <ion-label class="ion-text-wrap">NFL Weekly Fantasy Projections</ion-label>
  </ion-item>
  <ion-item color="light" routerLink="/list/nfl-score">
    <ion-icon  size="large" slot="start" class="fball-brown"  name="american-football"></ion-icon>
    <ion-label class="ion-text-wrap">NFL Game Score Projections</ion-label>
  </ion-item>
</ion-card>
