<ion-header tranlucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning"> 
      </ion-menu-button>
    </ion-buttons>
    <ion-item  button color="primary" slot="end" *ngIf="auth.afAuth.user | async as user" (click)="auth.SignOut()">
      <!-- <ion-button type="button"  -->
      <ion-icon name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'"/> 
        </ion-avatar>
          &nbsp; 
          &nbsp;
        <ion-icon color="danger" name="log-out" icon-only>
        </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-grid>
    <ion-row>
       
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">

        <ion-card class="ion-text-center" color="primary">
        <img src="../../assets/img/logo.jpg">
        <ion-card-content>
        <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">
          <h2> <strong>Password Reset</strong></h2>
        </ion-text>
        <ion-text color="warning">
          <p class="ion-text-center">1. Enter email used to register account</p>
          <p class="ion-text-center">2. Submit the request</p>
          <p class="ion-text-center">3. Check email account for further instructions</p>
        </ion-text>
      <hr>
    </ion-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-item color="medium">
        <ion-label color="warning" position="floating">Email</ion-label>
        <ion-input clearInput autofocus ngModel #emailCtrl="ngModel" email type="email" name="email" placeholder="original@email.com" required></ion-input>
      </ion-item>
      <ion-label class="shadow ion-text-wrap" *ngIf="!emailCtrl.valid && emailCtrl.touched" color="danger">
        Enter a valid email address
      </ion-label>
      <ion-button expand="full" strong type="submit" [disabled]="!f.valid" color="secondary" ><ion-ripple-effect></ion-ripple-effect>
        <ion-text class="shadow"> 
          Reset Password
        </ion-text>
      </ion-button>
      <ion-button strong color="danger" type="button" expand="full" routerLink="/login"><ion-ripple-effect></ion-ripple-effect>
        <ion-text color="light">
          Back to Login
        </ion-text>
      </ion-button>
    </form>
  </ion-card>


  </ion-col>


  </ion-row>
  </ion-grid>

</ion-content>

<ion-footer translucent>
  
  <ion-toolbar color="medium">
   </ion-toolbar>
</ion-footer>
