<ion-header tranlucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning"> 
      </ion-menu-button>
    </ion-buttons>
    <ion-item  button color="primary" slot="end" *ngIf="auth.afAuth.user | async as user" (click)="auth.SignOut()">
      <!-- <ion-button type="button"  -->
      <ion-icon name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <img [src]="user.photoURL || '../../../assets/img/dummy-user.png'"/> 
        </ion-avatar>
          &nbsp; 
          &nbsp;
        <ion-icon color="danger" name="log-out" icon-only>
        </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>



<ion-content >
    <ion-grid>
        <ion-row>
          
      
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">


    <ion-card  text-center color="primary">
        <img src="../../assets/logo.jpg">
        <!-- <ion-card-content> -->

          <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">

            <h2> <strong>Password Reset</strong></h2>
          </ion-text>
          <ion-card-content>
            <ion-text color="warning">
        
        <p text-center>
          1. Enter email used to register account</p>
         <p text-center>2. Submit the request</p>
          
           <p text-center>3. Check email account for further instructions</p>
      </ion-text>
      <hr>
      
        
        <!-- Calling ForgotPassword from AuthService Api -->
    </ion-card-content>
        <form #passReset="ngForm">

          <ion-item color="medium">
            <ion-label color="warning" position="floating">Email</ion-label>
          <ion-input email ngModel #email="ngModel" name="email" autocomplete="username" autofocus type="text" required>
          </ion-input>
        </ion-item>
                   <ion-note class="shadow" *ngIf="email.invalid && email.dirty" text-wrap color="danger">
                    Enter a valid email address
                  </ion-note>
      
        <ion-button  expand="full" strong  color="secondary" (click)="auth.ForgotPassword(passReset.value)"><ion-ripple-effect></ion-ripple-effect>
          <ion-text class="shadow">
            Reset Password
          </ion-text>
        </ion-button>
      </form>
      <br>
      <ion-button strong color="danger"  expand="full" routerLink="/auth/login"><ion-ripple-effect></ion-ripple-effect>
        <ion-text color="light">
          Back to Login
        </ion-text>
      </ion-button>
      
  </ion-card>


  </ion-col>


  </ion-row>
  </ion-grid>

</ion-content>

<ion-footer translucent>
  
  <ion-toolbar color="medium">
   </ion-toolbar>
</ion-footer>
