<ion-card>
  <ion-card-header color="primary">
    <ion-card-title>
      NBA
    </ion-card-title>
  </ion-card-header>
  <ion-item color="medium" routerLink="/tables/nba-dk">
    <ion-icon size="large" slot="start" name="basketball"></ion-icon>
    <ion-label class="ion-text-wrap">NBA Draft Kings</ion-label>
  </ion-item>
  <ion-item color="medium" routerLink="/tables/nba-power-rank">
    <ion-icon size="large" slot="start" name="basketball"></ion-icon>
    <ion-label class="ion-text-wrap"
      >NBA Playoff- Team Power Rankings</ion-label
    >
  </ion-item>
  <ion-item color="medium" routerLink="/tables/nba-power-pred">
    <ion-icon size="large" slot="start" name="basketball"></ion-icon>
    <ion-label class="ion-text-wrap">NBA Playoff Game Predictions</ion-label>
  </ion-item>
</ion-card>
