

  <ion-toolbar text-center>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/list/categories" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Major League Baseball</ion-title>
  </ion-toolbar>


<ion-content>

    <ion-card disabled>
      <ion-card-header color="primary">
        <ion-card-title>
          MLB
        </ion-card-title>
      </ion-card-header>
      <ion-item color="medium" >
        <ion-icon size="large" slot="start" color="dark" name="baseball"></ion-icon>
        <ion-text class="ion-text-wrap"> MLB Awesome Table</ion-text>
      </ion-item>
      <ion-item color="medium" >
        <ion-icon size="large" slot="start" color="dark" name="baseball"></ion-icon>
        <ion-text class="ion-text-wrap">DK Accounting MLB Awesome Table 1</ion-text>
      </ion-item>
    </ion-card>
</ion-content>
<app-footer></app-footer>
