 <app-header></app-header>

  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>NBA</ion-title>
  </ion-toolbar>

<ion-content>
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title style="text-align: right;">
            <ion-text color="warning">
             <sub>
               2019 Season Ended
             </sub> 
            </ion-text>
          </ion-card-title>
            <ion-text >
              <h3>
                NBA
              </h3> 
        </ion-text>
      </ion-card-header>
      <ion-item disabled color="medium" routerLink="/table5">
        <ion-icon size="large" slot="start" color="danger" name="basketball"></ion-icon>
        <ion-text text-wrap>NBA Draft Kings Embed Code</ion-text>
      </ion-item>
      <ion-item disabled color="medium" routerLink="/table6">
        <ion-icon size="large" slot="start" color="danger" name="basketball"></ion-icon>
        <ion-text text-wrap>NBA Playoff Team Power Rankings Embed Code</ion-text>
      </ion-item>
      <ion-item disabled color="medium" routerLink="/table7">
        <ion-icon size="large" slot="start" color="danger" name="basketball"></ion-icon>
        <ion-text text-wrap>NBA Playoff Game Predictions Embed Code</ion-text>
      </ion-item>
    </ion-card>
</ion-content>
<app-footer></app-footer>
