<app-header [titleId]="titleId"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding"
        size-sm="12"
        size-md="8"
        offset-md="2"
        size-lg="6"
        offset-lg="3"
        size-xl="6"
        offset-xl="3"
      >
        <ion-card class="ion-text-left" color="primary">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-text color="silver">
                <h2>
                  <strong>
                    How To Use the RFS App
                  </strong>
                </h2>
              </ion-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text color="silver">
                <h3>
                  Instructions for Purchasing a Subscription &amp; Accessing the
                  Data
                </h3>
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              <ol class="outside">
                <li>
                  Click the "Signup with Facebook" Button or the "Signup Now"
                  button on the Home page, and create your account login
                  details.
                </li>
                <br />
                <li>
                  Choose a Pro Package (Gold, Silver, or Bronze)
                </li>
                <br />
                <li>
                  Enter your credit or debit card details as payment, and then
                  press the "Start Subscription" button.
                  <br />
                  Your payment is complete when you land on the "Welcome Page".
                  Congratualations, welcome aboard!
                </li>
                <br />
                <li>
                  To view all available tables:
                  <br />
                  On Desktop: From the home page click the "Stats & Projections"
                  menu button.
                  <br />
                  On Mobile: From any page, click the
                  <ion-text>&#x2630;</ion-text> "hamburger menu" &amp; then
                  click the "All Tables" button next to "Stats & Projections".
                </li>
                <br />
                <li>
                  Click Happening Now to access Today's DK Value Rankings &
                  Cheatsheets.
                </li>
                <br />
                <li>
                  Click Tennis to access Men’s &amp; Women’s Tennis DK
                  Cheatsheets and Stat Models.
                </li>
                <br />
                <li>
                  Click NFL to access Football DK Cheatsheets &amp; Stat Models.
                </li>
                <br />
                <li>
                  Click CFB to access College Football Power Rankings &amp;
                  Score Prediction Cheatsheets.
                </li>
                <br />
                <li>
                  Click PGA to access Golf DK Cheatsheets &amp; Stat Models.
                </li>
                <br />
                <li>
                  Click NBA to access Basketball DK Cheatsheets &amp; Stat
                  Models.
                </li>
              </ol>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
