  <ion-card  color="success">
    <ion-card color="primary">
    <h4>
      <ion-text color="warning">Step 2:</ion-text>&nbsp;Add A Payment Source</h4>
  <ng-form (submit)="handleForm($event)">
    <div class="form-row">
  
  
  <ion-card color="light">
<br>
    <div id="card-element" #cardElement>
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <br>
  </ion-card>
    
  
      <!-- Used to display Element errors. -->
      <p class="has-text-danger">{{ cardErrors }}</p>
    </div>
  
    
  
    
  </ng-form>
  
         
   

      
    
</ion-card>
</ion-card>


  <ion-card color="primary">
    <h4>
      <ion-text color="warning">Step 3:</ion-text>&nbsp;Activate a Package
    </h4>

<ion-card color="light">
  <ion-card  color="tertiary">
      <ion-card-header>
        <ion-card-title>
          <ion-label text-wrap color="secondary">
        <ion-text color="light">RF$™</ion-text>&nbsp;Pro Subscriptions</ion-label>
        </ion-card-title>  
      </ion-card-header>
    </ion-card>
  </ion-card>
  <ion-grid>
  <ion-row align-items-stretch>
    <ion-radio-group>

      <ion-col>
        <app-gold></app-gold>
      </ion-col>
      
      <ion-col>
        <app-silver></app-silver>
      </ion-col>
  
      <ion-col>
        <app-bronze></app-bronze>
      </ion-col>
    </ion-radio-group>
  </ion-row>
  <ion-row>
    <ion-col>
              <ion-card>
              <ion-list>
                  <ion-item color="medium">
                      <ion-label text-wrap color="dark">
                        <strong>One (1) user per account.</strong>
                        Subscriptions are associated with the email address you used at the time of purchase. To ensure access to your account, sign in with the same email address. 
                      </ion-label>
                      </ion-item>
                    <ion-item color="medium">
                      <ion-label text-wrap color="dark">
                      All payments are handled by&nbsp;<a href="https://www.stripe.com">Stripe</a>. Our site and apps are served using Secure Socket Layer (SSL) encryption, and we submit secure tokenized versions of your payment information, so no card details are viewable or kept on our servers.
                      </ion-label>
                      </ion-item>
                      <ion-item color="medium">
                        <ion-label text-wrap color="dark">
                        All subscriptions are billed automatically, on the same date each billing cycle. You will be notified by email one (1) week prior to the end of your account's billing cycle. You may cancel your subscription at any time. Once a cancellation request has been submitted, your account will be terminated at the end of the account's current billing cycle, and no further payments will be processed. For more details, please read our&nbsp;
                        <a href="https://terms.rankfantasysports.com">terms & conditions</a>.
                        </ion-label>
                        </ion-item>
                    <ion-item color="medium">
                      <ion-label text-wrap color="dark">
                      The security of your infomation is our priority. Please read our&nbsp;<a href="https://privacy-policy.rankfantasysports.com">privacy policy</a>&nbsp;for more details.
                      </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card>

    </ion-col>
  </ion-row>
  </ion-grid>
