<ion-card-header>
  <ion-card-title>
    <ion-text color="secondary">
      RF$ Subscriptions
    </ion-text>
  </ion-card-title>
</ion-card-header>
<ion-card-title><ion-text color="warning">Step 2:</ion-text> Add a Payment Source</ion-card-title>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <payment-form [totalAmount]="0" (stripeResult)="setSource($event)"></payment-form>

    </ion-col>
  </ion-row>
</ion-grid>


<!-- <h4>Or choose an existing payment source</h4> -->

<!-- <user-sources [canSelect]="true" (selectedSource)="setSource($event)"></user-sources> -->


<h3><ion-text color="warning">Step 3:</ion-text> Activate a Plan</h3>

<div class="notification">
  Selected Payment Source: {{ sourceId || 'none' }}
</div>
<ion-grid>
  <ion-row>
    
    <ion-col>
      <ion-card color="success">
        <h4><ion-text color="dark">RF$</ion-text><ion-text color="secondary"> Pro Subscription</ion-text></h4>
        <h3><ion-text color="warning">Gold</ion-text> Package</h3>
        <h1><ion-text color="light">$90.00 Annualy</ion-text></h1>
        <img src="../../assets/img/gold.svg" style="width: 50px;">
        <subscription-plan [planId]="'plan_FEieRbYUInS7co'" [sourceId]="sourceId"></subscription-plan>
      </ion-card>
      </ion-col>

    <ion-col>
      <ion-card color="success">
        <h4><ion-text color="dark">RF$</ion-text><ion-text color="secondary"> Pro Subscription</ion-text></h4>
        <h3><ion-text color="medium">Silver</ion-text> Package</h3>
        <h1><ion-text color="light">$50.00 each 6 months</ion-text></h1>
        <img src="../../assets/img/silver.svg" style="width: 50px;">
        <subscription-plan [planId]="'plan_FCqY9lBJ46mNp2'" [sourceId]="sourceId"></subscription-plan>
      </ion-card>
      </ion-col>

    <ion-col>
      <ion-card color="success">
      <h4><ion-text color="dark">RF$</ion-text><ion-text color="secondary"> Pro Subscription</ion-text></h4>
      <h3><ion-text color="danger">Bronze</ion-text>Package</h3>
      <h1><ion-text color="light">$10.00 per month</ion-text></h1>
      <img src="../../assets/img/bronze.svg" style="width: 50px;">
      <subscription-plan [planId]="'plan_FCqXwICAOJTNVw'" [sourceId]="sourceId"></subscription-plan>
    </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>
<!-- <div class="columns">
  <div class="column is-6">
  </div>

  <div class="column is-6">
  </div>
</div>

<hr>


<p>Component Usage: <code>&lt;subscription-plan [planId]=&quot;'silver-plan'&quot; [sourceId]=&quot;sourceId&quot;&gt;&lt;/subscription-plan&gt;</code></p>

<p>Pass the subscription plan a stripe source ID and plan ID. It will create the subscription and attach it to the customer and update the Firestore user profile.</p>

<hr> -->