woris



<ion-content fullscreen >
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card color="primary">
 
        <ion-img src="../../assets/logo-md.svg"></ion-img>
        <ion-list>
          <ion-list-header>
            <!-- <ion-card-title>Welcome &nbsp; {{ user.displayName }}</ion-card-title> -->
  </ion-list-header>
  <ion-item color="medium">
    <ion-avatar slot="start">
      <!-- <img [src]="user.photoURL || '/assets/img/dummy-user.png'"> -->
    </ion-avatar>
    <!-- <ion-label>Email:{{ user.email }}</ion-label> -->
  </ion-item>
  <ion-item>
    <ion-label> Firebase UID: 
      <br>
     
    </ion-label>
  </ion-item>

  </ion-list>
</ion-card>
</ion-col>





<ion-col size-md="6">
  <ion-card color="primary"> 
    <ng-template #purchase>
        <ion-button color="success" expand="block" size="large" routerLink="/launchpage">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label color="warning">View Pricing&nbsp;</ion-label>
          <ion-icon slot="end" color="dark" name="rocket"></ion-icon>
        </ion-button>
    </ng-template>
    <ion-list>
         <ion-list-header>
           <ion-title>
              <ion-label>
                Account Information
              </ion-label>
            </ion-title>
          </ion-list-header>
          <ion-item>
            <ion-label>
              Stripe ID:
              <br>
              <!-- {{ user.stripeCustomerId || 'provisioning' }} -->
            </ion-label>
          </ion-item>
          <!-- <ion-item>
            <pre *ngIf="getSubscriptions | async as user">
             <ion-label> {{ subscription }}</ion-label>
            </pre>
          </ion-item> -->
          <!-- <ion-button color="danger" expand="block" size="small" (click)="cancelSubscription()">
            <ion-label color="warning" >
              Cancel Subscription
            </ion-label>
          </ion-button> -->
        </ion-list>
      </ion-card>

      <ion-card color="primary" padding>
        <ion-card-header>
          <ion-card-title>
            Customer UI Theming
          </ion-card-title>
        </ion-card-header>
      
        <p>Show your team spirit and use the theme options below to change the entire site to match your favorite team colors & also add the team logo. All in one click.
        </p>
      
        <!-- <ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Autumn</ion-button>
        <ion-button expand="block" color="medium" (click)="changeTheme('night')">Dark</ion-button>
        <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Neon</ion-button>
        <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button> -->
        <hr>
        
        <ion-button color="primary">Primary</ion-button>
        <ion-button color="secondary">Secondary</ion-button>
        <ion-button color="tertiary">Tertiary</ion-button>
        <ion-button color="medium">Medium</ion-button>
        <ion-button color="dark">Dark</ion-button>
        
        <ion-button color="primary" class="foo">Foo</ion-button>
        
        <hr>
        <ion-checkbox color="primary" checked></ion-checkbox>
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-checkbox color="danger" checked></ion-checkbox>
        <ion-checkbox color="dark" checked></ion-checkbox>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>





</ion-content>
