<app-header></app-header>

  <ion-toolbar text-center color="medium"> 
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Rank Fantasy $ports Profile
</ion-title>
  </ion-toolbar>



<ion-content fullscreen >
  
  
  <ion-grid>
    <ion-row>
      <ion-col size="auto" >


       
        
        
    <ng-container *ngIf="auth.user$ | async as user; else login">
        <ion-card color="primary" padding>
    <ion-card-header>
      <ion-thumbnail>

        <img [src]="user.photoURL || '../../assets/img/dummy-user.png'">
      </ion-thumbnail>
      <ion-card-title>
        <ion-text color="secondary">
          {{ user.displayName || 'Mysterious User' }}
        </ion-text>
      </ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
        
      <ion-text color="secondary">Email:</ion-text>
        <ion-chip>

          <ion-text color="warning">{{ user.email }}</ion-text>
        </ion-chip>
    
    
      
<hr>
         <ion-text color="secondary">
         Current Subscription:
        </ion-text>
        
      <ion-text color="secondary">
        
        <ion-chip> 
                <div *ngIf="user.gold">
                  <ion-text color="warning">
                  Gold Membership:
                  <span class="tag" [class.is-success]="user.gold">
                    {{ user.gold }}
                  </span><br>
                </ion-text>
                </div>   
                
                <div *ngIf="user.silver">
                  <ion-text color="warning">
                  Silver Membership: 
                  <span class="tag" [class.is-success]="user.silver">
                    {{ user.silver }}
                  </span><br>
                </ion-text>
                </div>  
                
                
                <div *ngIf="user.bronze">
               <ion-text color="warning">
                  Bronze Membership: 
                  <span class="tag" [class.is-success]="user.bronze">
                    {{ user.bronze }}
                  </span><br>
                </ion-text>
                </div>   
          </ion-chip>
              </ion-text>
            <br>
            
            <ion-text color="secondary">
                UserID: <ion-chip>

                  <ion-text color="warning">{{ user.uid }}</ion-text>
                </ion-chip>
            </ion-text>
          </ion-card-content>
      </ion-card>
    </ng-container>
    
    <ng-template #login>
      <ion-button color="medium" routerLink="/login">
      </ion-button>
    </ng-template>

        
        <ion-card text-center  color="primary" >
          <ion-card-header>
          <ion-card-title color="secondary" >
            <strong>
              <ion-text color="secondary">
                Theme Options
              </ion-text>
            </strong>
          </ion-card-title>
        </ion-card-header>
            <ion-card-subtitle  >
              <ion-text color="warning">
                <strong>
                  
                  Current Theme Colors 
                </strong>
                
              </ion-text>
            </ion-card-subtitle>
        
        <ion-button expand="full" strong size="small" color="tertiary">Accent Color</ion-button>
        <ion-button expand="full" strong size="small" color="primary">Card Background</ion-button>
        <ion-button expand="full" strong size="small" color="secondary">Heading/Title</ion-button>
        <ion-button expand="full" strong size="small" color="warning">Sub-title</ion-button>
        
        <hr>
        <br>
        <ion-card-subtitle>
          
          <ion-text color="warning">
            <strong>
              
           Unique Themes
            </strong>
            
          </ion-text>
        </ion-card-subtitle>
        <ion-card-content>

          <ion-button color="success" (click)="changeTheme('autumn')">Option 1</ion-button>
        <ion-button color="success" (click)="changeTheme('night')">Option 2</ion-button>
        <ion-button color="success" (click)="changeTheme('neon')">Option 3</ion-button>
        <ion-button color="success" (click)="changeTheme('')">Default</ion-button>
      </ion-card-content>
        <hr>
        <ion-card-subtitle>
          
          <ion-text color="warning">
            <strong>
              
           Pro Team Themes
            </strong>
            
          </ion-text>
        </ion-card-subtitle>
        <ion-card-content>

          <ion-button strong color="light">
            <ion-text color="danger">

              Coming Soon!
            </ion-text>
          </ion-button>
          
        </ion-card-content>
      </ion-card>

      <ng-container *ngIf="auth.isBronze; else purchase">
        
        <ion-card style="min-height: 300px;" padding color="primary" >
            <ion-card-header>
              <ion-card-title>
                <ion-text color="secondary">
                  Account Management
                </ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-button expand="block" (click)="listSubscriptions()" class="bright">
              <ion-text color="dark">

                View Subscriptions
              </ion-text>
            </ion-button>
            <br>
            <hr>
            <br>
            <ion-button expand="block" class="bright">
              <ion-text color="dark">

                View Invoices
              </ion-text>
            </ion-button>
            <br>
            <hr>
            <br>
            <ion-button expand="block" fill="outline" color="danger" (click)="auth.SignOut()" >Logout</ion-button>
            <br>
            <hr>
            <br>
            <ion-button  expand="block" fill="outline" color="danger">Cancel Subscription</ion-button>
            <br>
          </ion-card>
        </ng-container>
        <ng-template #purchase>
          <ion-button class="bright" expand="block" routerLink="/pricing">
            View Membership Options
          </ion-button>
        </ng-template>
        <ion-card  color="primary" padding>
          <ion-card-title>
            More Information
          </ion-card-title>
          <pre>
            {{ subscriptionList | json }}
          </pre>
    
      </ion-card>
        
        </ion-col>
        <ion-col>
          <ion-card  color="primary" padding >
          <app-list-tables></app-list-tables>
          </ion-card>
  </ion-col>
</ion-row>
</ion-grid>





</ion-content>
<app-footer></app-footer>
