.vidbox {
  min-height: 40vh;
  left: -30px;
}

.resp-iframe {
padding: auto;
}

.vidrow {
  // min-height: 40vh;
  background-color: silver;
  padding: 40px;
}
h3 {
  font-weight: 900;
  font-size: xx-large;
  font-variant: small-caps;
}
h4 {
  font-weight: 800;
  font-size: x-large;
  font-variant: small-caps;
}

h5 {
  font-size: large;
  font-weight: 800;
}
