<div class="vidrow">
  <ion-grid>
    <ion-row color="silver" class="ion-justify-content-around">
      <ion-col
        size-xl="3"
        size-lg="3"
        size-md="12"
        size-sm="12"
        class="ion-text-wrap ion-text-center ion-align-self-center"
      >
        <div class="youtube">
          <ion-text>
            <h4>
              Watch The Video To See How
              <br />
              We Stay Consistently Profitable -
            </h4>
            <h3>
              Fast!
            </h3>
            <h5>
              What is your time worth to you?
            </h5>
          </ion-text>
        </div>
      </ion-col>
      <ion-col
        size-xl="4"
        size-lg="4"
        size-md="12"
        size-sm="12"
        class="ion-align-self-center"
      >
        <div class="vidbox">
          <iframe
            class="resp-iframe"
            [src]="trustedVideoUrl4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            width="700"
            height="400"
          >
          </iframe>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
