<ion-header>
  <ion-toolbar text-center color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Back" type="button" color="warning" slot="start" icon="arrow-round-back" >
       
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{ imgTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <ion-card>
        <div class="swiper-zoom-container"><img src="{{ slide.img }}"></div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  </ion-content>

<ion-footer translucent *ngIf="imgDescription.length">
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="f-btn" href="https://fb.me/ranktowinfantasysports">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="t-btn" href="https://twitter.com/rankfsports">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="g-btn" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-toolbar color="dark" text-center>
      <ion-text color="success">{{ imgDescription }}</ion-text>
</ion-toolbar>
</ion-footer>
  