<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="warning">
      </ion-back-button>
    
    </ion-buttons>
    <ion-item slot="end" color="primary" *ngIf="auth.afAuth.user | async as user" (click)="auth.SignOut()">
      <ion-avatar>
        <img [src]="user.photoURL || '/assets/img/dummy-user.png'">
      </ion-avatar>&nbsp;
      &nbsp;
      <ion-icon color="danger" name="log-out" icon-only></ion-icon>
    </ion-item>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen>




  <!-- 
<div class="box-container" fxLayout="column"> -->
  <!-- <div class="app-title">Simple example app for the ngx-swiper-wrapper</div>

  <div class="info-container">
    You can change the basic settings of the Swiper area by clicking the buttons on the controls pane.
  </div>

  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Controls</div>

      <div class="action-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleType()'>
          {{(type == "component") ? "Switch to directive" : "Switch to component"}}</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleDirection()'>
          {{(config.direction == "horizontal") ? "Change to vertical" : "Change to horizontal"}}</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto"
          (click)='toggleSlidesPerView()'>Toggle slides per view</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto"
          (click)='toggleOverlayControls()'>Toggle overlay controls</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto"
          (click)='toggleKeyboardControl()'>{{config.keyboard ? "Disable arrow keys" : "Enable arrow keys"}}</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto"
          (click)='toggleMouseWheelControl()'>{{config.mousewheel ? "Disable mouse wheel" : "Enable mouse wheel"}}</div>
      </div>
    </div> -->

  <!-- <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Swiper</div>

      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config"
          [disabled]="disabled" (indexChange)="onIndexChange($event)"
          (swiperTransitionStart)="onSwiperEvent('transitionStart')"
          (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              {{slide}}
            </div>
          </div>
        </swiper> -->

  <!-- <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config"
          (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')"
          (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
          <div class="swiper-wrapper">
            <div *ngFor="let slide of slides" class="swiper-slide">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                {{slide}}
              </div>
            </div>
          </div>

          <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
          <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

          <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
          <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
        </div> -->
  <!-- </div>
    </div> -->
  <!-- </div>
</div> -->
















  <ion-slides [options]="config" pager="true">
    <ion-slide *ngFor="let slide of slides">
      <ion-img style="height:500px;" src="assets/images/{{ slide }}"></ion-img>
    </ion-slide>
  </ion-slides>

</ion-content>


<ion-footer translucent="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success" href="https://fb.me/ranktowinfantasysports">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="medium" href="https://twitter.com/rankfsports">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-toolbar color="medium">
    <ion-buttons>

      <ion-button color="success" href="mailto://support@rankfantasysports.com>">
        <ion-ripple-effect></ion-ripple-effect>
        Support Request
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
