<app-header [titleId]="titleId"></app-header>
<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <!-- First Row Login -->
    <ion-row>
      <ion-col class="ion-no-padding" size-md="4" offset-md="4">
        <ion-card class="main-card">
          <ion-img src="../../assets/img/logo.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>
              <strong>
                <ion-text color="primary">
                  RF<ion-text color="primary">$</ion-text>&trade; Pro
                  Subscriptions
                </ion-text>
              </strong>
            </ion-card-title>
            <ion-card-subtitle>
              <strong>
                <ion-text>
                  The info you need, When you need it, That Simple!
                </ion-text>
              </strong>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Second Row Memberships -->
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-grid>
          <ion-row class="ion-align-items-stretch">
            <ion-col class="ion-no-padding"
              size-xl="4"
              offset-xl="2"
              size-lg="4"
              offset-lg="2"
              size-md="4"
              size-sm="12"
              size="12"
            >
              <ion-card class="ion-text-center">
                <ion-list>
                  <ion-list-header>
                    <ion-title>
                      <ion-text color="primary">
                        Details
                      </ion-text>
                    </ion-title>
                  </ion-list-header>
                  <ion-item lines="none">
                    <ion-text class="ion-text-wrap" style="color:whitesmoke;">
                      Access to all DFS data-tables
                      <br />
                      <ion-text>
                        <sub> New Material released regularly</sub>
                      </ion-text>
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-text class="ion-text-wrap" style="color:whitesmoke;">
                      DFS actionable breakdown videos
                      <br />
                      <ion-text>
                        <sub> Growing list of topics</sub>
                      </ion-text>
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-text class="ion-text-wrap" style="color:whitesmoke;">
                      Access to all DFS data-tables
                      <br />
                      <ion-text>
                        <sub> Receive notification of upcoming events</sub>
                      </ion-text>
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-text class="ion-text-wrap" style="color:whitesmoke;">
                      Exclusive DFS chat rooms
                      <br />
                      <ion-text>
                        <sub>
                          Coming Soon
                        </sub>
                      </ion-text>
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-text class="ion-text-wrap" style="color:whitesmoke;">
                      Ancillary stats, tools & other resources
                      <br />
                      <ion-text>
                        <sub>
                          One stop for everything you need to win
                        </sub>
                      </ion-text>
                    </ion-text>
                  </ion-item>
                </ion-list>
              </ion-card>
            </ion-col>
            <ion-col class="ion-no-padding"
              size-xl="4"
              size-lg="4"
              size-md="4"
              size-sm="12"
              size="12"
            >
              <ion-card class="ion-text-center">
                <ion-list>
                  <ion-list-header>
                    <ion-title>
                      <ion-text color="primary">
                        Pro Packages
                      </ion-text>
                    </ion-title>
                  </ion-list-header>
                  <ion-item lines="none">
                    <ion-button color="gold">
                      <strong> Gold Package </strong> </ion-button
                    >&nbsp;
                    <ion-text>
                      <ion-chip color="dark">
                        <ion-text>
                          $90 Annually
                        </ion-text>
                      </ion-chip>
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-button color="silver">
                      <strong> Silver Package</strong> </ion-button
                    >&nbsp;
                    <ion-text>
                      <ion-chip color="dark">
                        <ion-text>
                          $50 Semi-Annually
                        </ion-text>
                      </ion-chip>
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-button color="bronze">
                      <strong> Bronze Package</strong> </ion-button
                    >&nbsp;
                    <ion-text>
                      <ion-chip color="dark">
                        <ion-text>
                          $9.99 Monthly
                        </ion-text>
                      </ion-chip>
                    </ion-text>
                  </ion-item>
                </ion-list>
                <hr />
                <ng-container
                  *ngIf="auth.afAuth.user | async as user; else goToRegister"
                >
                  <ion-button
                    strong="true"
                    expand="block"
                    color="primary"
                    routerLink="/purchase"
                  >
                    <ion-icon name="rocket"></ion-icon>&nbsp;&nbsp;
                    <ion-text color="light">
                      <strong>
                        Get Started
                      </strong>
                    </ion-text>
                  </ion-button>
                </ng-container>
                <ng-template #goToRegister>
                  <ion-button
                    strong="true"
                    expand="block"
                    color="primary"
                    routerLink="/register"
                  >
                    <ion-icon name="rocket"></ion-icon>&nbsp;&nbsp;
                    <ion-text color="light">
                      <strong>
                        Get Started
                      </strong>
                    </ion-text>
                  </ion-button>
                  <ion-text>
                    <p class="ion-text-center">
                      You will be taken to a registration page first, followed
                      by the page where you can purchase a Pro Package.
                    </p>
                  </ion-text>
                </ng-template>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
