// for unicode characters
@charset 'utf-8';

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Material Themes
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// @import url('https://fonts.googleapis.com/css?family=Cairo|Rokkitt&display=swap');

// Main styling
:root {
  ion-content {
    --ion-background-color: var(--ion-color-white);
  }
}

// ion-text {
//   text-shadow: 1px 1px 1px #232127;
// }

ion-icon {
  filter: drop-shadow(0 -1px 1px var(--ion-color-silver));
}



// primary card background color images shadow gradients/gradients for each browser type with fallback gradients and color

// Toasts each status
ion-toast.successT {
  --background: #11b81c;
  --color: #fcf9f6;
  --button-color: #ff7300;
  --box-shadow: 12px 12px 2px 1px rgba(0, 0, 66, 0.2);
}

ion-toast.dangerT {
  --background: rgb(184, 49, 32);
  --color: rgb(251, 251, 255);
  --button-color: #ff7300;
  --box-shadow: 12px 12px 2px 1px rgba(0, 0, 66, 0.2);
}

ion-toast.infoT {
  --background: rgb(87, 107, 131);
  --color: #f6f9fd;
  --button-color: #ff7300;
  --box-shadow: 12px 12px 2px 1px rgba(0, 0, 66, 0.2);
}

ion-toast.warningT {
  background: rgb(139, 139, 0);
  --color: rgb(255, 253, 255);
  --button-color: #ff7300;
  --box-shadow: 12px 12px 2px 1px rgba(0, 0, 66, 0.2);
}

// Popover User Dropdown
// .popoverUser{
//   --background: var(ion-color-medium);
// }

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

a:hover {
  cursor: pointer;
}

// Credit Card Logos
// .creditCard {
//   filter: drop-shadow(5px 5px 2px #130e14);
// }

// Register Modal CSS
.app-reg-modal {
  --min-height: 750px;
}
.modal-wrapper {
  --width: 40%;
  --height: 77%;
}
