// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


// Material Themes
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";


.alertCustomCss {
    color: white; // text color for basic alerts
    button {
        color: rgb(255, 255, 255) !important;
      
    }
    .alert-message {
        color: rgb(192, 0, 0); // text color for confirm alerts
    }
    .alert-wrapper {
        background-color: rgb(139, 141, 0);
    }
  }
  
.loginAlertCss {
    color: rgb(0, 0, 0); // text color for basic alerts
    button {
        color: rgb(255, 255, 255) !important;
      
    }
    .alert-message {
        color: rgb(41, 2, 73) // text color for confirm alerts
    }
    .alert-wrapper {
        background-color: rgb(132, 141, 151);
    }
  }

.shadow{
  text-shadow: 1px 1px rgb(57, 56, 58);
  color:rgb(189, 13, 0);
}

:root { 
  ion-content{  
    --ion-background-color: none;
    background: darkslateblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -moz-linear-gradient(to right top, rgba(0,48,36,1) 0%, rgba(64,0,87,1) 100%); /* ff3.6+ */
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,48,36,1)), color-stop(100%, rgba(64,0,87,1))); /* safari4+,chrome */
    background-image: -webkit-linear-gradient(to right top, rgba(0,48,36,1) 0%, rgba(64,0,87,1) 100%); /* safari5.1+,chrome10+ */
    background-image: -o-linear-gradient(to right top, rgba(0,48,36,1) 0%, rgba(64,0,87,1) 100%); /* opera 11.10+ */
    background-image: -ms-linear-gradient(to right top, rgba(0,48,36,1) 0%, rgba(64,0,87,1) 100%); /* ie10+ */
    background-image: linear-gradient(to right top, rgba(0,48,36,1) 0%, rgba(64,0,87,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#400057', endColorstr='#003024',GradientType=1 );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#400057, endColorstr=#003024)";
  }
}

.card-metal{
  background-image:radial-gradient(ellipse at center, rgba(35, 13, 53, 0.877) 0%, rgba(38, 60, 63, 0.568) 100%), url('./assets/img/rfs-logo.svg'); /* w3c */
  background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(35,13,53,1) 0%, rgba(35,13,53,1) 0%, rgba(38,60,63,0.57) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(35,13,53,1)), color-stop(0%, rgba(35,13,53,1)), color-stop(100%, rgba(38,60,63,0.57))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse farthest-corner, rgba(35,13,53,1) 0%, rgba(35,13,53,1) 0%, rgba(38,60,63,0.57) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse farthest-corner, rgba(35,13,53,1) 0%, rgba(35,13,53,1) 0%, rgba(38,60,63,0.57) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(35,13,53,1) 0%, rgba(35,13,53,1) 0%, rgba(38,60,63,0.57) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(35,13,53,1) 0%, rgba(35,13,53,1) 0%, rgba(38,60,63,0.57) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#230D35', endColorstr='#263C3F',GradientType=1 ); /* ie6-9 */
}

.main-card{
  background: rgba(69, 64, 73, 1);
  background: -moz-linear-gradient(to right, rgb(69, 64, 73), rgb(144, 0, 240));
  background: -webkit-linear-gradient(to right, rgb(69, 64, 73), rgb(144, 0, 240));
  background: -o-linear-gradient(to right, rgb(69, 64, 73), rgb(144, 0, 240));
  background: -ms-linear-gradient(to right, rgb(69, 64, 73), rgb(144, 0, 240));
  background: linear-gradient(to right, rgba(144, 0, 240, 1) 10%, rgba(69, 64, 73, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
  // text-shadow: 1px 1px #743691;
}



  
.oauthcss {
  background:  rgb(54, 136, 60);
  border-color: rgb(81, 255, 0);
  max-width: 350px;
}

.halt{
  background:  rgb(255, 124, 124);
  border-color: rgb(255, 0, 0);
  max-width: 350px;
}

.neutral{
  background:  rgb(105, 114, 105);
  border-color: rgb(134, 151, 161);
  max-width: 350px;
}

.logout{
  background:  rgb(248, 248, 153);
  border-color: rgb(238, 255, 0);
  max-width: 350px;
}

.bright{
  background: -moz-linear-gradient(45deg, rgba(204,255,0,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(204,255,0,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(204,255,0,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(204,255,0,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(204,255,0,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(204,255,0,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#CCFF00',GradientType=1 ); /* ie6-9 */
}
  
.half{
  background: -moz-linear-gradient(45deg, rgba(161,48,227,1) 0%, rgba(1,127,128,1) 99%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(161,48,227,1)), color-stop(99%, rgba(1,127,128,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(161,48,227,1) 0%, rgba(1,127,128,1) 99%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(161,48,227,1) 0%, rgba(1,127,128,1) 99%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(161,48,227,1) 0%, rgba(1,127,128,1) 99%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(161,48,227,1) 0%, rgba(1,127,128,1) 99%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#A130E3',GradientType=1 ); /* ie6-9 */
}


*::-webkit-scrollbar {
  display: none;
}

p{
  text-align: left;
  text-indent: 10px;
}
 
pre {
text-align: left;
}

a:hover {
  cursor:pointer;
}
