
  <ion-row class="ion-justify-content-center ion-text-center foot">
    <ion-col size-xs="12"
          size-sm="12"
          size-md="6"
          size-lg="6"
          size-xl="6"
          class=" ion-text-center ion-align-self-center"
    >
      <img src="../../assets/img/devices.png" />
    </ion-col>
    <ion-col size-xs="12"
    size-sm="12"
    size-md="6"
    size-lg="6"
    size-xl="6"
    class="ion-text-center ion-align-self-center ion-text-capitalize"
    >
      <div>
        <ion-text>
          <h3>
            <strong>
              Quickly Access On-Demand
            </strong>
          </h3>
          <h5>
            On ANY Platform
          </h5>
        </ion-text>
      </div>
      <ion-button
        fill="solid"
        color="danger"
        size="large"
        routerLink="/purchase"
      >
        <ion-text style="font-stretch: condensed;">
          <ion-text style="font-size: large; ">
            Start My 7 Day Trial!
          </ion-text>
          <br />
          <ion-text style="font-size: small;">
            Get Some Wins Before You Pay!
          </ion-text>
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
