
h3{
  line-height: 1;
  font-size: xx-large;
  font-variant: small-caps;
  font-weight: 900;
  padding-right: 3px;
}
h5{
  line-height: 1;
  font-size: large;
  font-variant: small-caps;
}


img {
  min-width: 150px;
  position: relative;
  width: 60%;
}
.foot {
  padding-top: 70px;
  padding-bottom: 70px;
}
