<<<<<<< Updated upstream
.center-content{
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
=======

>>>>>>> Stashed changes

h3{
  line-height: 1;
  font-size: 2em;
  // margin-bottom: 1;
  font-variant: small-caps;
  font-weight: 800;
  font-stretch:semi-condensed;
}
