
h3{
  line-height: 1;
  font-size: x-large;
  // margin-bottom: 1;
  font-variant: small-caps;
  font-weight: 900;
}
h5{
  line-height: 1;
  font-size: large;
  // margin-bottom: 1;
  font-variant: small-caps;
}


img {
  max-height: 300px;
}