<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" color="light">
  <ion-grid class="ion-no-padding">
    <!-- Row 1 -->
    <ion-row style="border-bottom: 6px groove var(--ion-color-silver);">
      <ion-col class="ion-text-center ion-no-padding">

        <!--Landing-page -->
        <app-landing-page></app-landing-page>
      </ion-col>
    </ion-row>

    <!--Icon Row-->
    <ion-row
      class="ion-text-center ion-text-wrap ion-justify-content-center"
    >
      <ion-col class="toprow ion-text-center">
          <ion-text>
            <h3>
              Helping You Win Is Our Business
            </h3>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-wrap ion-no-padding ion-no-margin ion-justify-content-center">
      <ion-col  size-sm="12" size-md="12" size-lg="6" size-xl="4" class="padtopbot ion-text-center ion-align-self-center">
        <img src="../../../assets/img/football.png" />

        <h5>
          <ion-text>
            DraftKings Sports & Data
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            NFL, NBA (March Madness), CFB, GOLF & TENNIS
          </ion-text>
        </h6>
      </ion-col>

      <ion-col  size-sm="12" size-md="12" size-lg="6" size-xl="4" class="padtopbot ion-text-center ion-align-self-center">
        <img src="../../../assets/img/dashboard.webp" />

        <h5>
          <ion-text>
            Advanced Stats
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            Tournament Rankings, all DK relevant stats, power rankings,
            Moneyline and Bracketology
          </ion-text>
        </h6>
      </ion-col>
      <ion-col  size-sm="12" size-md="12" size-lg="6" offset-lg="3" size-xl="4" class="padtopbot ion-text-center ion-align-self-center">
        <img src="../../../assets/img/brains.webp" />

        <h5>
          <ion-text>
            Custom Picks and Projections
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            Value Rankings, cheat sheets, and Hand-picked data to give you the
            edge without wasting time
          </ion-text>
        </h6>
      </ion-col>
    </ion-row>
    <ion-row
      class="padtopbot ion-text-center ion-text-wrap ion-justify-content-center"
    >
      <ion-col  size-sm="12" size-md="12" size-lg="4" size-xl="4" class="padtopbot ion-align-self-center">
        <img src="../../../assets/img/price-tag.webp" />

        <h5>
          <ion-text>
            Industry Best Pricing
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            We offer the best price for sports advice on the web!
          </ion-text>
        </h6>
      </ion-col>
      <ion-col  size-sm="12" size-md="12" size-lg="4" size-xl="4" class="padtopbot ion-text-center ion-align-self-center">
        <img src="../../../assets/img/world.webp" />

        <h5>
          <ion-text>
            Weekly and Season-long
          </ion-text>
        </h5>
        <h6>
          <ion-text>
            Whether your playing a one-off contest or are in a season-long
            league, we've got you covered
          </ion-text>
        </h6>
      </ion-col>
    </ion-row>

    <!-- Video Row -->
    <ion-row class="silverbak  ion-text-wrap">

  <ion-col  size-sm="12" size-md="12" size-lg="6" size-xl="6" class="ion-align-self-center ion-text-wrap   ion-text-center">
    <div class="youtube">
      <ion-text>
            <h4>
              Watch The Video To See How
              <br />
              We Stay Consistently Profitable -
              <ion-text style="font-weight: 900;">
                Fast!
              </ion-text>
            </h4>
            <h5>
              What is your time worth to you?
            </h5>
          </ion-text>
        </div>
      </ion-col>

      <ion-col  size-sm="12" size-md="12" size-lg="6" size-xl="6" class="ion-align-self-center ion-text-wrap ion-text-center">
        <div class="video-container">
          <iframe
          [src]="trustedVideoUrl4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          >
        </iframe>
      </div>
    </ion-col>
  </ion-row>



    <!--Testimonials Row -->
    <ion-row >
      <app-endorsements></app-endorsements>
    </ion-row>

    <!-- Phonetest -->

    <ion-row
      style="padding: 10px 0; border-top: 3px groove var(--ion-color-silver); border-bottom: 3px groove var(--ion-color-silver);"
        class="ion-justify-content-center">
      <ion-col

        size-sm="12"
        size-md="12"
        size-lg="6"
        size-xl="6"
        class="ion-align-self-center ion-wrap-reverse ion-text-center"
      >
      <div>
        <ion-text>
          <h3>
            Signing Up As Easy As 1, 2, 3...
          </h3>
        </ion-text>
        <ion-text class="ion-text-start">
            <ul>
              <li>
              Click "Start My 7 Day Trial" Button Below
              </li>
              <li>
              Register Your Account Info
              </li>
              <li>
              Submit your Credit Card Details
              </li>
            </ul>
        </ion-text>
        <hr />
        <ion-button
          fill="solid"
          color="danger"
          size="large"
          routerLink="/membership"
        >
          <ion-text>
            Start My 7 Day Trial
          </ion-text>
        </ion-button>
      </div>
      </ion-col>
      <ion-col

        size-sm="12"
        size-md="12"
        size-lg="6"
        size-xl="6"
        class="ion-align-self-center ion-wrap-reverse ion-text-center">
      <div>
        <img style="min-width: 200px; padding-top: 30px;" src="../../assets/img/phone.png" />
      </div>
      </ion-col>
    </ion-row>

    <!-- Devices Row -->
    <ion-row>
      <!-- <ion-col> -->
        <app-devices></app-devices>
      <!-- </ion-col> -->
    </ion-row>

    <!-- Row 6 aka Footer -->
    <ion-row class="ion-justify-content-center blackback ion-text-center">
      <ion-col

        size-sm="12"
        size-md="12"
        size-lg="4"
        size-xl="4"
        class="ion-align-self-center ion-no-padding ion-text-start">
          <ion-text>
          <ion-text color="silver" style="font-weight: 900;text-transform: capitalize; font-variant: small-caps; font-size: x-large;">
            Location
          </ion-text>

          <hr />
          <ion-text color="light" style="font-size:large; font-weight: 600;">
            2406 14<sup>th</sup> Street
            <br />
            Suite A
            <br />
            Lubbock TX 79401
          </ion-text>
        </ion-text>
      </ion-col>
      <ion-col class="ion-no-padding ion-align-self-center" size="auto">
        <div class="payservice">
          <img
            src="../../assets/img/1.png"
            style="height: 40px; width: 65px;"
          />
          <img
            src="../../assets/img/2.png"
            style="height: 40px; width: 65px;"
          />
          <img
            src="../../assets/img/14.png"
            style="height: 40px; width: 65px;"
          />
          <img
            src="../../assets/img/22.png"
            style="height: 40px; width: 65px;"
          />
        </div>

        <div class="ion-text-end" style="align-content: flex-end; padding-right: 10px; cursor: pointer;">
          <img
            src="../../assets/img/stripe_solid_white_powered_by.svg"
            height="45px"
            href="https://www.stripe.com"
          />
        </div>
      </ion-col>
      <ion-col class="ion-no-padding ion-align-self-center">
        <div class="terms">
          <ion-button
            size="large"
            color="light"
            fill="clear"
            (click)="showModalTerms()"
          >
            <ion-text>
              Terms
            </ion-text>
          </ion-button>
          <ion-button
            size="large"
            color="light"
            fill="clear"
            (click)="showModalPrivacy()"
          >
            <ion-text>
              Privacy
            </ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
