.cta{
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.6) 37%, rgba(56,56,56,0.86) 78%, rgba(56,56,56,1) 100%), url('../../assets/img/field20.jpg'); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.25)), color-stop(37%, rgba(0,0,0,0.6)), color-stop(78%, rgba(56,56,56,0.86)), color-stop(100%, rgba(56,56,56,1))), url('../../assets/img/field20.jpg'); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.6) 37%, rgba(56,56,56,0.86) 78%, rgba(56,56,56,1) 100%), url('../../assets/img/field20.jpg'); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.6) 37%, rgba(56,56,56,0.86) 78%, rgba(56,56,56,1) 100%), url('../../assets/img/field20.jpg'); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.6) 37%, rgba(56,56,56,0.86) 78%, rgba(56,56,56,1) 100%), url('../../assets/img/field20.jpg'); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.6) 37%, rgba(56,56,56,0.86) 78%, rgba(56,56,56,1) 100%), url('../../assets/img/field20.jpg'); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#383838',GradientType=1 ), url('../../assets/img/field20.jpg'); /* ie6-9 */
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699)0%, rgba(0, 0, 0, 0.75)100%), url('../../assets/img/field20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    text-align: center;
}


.addLogo{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0.486)78%, rgba(0, 0, 0, 0.133)100%);
    background-size: 94%;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 15px;
}
.testi{
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.726) 0%, rgba(24, 24, 24, 0.781) 100%), url('../../assets/img/bball-drive.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.twit{
    background: linear-gradient(to bottom, rgba(5, 41, 1, 0.726) 0%, rgba(1, 41, 5, 0.781) 100%), url('../../assets/img/footfield.png');
    background-repeat: no-repeat;
    // background-size: cover;
    text-align: center;
}
.utuub{
    background: linear-gradient(rgba(0, 0, 0, .33), rgba(0, 0, 0, 0.75)), url('../../assets/img/ball-court2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.inspire{
    background: linear-gradient(rgba(74, 5, 80, 0.589), rgba(134, 60, 184, 0.527), url('../../assets/img/tribak.png'));
    background-repeat: no-repeat;
    background-size: 100%;
}


