<!-- <app-header [titleId]="titleId"></app-header> -->
<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <ion-grid>
    <!-- Row 1 -->
    <ion-row>

          <!--Landing-page -->
          <ion-col>

            <app-landing-page></app-landing-page>
          </ion-col>
      
          </ion-row>

          <!--Icon Row-->
          <ion-row>
            
              <app-icon-row></app-icon-row>
    
          </ion-row>

          <!-- Video Row -->
          <ion-row>
       <ion-col>

         <app-video></app-video>
        </ion-col>
            
          </ion-row>
       
          <!--Testimonials Row -->
          <ion-row>
          
              <app-endorsements></app-endorsements>
       
          </ion-row>

          <!-- Phonetest -->
          <ion-row>
            <ion-col>

              
              <app-phonetest></app-phonetest>
              
            </ion-col>
          </ion-row>

          <!-- Devices Row -->
          <ion-row >
            <ion-col>
              <app-devices></app-devices>
            </ion-col>
          </ion-row>
          

          <!-- Row 6 aka Footer -->
          <ion-row class="blackback ion-justify-content-center" >
            <!-- <ion-col>
              <ion-grid>
                <ion-row> -->

                  
                  
                  <ion-col
                    size-xl="3"
                    offset-xl="1.5"
                    size-lg="3"
                    offset-lg="1.5"
                    size-md="12"
                    size-sm="12"
                    class="ion-align-self-center"
                  >
                    <h4>
                      <ion-text color="secondary">
                        Location
                      </ion-text>
                    </h4>
                    <p>
                      <ion-text color="white">
                        2406 14th St
                        <br />
                        Suite A
                        <br />
                        Lubbock TX 79401
                      </ion-text>
                    </p>
                  </ion-col>
                  <ion-col 
                  size-xl="3"
                  size-lg="3"
                  size-md="12"
                  size-sm="12"
                  class="ion-align-self-center">
                  <div>
                    <img
                    class="card"
                    src="../assets/img/visa.svg"
                    height="40px"
                    />
                    <img
                    class="card"
                    src="../assets/img/mastercard.svg"
                    height="40px"
                    />
                    <img
                    class="card"
                    src="../assets/img/discover.svg"
                    height="40px"
                    />
                    <img
                    class="card"
                    src="../assets/img/amex.svg"
                    height="40px"
                    />
                        <br />
                        <img
                        class="card"
                        src="../assets/img/stripe.svg"
                        height="40px"
                        />
                      </div>
                    </ion-col>
                    <ion-col
                    size-xl="3"
                    size-lg="3"
                    size-md="12"
                    size-sm="12"
                    class="ion-align-self-center">
                    <div class="terms">
                      <ion-button size="small"  fill="clear" (click)="showModalTerms()">
                        <ion-text color="white">
                          
                          Terms
                          
                        </ion-text>
                      </ion-button>
                      <ion-button size="small"  fill="clear" (click)="showModalPrivacy()">
                        <ion-text color="white">
                          
                          Privacy
                          
                        </ion-text>
                      </ion-button>
                    </div>
                  <!-- </ion-col>
                </ion-row>
              </ion-grid> -->
            </ion-col>
                  
                </ion-row>
              </ion-grid>
  </ion-content>
