<app-header [titleId]= "titleId"></app-header>
<ion-content>
    <ion-card disabled>
      <ion-card-header color="primary">
        <ion-card-title>
          FIFA
        </ion-card-title>
      </ion-card-header>
      <ion-item color="medium">
        <ion-icon size="large" slot="start" color="dark" name="football"></ion-icon>
        <ion-text class="ion-text-wrap">Today's Value Rankings Embed Code</ion-text>
      </ion-item>
      <ion-item color="medium">
        <ion-icon size="large" slot="start" color="dark" name="football"></ion-icon>
        <ion-text class="ion-text-wrap">DK Accounting Embed Code</ion-text>
      </ion-item>
    </ion-card>
</ion-content>
<app-footer></app-footer>
