<ion-footer>
    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button color="msoft">
        <ion-icon name="rocket"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button color="facebk" href="https://fb.me/rankfantasysports">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="twittr" href="https://twitter.com/rankfsports">
          <ion-icon name="logo-twitter" color="white"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="deepo" href="https://www.instagram.com/rankfsports">
          <ion-icon name="logo-instagram" color="white"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-toolbar color="medium">
     </ion-toolbar>
  </ion-footer>
