<ion-header  >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button color="warning">
          </ion-menu-button>
        </ion-buttons>
     </ion-toolbar>
</ion-header>

<ion-content padding scroll-x="true">


    <iframe  width="900" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=E6DAB4F84D6D7119%21749&authkey=%21AFSA1yt6Rz5iHt0&em=2&AllowTyping=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>

<!--
    <div id="myExcelDiv" style="width: 402px; height: 346px"></div>
    <script type="text/javascript" src="https://r.office.microsoft.com/r/rlidExcelWLJS?v=1&kip=1"></script>
    <script type="text/javascript">
        /*
        * This code uses the Microsoft Office Excel JavaScript object model to programmatically insert the
        * Excel Web App into a div with id=myExcelDiv. The full API is documented at
        * https://msdn.microsoft.com/en-us/library/hh315812.aspx. There you can find out how to programmatically get
        * values from your Excel file and how to use the rest of the object model.
        */

        // Use this file token to reference Book1.xlsx in the Excel APIs
        var fileToken = "e6dab4f84d6d7119";
        var ewa = null;

        // Run the Excel load handler on page load.
        if (window.attachEvent)
        {
            window.attachEvent("onload", loadEwaOnPageLoad);
        } else
        {
            window.addEventListener("DOMContentLoaded", loadEwaOnPageLoad, true);
        }

        function loadEwaOnPageLoad()
        {
            var props = {
                uiOptions: {
                    showGridlines: true,
                    showRowColumnHeaders: false,
                    showParametersTaskPane: true
                },
                interactivityOptions: {
                    allowTypingAndFormulaEntry: false,
                    allowParameterModification: false,
                    allowSorting: true,
                    allowFiltering: true,
                    allowPivotTableInteractivity: false
                }
            };
            // Embed workbook using loadEwaAsync
            Ewa.EwaControl.loadEwaAsync(fileToken, "myExcelDiv", props, onEwaLoaded);
        }

        function onEwaLoaded(asyncResult)
        {
            if (asyncResult.getSucceeded())
            {
                // Use the AsyncResult.getEwaControl() method to get a reference to the EwaControl object
                ewa = asyncResult.getEwaControl();
                ewa.add_activeCellChanged(cellChanged);
            }
            else
            {
                alert("Async operation failed!");
            }
            // ...
        }

        // Handle the active cell changed event.
        function cellChanged(rangeArgs)
        {
            // Use the RangeEventArgs object to get information about the range.
            var sheetName = rangeArgs.getRange().getSheet().getName();
            var col = rangeArgs.getRange().getColumn();
            var row = rangeArgs.getRange().getRow();
            var value = rangeArgs.getFormattedValues();
            alert("The active cell is located at row " + (row + 1) + " and column " + (col + 1) + " with value '" + value + "'.");
            // ...
        }
    </script> -->

</ion-content>


<ion-footer translucent="true">
    <ion-fab vertical="bottom" horizontal="end" slot="float">
    <ion-fab-button color="secondary">
    <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" >
            <ion-fab-button color="success" href="https://fb.me/ranktowinfantasysports"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button color="medium" href="https://twitter.com/rankfsports"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
            <ion-fab-button color="danger" href="https://www.youtube.com/channel/UCxhm1g7GjuwkVWRrdpcZbcg"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
            </ion-fab-list>
    </ion-fab>

    <ion-toolbar color="medium">
            <ion-buttons>

            <ion-button color="success"  href="mailto://support@rankfantasysports.com>">
                <ion-ripple-effect></ion-ripple-effect>Support Request</ion-button>
            </ion-buttons>
    </ion-toolbar>

</ion-footer>
