<!-- <app-header></app-header> -->
<ion-content>
  <!-- <ion-grid>
    <ion-row >
      <ion-col > -->
        <ion-card text-center color="primary">
          <!-- <ion-img src="../../../assets/logo.jpg"></ion-img>  -->
          <ion-card-header>
              
            <ion-card-title>
              <ion-text color="secondary" style="text-shadow: 1px 1px #000000;">
                <strong>
                  Account Registration
                </strong>
              </ion-text>
            </ion-card-title>
            <h4 style="text-shadow: 1px 1px black;">
                          <ion-text color="warning" style="text-shadow: 1px 1px black;">Step 2:</ion-text>&nbsp;Register an Account
                        </h4>
                        <hr>
         
        </ion-card-header>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <ion-item color="medium" >
              <ion-label color="warning" position="floating">First Name</ion-label>
              <ion-input formControlName="firstName" required></ion-input>
            </ion-item>
           
            <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)"
                      class="alert alert-danger">
  
                    <div *ngIf="registerForm.controls['firstName'].errors.required">
                      <ion-text color="danger">

                        First Name is required.
                      </ion-text>
                    </div>
            </div>
             
            <ion-item  class="form-group" color="medium">
              <ion-label color="warning" position="floating">Last Name</ion-label>
              <ion-input formControlName="lastName" required></ion-input>
            </ion-item>
        
              <div *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)"
                  class="alert alert-danger">

                <div *ngIf="registerForm.controls['lastName'].errors.required">
                  <ion-text color="danger">

                    Last Name is required.
                  </ion-text>
                </div>
            </div>
                <ion-item color="medium" >
                  <ion-label  color="warning" position="floating">Email</ion-label>
                     <ion-input  style="width: 95%;" type="email" formControlName="email" required></ion-input>
                </ion-item>
               
                    <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
                      class="alert alert-danger">
  
                    <div *ngIf="registerForm.controls['email'].errors.required">
                     <ion-text color="danger">

                       Email is required.
                      </ion-text>
                    </div>
                    <div *ngIf="registerForm.controls['email'].errors.email">
                     <ion-text color="danger">

                       Email is not Valid.
                      </ion-text>
                    </div>
            </div>

                <ion-item color="medium">
                  <ion-label color="warning" position="floating">Password</ion-label>
                  <ion-input id="password" style="width: 89%;" [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password" required></ion-input>
                  
                  <ion-button color="medium" shape="round" item-end (click)="hide = !hide" *ngIf="hide" style="position: absolute; right: 5px; bottom: 5px; background: transparent;">
                    <ion-icon color="tertiary" name="eye" size="large">
                    </ion-icon>
                  </ion-button>
                  <ion-button color="medium" shape="round" item-end (click)="hide = !hide" *ngIf="!hide" style="position: absolute; right: 5px; bottom: 5px; background: transparent;">
                      <ion-icon color="tertiary" name="eye-off" size="large">
                      </ion-icon>
                    </ion-button>
                  </ion-item>
              
                    <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
                      class="alert alert-danger">
  
                    <div *ngIf="registerForm.controls['password'].errors.required">
                     <ion-text color="danger">

                       Password is required.
                      </ion-text>
                    </div>
                    <div *ngIf="registerForm.controls['password'].hasError('minlength')">
                      <ion-text color="danger">

                        Password must be at least 8 characters long.
                      </ion-text>
                    </div>
                    <div *ngIf="registerForm.controls['password'].errors.maxlength">
                     <ion-text color="danger">

                       Password must be less than 25 characters long.
                      </ion-text>
                    </div>
                    <div *ngIf="registerForm.controls['password'].errors.pattern">
                     <ion-text color="danger">

                       Password must contain 1 uppercase, 1 lowercase and 1 digit.
                      </ion-text>
                    </div>
                    </div>
                  
                  
              <ion-button strong type="submit"  color="success" expand="full" [disabled]="!registerForm.valid">
                <ion-icon name="checkmark" slot="end"></ion-icon>
                <ion-text class="shadow"><strong>Register</strong></ion-text><ion-ripple-effect></ion-ripple-effect>
              </ion-button>
            </form>
                        
            <ion-button color="danger" type="button" (click)="GoogleRegister()" expand="full"><ion-text>Register with&nbsp;</ion-text><ion-icon name="logo-google"> </ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            <ion-button color="twittr" type="button" (click)="TwitterRegister()" expand="full"><ion-text>Register with&nbsp;</ion-text><ion-icon name="logo-twitter">  </ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            <ion-button color="facebk" type="button" (click)="FacebookRegister()" expand="full"><ion-text>Register with&nbsp;</ion-text><ion-icon name="logo-facebook"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            <!-- <ion-grid text-center>
              <ion-row >
                <ion-col>
                  <ion-button strong shape="round" routerLink="/login" color="warning" fill="clear" >
                    <ion-text color="warning"><strong>I Have<br> an Account</strong></ion-text>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid> -->
        <!-- </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
            </ion-card>
</ion-content>

