<app-header></app-header>

<ion-header>
  <ion-toolbar>
    <ion-title>NBA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
      <ion-card-header color="primary">
        <ion-card-title>
          NBA
        </ion-card-title>
      </ion-card-header>
      <ion-item disabled color="medium" routerLink="/table5">
        <ion-icon size="large" slot="start" color="danger" name="basketball"></ion-icon>
        <ion-label text-wrap>NBA Draft Kings Embed Code</ion-label>
      </ion-item>
      <ion-item disabled color="medium" routerLink="/table6">
        <ion-icon size="large" slot="start" color="danger" name="basketball"></ion-icon>
        <ion-label text-wrap>NBA Playoff Team Power Rankings Embed Code</ion-label>
      </ion-item>
      <ion-item disabled color="medium" routerLink="/table7">
        <ion-icon size="large" slot="start" color="danger" name="basketball"></ion-icon>
        <ion-label text-wrap>NBA Playoff Game Predictions Embed Code</ion-label>
      </ion-item>
    </ion-card>
</ion-content>
<app-footer></app-footer>
