<ion-card color="primary" class="ion-padding">
  <ion-grid>
    <ion-row class="justify-content-around">
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12" class="align-self-center" >
        <img src="../../assets/img/devices.png"/>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12" class="align-self-center ion-text-capitalize">
        <div class="center-content">
          <ion-text>
            <h3>
              Access to data & cheatsheets on any platform
            </h3>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
